<div class="privacy-page">
  <start-page-section [background]="'primary'" [pageTitle]="true">
    <hero-header [heroText]="screenMode === 'mobile' ? '' : heroText" heroTitle="Datenschutz"></hero-header>
  </start-page-section>
  <start-page-section sectionTitle="Nutzungsregeln"> <usage-hints></usage-hints></start-page-section>
  <start-page-section sectionTitle="Nutzungsbestimmungen für Geodaten und Karten">
    <terms-of-use-geodata-and-maps></terms-of-use-geodata-and-maps
  ></start-page-section>
</div>
