<api-dialog-wrapper title="Symbolauswahl" (closeEvent)="close()">
  <ng-container content>
    <drawing-symbols
      class="symbols--is-flex"
      name="symbols"
      [symbolValue]="webStyleSymbol"
      (symbolChange)="onSymbolChange($event)"
      (sizeChange)="onSizeChange($event)"
      (rotationChange)="onRotationChange($event)"
    ></drawing-symbols>
  </ng-container>
  <ng-container actions>
    <button mat-button [matDialogClose]="{webStyleSymbol, size, rotation}">Hinzufügen</button>
  </ng-container>
</api-dialog-wrapper>
