<mat-expansion-panel
  #expansionPanel
  [disabled]="this.disabled"
  [expanded]="this.forceExpanded"
  [ngClass]="{'list-item--no-content-indent': removeContentIndent}"
  class="list-item"
  hideToggle
>
  <mat-expansion-panel-header class="list-item__header">
    <div class="list-item__header__content">
      <mat-icon
        [fontIcon]="expansionPanel.expanded ? 'arrow_drop_down' : 'arrow_right'"
        [ngClass]="{'list-item__header__content__toggle--position-end': toggleButtonPosition === 'end'}"
        class="list-item__header__content__toggle"
      ></mat-icon>
      <ng-content select="[header-icon]"></ng-content>
      <p [title]="overlayTitle" class="list-item__header__content__title">{{ overlayTitle }}</p>
      <a
        (click)="$event.stopPropagation()"
        *ngIf="this.metaDataLink"
        class="list-item__header__content__info-link"
        href="{{ this.metaDataLink }}"
        rel="noopener noreferrer"
        target="_blank"
        title="Metadaten anzeigen"
      >
        <span class="list-item__header__content__info-link__icon">
          <mat-icon svgIcon="ktzh_info"></mat-icon>
        </span>
      </a>
    </div>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <ng-content></ng-content>
  </ng-template>
</mat-expansion-panel>
