<mat-expansion-panel
  [expanded]="this.forceExpanded"
  hideToggle
  class="list-item"
  #expansionPanel
  [disabled]="this.disabled"
  [ngClass]="{'list-item--no-content-indent': removeContentIndent}"
>
  <mat-expansion-panel-header class="list-item__header">
    <div class="list-item__header__content">
      <mat-icon
        class="list-item__header__content__toggle"
        [fontIcon]="expansionPanel.expanded ? 'arrow_drop_down' : 'arrow_right'"
        [ngClass]="{'list-item__header__content__toggle--position-end': toggleButtonPosition === 'end'}"
      ></mat-icon>
      <ng-content select="[header-icon]"></ng-content>
      <p class="list-item__header__content__title" [title]="overlayTitle">{{ overlayTitle }}</p>
      <a
        *ngIf="this.metaDataLink"
        href="{{ this.metaDataLink }}"
        (click)="$event.stopPropagation()"
        target="_blank"
        rel="noopener noreferrer"
        title="Metadaten anzeigen"
        class="list-item__header__content__info-link"
      >
        <mat-icon class="list-item__header__content__info-link__icon">info</mat-icon>
      </a>
    </div>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <ng-content></ng-content>
  </ng-template>
</mat-expansion-panel>
