@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

// The radio group wraps the table, so it has to be a block to not collapse it.
mat-radio-group {
  display: block;
  width: 100%;
}

:host ::ng-deep .feature-info-content__wrapper {
  .mat-mdc-radio-button {
    .mdc-form-field {
      font-size: 12px;
    }

    .mdc-radio {
      padding: 0;

      .mdc-radio__native-control {
        width: auto;
      }

      .mat-mdc-radio-touch-target {
        width: auto;
      }
    }
  }
}

/**
  The following variables are used for adding the borders on highlight. We cannot use box-sizing: border-box in <td>
   because tables do not adhere to these standards. That's why we "fake" borders by adding an inset box-shadow for each
   side and combine them as needed (middle columns have left-right; bottom column has left-right-bottom).
 */
$border-size: 2px;
$right-border: inset calc(-1 * $border-size) 0 0 0 ktzh-variables.$zh-active-blue;
$left-border: inset $border-size 0 0 0 ktzh-variables.$zh-active-blue;
$bottom-border: inset 0 calc(-1 * $border-size) 0 0 ktzh-variables.$zh-active-blue;

// This class is set while the feature is hovered or pinned.
.feature-info-content__cell--highlighted {
  -webkit-box-shadow: $left-border, $right-border;
  box-shadow: $left-border, $right-border;
}

// Add background on col header on hover
thead .feature-info-content__cell--highlighted {
  background-color: ktzh-variables.$zh-active-blue !important;
}

// Add border at the bottom for last column cell
tbody tr:last-of-type .feature-info-content__cell--highlighted {
  -webkit-box-shadow: $bottom-border, $left-border, $right-border;
  box-shadow: $bottom-border, $left-border, $right-border;
}

// The result columns are clickable to pin a feature, and are given a fixed width so that they do not jump while hovering.
.feature-info-content__column {
  min-width: 200px;
  width: 100%;
  cursor: pointer;
}

.feature-info-content__link {
  @include mixins.external-link-decoration;
}

.feature-info-content__image {
  object-fit: contain;
}

.feature-info-content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  position: relative;

  & mat-radio-button {
    pointer-events: none;
  }
}

.feature-info-content__attribute {
  max-width: 100%;
}
