@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;

:host ::ng-deep .feature-info-content__table__row__column__wrapper {
  .mat-mdc-radio-button {
    .mdc-form-field {
      font-size: 12px;
    }

    .mdc-radio {
      padding: 0;

      .mdc-radio__native-control {
        width: auto;
      }

      .mat-mdc-radio-touch-target {
        width: auto;
      }
    }
  }
}

/**
  The following variables are used for adding the borders on highlight. We cannot use box-sizing: border-box in <td>
   because tables do not adhere to these standards. That's why we "fake" borders by adding an inset box-shadow for each
   side and combine them as needed (middle columns have left-right; bottom column has left-right-bottom).

   The fixed border is used for adding a box-shadow on the right of the left-most (attribute) column.
 */
$border-size: 2px;
$right-border: inset calc(-1 * $border-size) 0 0 0 ktzh-variables.$zh-active-blue;
$left-border: inset $border-size 0 0 0 ktzh-variables.$zh-active-blue;
$bottom-border: inset 0 calc(-1 * $border-size) 0 0 ktzh-variables.$zh-active-blue;
// The same holds true for our right hand side border in the first column.
$fixed-border: inset calc(-1 * $border-size) 0 0 0 ktzh-variables.$zh-black100;

.feature-info-content {
  width: 100%;
  overflow: auto;

  .feature-info-content__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 14px;

    & .feature-info-content__table__row {
      vertical-align: top;

      // alternate row color with grey for odd rows
      &:nth-child(odd) {
        .feature-info-content__table__row__column {
          background-color: ktzh-variables.$zh-light-grey;
        }
      }

      // override the upper left cell to be white (as per the design)
      &:first-child > .feature-info-content__table__row__column--header:first-child {
        background-color: ktzh-variables.$zh-white;
        z-index: z-index-variables.$feature-info-content-table-header;
      }

      & .feature-info-content__table__row__column {
        background-color: ktzh-variables.$zh-white;
        padding: 6px 8px;
        word-break: break-word;

        &--attribute {
          @include mixins.multiline-ellipsis(1);
        }

        &--header {
          font-size: 12px;
          font-family: ktzh-variables.$zh-font-family-bold;

          // make the left-most column headers sticky and add a right border
          &:nth-of-type(1) {
            max-width: 130px;
            min-width: 130px;
            width: 130px;
            position: sticky;
            left: 0;
            color: ktzh-variables.$zh-black60;
          }

          &:nth-of-type(1)::after {
            content: '';
            position: absolute;
            top: 0;
            right: -6px;
            width: 6px;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
          }

          // make all other headers (i.e. top row minus left-most) fixed width for fixed column width
          &:not(&:nth-of-type(1)) {
            min-width: 200px;
          }
        }

        // This class is added automatically by Angular when hovered
        &--highlighted {
          -webkit-box-shadow: $left-border, $right-border;
          box-shadow: $left-border, $right-border;
        }

        .feature-info-content__table__row__column__link {
          text-decoration: none;
          color: ktzh-variables.$zh-active-blue;
          display: inline-flex;
          height: 0;

          &:hover {
            text-decoration: underline;
          }
        }

        .feature-info-content__table__row__column__wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px;
        }
      }

      // Add background on col header on hover
      &:first-of-type {
        & .feature-info-content__table__row__column--highlighted {
          background-color: ktzh-variables.$zh-active-blue !important;
        }
      }

      // Add border at the bottom for last column cell
      &:last-of-type {
        & .feature-info-content__table__row__column--highlighted {
          -webkit-box-shadow: $bottom-border, $left-border, $right-border;
          box-shadow: $bottom-border, $left-border, $right-border;
        }
      }
    }
  }
}
