<div class="feature-info-content">
  <table class="feature-info-content__table" attr.aria-describedby="Informationen zu {{ layer.title }}">
    <tr class="feature-info-content__table__row">
      <th class="feature-info-content__table__row__column feature-info-content__table__row__column--header" scope="col"></th>
      <th
        (mouseenter)="onFeatureHoverStart(tableHeader.fid)"
        (mouseleave)="onFeatureHoverEnd(tableHeader.fid)"
        (click)="toggleHighlightForFeature(tableHeader.fid, highlightButton, tableHeader.hasGeometry)"
        *ngFor="let tableHeader of tableHeaders"
        [featureId]="tableHeader.fid"
        [layerId]="layer.layer"
        [topicId]="topicId"
        class="feature-info-content__table__row__column feature-info-content__table__row__column--header"
        scope="col"
        tableColumnIdentifier
      >
        <div class="feature-info-content__table__row__column__wrapper">
          {{ tableHeader.displayValue.split(' ')[1] }}
          <mat-radio-button [disabled]="!tableHeader.hasGeometry" #highlightButton labelPosition="before"> Markieren: </mat-radio-button>
        </div>
      </th>
    </tr>
    <ng-container *ngFor="let tableRow of tableRows | keyvalue: preserveKeyValueOrder">
      <tr class="feature-info-content__table__row">
        <th class="feature-info-content__table__row__column feature-info-content__table__row__column--header" scope="col">
          <span class="feature-info-content__table__row__column--attribute" [matTooltip]="tableRow.key" showTooltipIfTruncated>{{
            tableRow.key
          }}</span>
        </th>
        <td
          (mouseenter)="onFeatureHoverStart(cellValue.fid)"
          (mouseleave)="onFeatureHoverEnd(cellValue.fid)"
          *ngFor="let cellValue of tableRow.value"
          [featureId]="cellValue.fid"
          [layerId]="layer.layer"
          [topicId]="topicId"
          class="feature-info-content__table__row__column"
          tableColumnIdentifier
        >
          @switch (cellValue.cellType) {
            @case ('url') {
              <a
                class="feature-info-content__table__row__column__link"
                [href]="cellValue.url"
                target="_blank"
                rel="noopener noreferrer"
                [title]="cellValue.displayValue"
              >
                {{ cellValue.displayValue
                }}<span class="feature-info-content__table__row__column__link__icon"><mat-icon [inline]="true">north_east</mat-icon></span>
              </a>
            }
            @case ('image') {
              <a [href]="cellValue.url" target="_blank" rel="noopener noreferrer" [title]="cellValue.displayValue">
                <img class="feature-info-content__table__row__column__image" [src]="cellValue.src" [alt]="cellValue.alt" />
              </a>
            }
            @case ('text') {
              {{ cellValue.displayValue }}
            }
          }
        </td>
      </tr>
    </ng-container>
  </table>
</div>
