@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

$border-size: 2px;
$right-border: inset calc(-1 * $border-size) 0 0 0 ktzh-variables.$zh-active-blue;
$left-border: inset $border-size 0 0 0 ktzh-variables.$zh-active-blue;
$bottom-border: inset 0 calc(-1 * $border-size) 0 0 ktzh-variables.$zh-active-blue;

.feature-info-content {
  width: 100%;

  mat-radio-group {
    display: block;
    width: 100%;
  }
}

.feature-info-content__feature-header {
  cursor: pointer;
}

.feature-info-content__feature-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  position: relative;

  .mat-mdc-radio-button {
    pointer-events: none;

    .mdc-form-field {
      font-size: 12px;
    }

    .mdc-radio {
      padding: 0;

      .mdc-radio__native-control,
      .mat-mdc-radio-touch-target {
        width: auto;
      }
    }
  }
}

.feature-info-content__feature-cell--highlighted {
  box-shadow: $left-border, $right-border;
}

.info-table__table thead .feature-info-content__feature-cell--highlighted {
  background-color: ktzh-variables.$zh-active-blue !important;
}

.info-table__table tbody .info-table__row:last-of-type .feature-info-content__feature-cell--highlighted {
  box-shadow: $bottom-border, $left-border, $right-border;
}

.feature-info-content__link {
  @include mixins.external-link-decoration;
}

.feature-info-content__image {
  object-fit: contain;
}

.feature-info-item-icon {
  margin: 0 12px;
  width: 24px;
  height: 24px;
  min-width: 24px;
}
