<div class="feature-info-content" #container>
  <table class="feature-info-content__table" [aria-describedby]="'Informationen zu ' + layer().title">
    <tr class="feature-info-content__table__row">
      <th
        class="feature-info-content__table__row__column feature-info-content__table__row__column--header"
        scope="col"
        [style.min-width]="tableHeaderWidth()"
      ></th>
      @for (tableHeader of tableHeaders(); track tableHeader) {
        <th
          (mouseenter)="onFeatureHoverStart(tableHeader.fid)"
          (mouseleave)="onFeatureHoverEnd()"
          (click)="toggleHighlightForFeature(tableHeader.fid, tableHeader.hasGeometry)"
          [featureId]="tableHeader.fid"
          [layerId]="layer().layer"
          [topicId]="topicId()"
          class="feature-info-content__table__row__column feature-info-content__table__row__column--header"
          [class.feature-info-content__table__row__column--highlighted]="highlightedFeatureId() === tableHeader.fid"
          scope="col"
          tableColumnIdentifier
        >
          <div class="feature-info-content__table__row__column__wrapper">
            {{ tableHeader.displayValue.split(' ')[1] }}
            <mat-radio-button
              [disabled]="!tableHeader.hasGeometry"
              [checked]="highlightedFeatureId() === tableHeader.fid"
              labelPosition="before"
            >
              Markieren:
            </mat-radio-button>
          </div>
        </th>
      }
    </tr>
    @for (tableRow of tableRows() | keyvalue: preserveKeyValueOrder; track tableRow) {
      <tr class="feature-info-content__table__row">
        <th
          class="feature-info-content__table__row__column feature-info-content__table__row__column--header"
          scope="col"
          [style.min-width]="tableHeaderWidth()"
        >
          <span class="feature-info-content__table__row__column--attribute">
            {{ tableRow.key }}
          </span>
        </th>
        @for (cellValue of tableRow.value; track cellValue) {
          <td
            (mouseenter)="onFeatureHoverStart(cellValue.fid)"
            (mouseleave)="onFeatureHoverEnd()"
            [featureId]="cellValue.fid"
            [layerId]="layer().layer"
            [topicId]="topicId()"
            class="feature-info-content__table__row__column"
            [class.feature-info-content__table__row__column--highlighted]="highlightedFeatureId() === cellValue.fid"
            tableColumnIdentifier
          >
            @switch (cellValue.cellType) {
              @case ('url') {
                <a
                  class="feature-info-content__table__row__column__link"
                  [href]="cellValue.url"
                  target="_blank"
                  rel="noopener noreferrer"
                  [title]="cellValue.displayValue"
                >
                  {{ cellValue.displayValue }}
                </a>
              }
              @case ('image') {
                <a [href]="cellValue.url" target="_blank" rel="noopener noreferrer" [title]="cellValue.displayValue">
                  <img
                    class="feature-info-content__table__row__column__image"
                    [src]="cellValue.src"
                    [alt]="cellValue.alt"
                    width="200"
                    height="200"
                  />
                </a>
              }
              @case ('text') {
                {{ cellValue.displayValue }}
              }
            }
          </td>
        }
      </tr>
    }
  </table>
  <resize-handler
    [minWidth]="minTableHeaderWidth"
    [maxWidth]="maxTableHeaderWidth()"
    location="left"
    (resizeEvent)="resize($event)"
    class="feature-info-content__resize"
    [style.width]="tableHeaderWidth()"
  />
</div>
