<div class="active-map-item-header">
  <button
    class="active-map-item-header__button"
    (click)="activeMapItemExpansionPanel().toggle()"
    [attr.data-test-id]="activeMapItemExpansionPanel().expanded ? 'hide-layers-of-the-map' : 'show-layers-of-the-map'"
    mat-icon-button
  >
    <mat-icon [fontIcon]="activeMapItemExpansionPanel().expanded ? 'arrow_drop_down' : 'arrow_right'" />
  </button>
  <div class="active-map-item-header__image-container">
    @if (!activeMapItem().isSingleLayer && activeMapItem().mapImageUrl) {
      <img
        class="active-map-item-header__image-container__image"
        [class.active-map-item-header__image-container__image--inactive]="!activeMapItem().visible"
        [src]="activeMapItem().mapImageUrl"
        [alt]="activeMapItem().title"
      />
    }
    <mat-checkbox
      class="active-map-item-header__image-container__checkbox"
      [checked]="activeMapItem().visible"
      (change)="toggleMapItemVisibility(activeMapItem())"
    />
    <loading-and-process-bar
      [loadingState]="activeMapItem().loadingState"
      [viewProcessState]="activeMapItem().viewProcessState"
      class="active-map-item-header__image-container__progress-bar"
    />
  </div>
  <div class="active-map-item-header__title-container">
    <p
      class="active-map-item-header__title-container__title"
      [class.active-map-item-header__title-container__title--inactive]="!activeMapItem().visible"
      [class.active-map-item-header__title-container__title--inverted]="activeMapItemExpansionPanel().expanded"
      [matTooltip]="activeMapItem().title"
    >
      {{ activeMapItem().title }}
    </p>
    <div
      class="active-map-item-header__title-container__options"
      [class.active-map-item-header__title-container__options--inverted]="activeMapItemExpansionPanel().expanded"
      [class.active-map-item-header__title-container__options--mobile]="screenMode() === 'mobile'"
    >
      @if (activeMapItem().geometadataUuid; as geometadataUuid) {
        <a
          class="active-map-item-header__button"
          [routerLink]="['/', mainPageEnum.Data, dataCataloguePageEnum.Maps, geometadataUuid]"
          mat-icon-button
          data-test-id="info"
        >
          <mat-icon>info</mat-icon>
        </a>
        <mat-divider
          class="active-map-item-header__divider"
          [class.active-map-item-header__divider--inverted]="activeMapItemExpansionPanel().expanded"
          [vertical]="true"
        />
      }
      <button class="active-map-item-header__button" (click)="removeActiveMapItem(activeMapItem())" mat-icon-button data-test-id="delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider
        class="active-map-item-header__divider"
        [class.active-map-item-header__divider--inverted]="activeMapItemExpansionPanel().expanded"
        [vertical]="true"
      />
    </div>
  </div>
  <div class="active-map-item-header__drag-handle">
    <ng-content select="[activeMapItemDragHandle]" />
    <mat-icon
      class="active-map-item-header__drag-handle__icon"
      [class.active-map-item-header__drag-handle__icon--disabled]="isDragAndDropDisabled()"
      cdkDragHandle
    >
      drag_indicator
    </mat-icon>
  </div>
</div>
