@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.active-map-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 44px;

  &:hover .active-map-item-header__title-container__options {
    display: flex !important;
  }

  .active-map-item-header__image-container {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;

    .active-map-item-header__image-container__image {
      aspect-ratio: 1 / 1;
      height: 100%;
    }

    .active-map-item-header__image-container__checkbox {
      position: absolute;
      @include mixins.center-absolute-element;
      @include mixins.mat-checkbox-override-color(ktzh-variables.$zh-active-blue, ktzh-variables.$zh-white);

      ::ng-deep {
        .mdc-checkbox__ripple {
          opacity: 0;
        }
      }
    }
  }

  .active-map-item-header__divider {
    height: 40%;
    border-right-color: functions.get-color-from-palette(ktzh-variables.$zh-primary);

    &--active {
      border-right-color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
    }
  }

  .active-map-item-header__title-container {
    display: grid;
    width: 100%;

    .active-map-item-header__title-container__title {
      grid-column: 1;
      grid-row: 1;

      @include mixins.multiline-ellipsis(2);
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 1em;
      overflow: hidden;
    }

    .active-map-item-header__title-container__options {
      grid-column: 1;
      grid-row: 1;
      justify-self: right;

      display: none;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      height: inherit;
      width: 142px;
      background: linear-gradient(90deg, transparent 0%, ktzh-variables.$zh-white 37.5%);

      &--active {
        display: flex;
        background: linear-gradient(90deg, transparent 0%, functions.get-color-from-palette(ktzh-variables.$zh-primary) 37.5%);
      }
    }
  }

  .active-map-item-header__drag-handle {
    min-width: 44px;
    height: 44px;
    display: grid;
    align-items: center;

    .active-map-item-header__drag-handle__icon {
      justify-self: center;
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.active-map-item-header__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
