<p>Attribut-Filter</p>
<mat-card *ngFor="let activeMapFilter of activeMapFilters">
  <mat-card-header>
    <mat-card-title>{{ activeMapFilter.filterConfig.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="activeMapFilter.filterConfig.description">{{ activeMapFilter.filterConfig.description }}</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngFor="let activeMapFilterValue of activeMapFilter.activeMapFilterValues">
    <mat-checkbox
      [checked]="!activeMapFilterValue.mapFilterValue.isActive"
      (change)="changeFilter(activeMapFilter.parameter, activeMapFilterValue.name, $event.checked)"
      >{{ activeMapFilterValue.name }}</mat-checkbox
    >
  </ng-container>
</mat-card>
