<section [ngClass]="this.background ? 'section__' + this.background : ''" class="section">
  <div class="section__content-container">
    <span *ngIf="this.sectionTitle" class="section__content-container__title-line"></span>
    <div class="section__content-container__title-wrapper">
      <h1 class="section__content__title-wrapper__title">{{ this.sectionTitle }}</h1>
      <a
        *ngIf="this.titleLink"
        [href]="this.titleLink.url"
        class="section__content-container__title-wrapper__link"
        mat-button
        target="_blank"
      >
        {{ this.titleLink.displayTitle }}
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
    <div class="section__content-container__content">
      <ng-content></ng-content>
    </div>
  </div>
</section>
