<slider-wrapper
  class="time-slider"
  title="{{ timeSliderConfiguration.name }}"
  description="{{ timeSliderConfiguration.description }}"
  [value]="timeExtent | timeExtentToString: timeSliderConfiguration.dateFormat : hasSimpleCurrentValue"
  [minValue]="availableDates[effectiveMinimumDateIndex] | dateToString: timeSliderConfiguration.dateFormat"
  [maxValue]="availableDates[effectiveMaximumDateIndex] | dateToString: timeSliderConfiguration.dateFormat"
  [overwriteFooter]="hasDatePicker"
>
  <ng-container content>
    <mat-slider [min]="effectiveMinimumDateIndex" [max]="effectiveMaximumDateIndex" [step]="1" color="primary" class="time-slider__slider">
      <ng-container *ngIf="this.timeSliderConfiguration.range; else multiSlider">
        <input matSliderThumb (valueChange)="setValidTimeExtent(true)" [(ngModel)]="firstSliderPosition" />
      </ng-container>
      <ng-template #multiSlider>
        <input matSliderStartThumb (valueChange)="setValidTimeExtent(true)" [(ngModel)]="firstSliderPosition" />
        <input matSliderEndThumb (valueChange)="setValidTimeExtent(false)" [(ngModel)]="secondSliderPosition" />
      </ng-template>
    </mat-slider>
  </ng-container>
  <ng-container footer>
    <div class="time-slider__footer">
      <div>
        <mat-form-field class="time-slider__footer__date-picker">
          <input
            matInput
            (dateChange)="selectedDatePickerDate($event.value, true)"
            [matDatepicker]="minDatePicker"
            [min]="availableDates[0]"
            [max]="availableDates[effectiveMaximumDateIndex - 1]"
          />
          <mat-datepicker
            #minDatePicker
            [startView]="datePickerStartView"
            [startAt]="availableDates[effectiveMinimumDateIndex]"
            (yearSelected)="yearOrMonthSelected($event, minDatePicker, true, 'years')"
            (monthSelected)="yearOrMonthSelected($event, minDatePicker, true, 'months')"
          ></mat-datepicker>
        </mat-form-field>
        <button
          mat-button
          [ngClass]="{'time-slider__footer__button--modified': effectiveMinimumDateIndex !== 0}"
          class="time-slider__footer__button"
          (click)="minDatePicker.open()"
        >
          {{ availableDates[effectiveMinimumDateIndex] | dateToString: timeSliderConfiguration.dateFormat }}
        </button>
      </div>
      <div>
        <mat-form-field class="time-slider__footer__date-picker">
          <input
            matInput
            (dateChange)="selectedDatePickerDate($event.value, false)"
            [matDatepicker]="maxDatePicker"
            [min]="availableDates[effectiveMinimumDateIndex + 1]"
            [max]="availableDates[availableDates.length - 1]"
          />
          <mat-datepicker
            #maxDatePicker
            [startView]="datePickerStartView"
            [startAt]="availableDates[effectiveMaximumDateIndex]"
            (yearSelected)="yearOrMonthSelected($event, maxDatePicker, false, 'years')"
            (monthSelected)="yearOrMonthSelected($event, maxDatePicker, false, 'months')"
          ></mat-datepicker>
        </mat-form-field>
        <button
          mat-button
          [ngClass]="{'time-slider__footer__button--modified': effectiveMaximumDateIndex !== availableDates.length - 1}"
          class="time-slider__footer__button"
          (click)="maxDatePicker.open()"
        >
          {{ availableDates[effectiveMaximumDateIndex] | dateToString: timeSliderConfiguration.dateFormat }}
        </button>
      </div>
    </div>
  </ng-container>
</slider-wrapper>
