<div class="support-page-navigation">
  <h1 class="mat-headline-4 support-page-navigation__header">Themen</h1>
  <div class="support-page-navigation__buttons">
    <a routerLink="faq" mat-button routerLinkActive="support-page-navigation__button--active" class="support-page-navigation__button"
      >FAQ</a
    >
    <a routerLink="contact" mat-button routerLinkActive="support-page-navigation__button--active" class="support-page-navigation__button"
      >Supportanfrage</a
    >
    <a
      routerLink="useful-information"
      mat-button
      routerLinkActive="support-page-navigation__button--active"
      class="support-page-navigation__button"
      >Hilfreiche Informationen</a
    >
  </div>
</div>
