<div class="support-page-navigation">
  <h1 class="mat-headline-4 support-page-navigation__header">Themen</h1>
  <a routerLink="faq" routerLinkActive="support-page-navigation__button--active" class="support-page-navigation__button">FAQ</a>
  <a routerLink="contact" routerLinkActive="support-page-navigation__button--active" class="support-page-navigation__button"
    >Supportanfrage</a
  >
  <a routerLink="useful-links" routerLinkActive="support-page-navigation__button--active" class="support-page-navigation__button"
    >Hilfreiche Links</a
  >
</div>
