<bottom-sheet-overlay *ngIf="screenMode === 'mobile'" (closeEvent)="close()" [isVisible]="isVisible" [isBlue]="true" class="bottom-sheet">
  <div class="map-management-mobile__header" header>
    <div class="map-management-mobile__header__buttons">
      <button
        [ngClass]="{'map-management-mobile__header__buttons__button--selected': activeTab === 'activeMaps'}"
        class="map-management-mobile__header__buttons__button"
        mat-flat-button
        (click)="changeTabs('activeMaps')"
      >
        <mat-icon svgIcon="ktzh_map_management"></mat-icon>
        Aktive Karten
        <span
          class="map-management-mobile__header__badge"
          [ngClass]="{'map-management-mobile__header__badge--hidden': activeMapItems.length === 0}"
          [matBadge]="activeMapItems.length"
        ></span>
      </button>
      <button
        [ngClass]="{'map-management-mobile__header__buttons__button--selected': activeTab === 'mapsCatalogue'}"
        class="map-management-mobile__header__buttons__button"
        mat-flat-button
        (click)="changeTabs('mapsCatalogue')"
      >
        <mat-icon svgIcon="ktzh_map_catalogue"></mat-icon>
        Kartenkatalog
      </button>
    </div>
    <div *ngIf="activeTab === 'mapsCatalogue'" class="map-data-catalogue__content__filter">
      <input #filterInput class="map-data-catalogue__content__filter__input" placeholder="Karten und Layer filtern" type="text" />
      <span class="map-data-catalogue__content__filter__input-icon">
        <mat-icon svgIcon="ktzh_search"></mat-icon>
      </span>
    </div>
  </div>
  <div class="map-management-mobile__content" [ngSwitch]="activeTab" body>
    <active-map-items *ngSwitchCase="'activeMaps'"></active-map-items>
    <map-data-catalogue *ngSwitchCase="'mapsCatalogue'"></map-data-catalogue>
  </div>
</bottom-sheet-overlay>
