.active-layer-widget {
  .mat-button {
    min-width: 24px;
    padding: 0 8px;
  }

  .layer-updating-progress {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .expansion-panel-header:hover {
    .layer-drag-handle {
      visibility: visible;
    }

    .layer-image {
      opacity: 0.3;
    }

    .layer-visibility-image {
      display: inline-block;
    }

    .layer-menu .layer-menu-handle {
      visibility: visible;
    }
  }

  .sublayer-item:hover {
    .layer-image {
      visibility: hidden;
    }

    .layer-visibility-image {
      display: inline-block;
    }
  }

  .layer-drag-handle {
    visibility: hidden;
    margin-top: 8px;
  }

  .layer-image-box {
    position: relative;
    float: left;
    margin-top: 8px;

    .layer-visibility-image {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
  }

  .layer-controls-left-last-element {
    margin-right: auto;
  }

  .layer-menu {
    .layer-menu-handle {
      margin-top: 8px;
      visibility: hidden;
    }

    .mat-button {
      .mat-menu-trigger {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .sublayer-item {
    display: flex;
    margin-left: 56px;
    padding: 0 8px;
  }

  .layer-settings {
    .layer-settings__title {
      margin: 0;
    }

    .layer-settings__slider {
      width: 100%;
    }
  }
}

.no-shadow {
  box-shadow: none;
}
