@if (style) {
  @if (style.type === 'line') {
    <line-edit (updateStyle)="updateStyle($event)" [lineStyle]="style"> </line-edit>
  }
  @if (style.type === 'polygon') {
    <polygon-edit [polygonStyle]="style" (updateStyle)="updateStyle($event)"></polygon-edit>
  }
  @if (style.type === 'point') {
    <point-edit [pointStyle]="style" (updateStyle)="updateStyle($event)"></point-edit>
  }
  @if (style.type === 'text') {
    <text-edit
      [textStyle]="style"
      [labelText]="selectedFeature?.labelText!"
      (updateStyle)="updateStyle($event.style, $event.labelText)"
    ></text-edit>
  }
}
