@if (style()) {
  @if (isPointStyle(); as style) {
    <point-edit [pointStyle]="style" (pointStyleChange)="updateStyle($event)" />
  } @else if (isLineStyle(); as style) {
    <line-edit [lineStyle]="style" (lineStyleChange)="updateStyle($event)" />
  } @else if (isPolygonStyle(); as style) {
    <polygon-edit [polygonStyle]="style" (polygonStyleChange)="updateStyle($event)" />
  } @else if (isTextStyle(); as style) {
    <text-edit [textStyle]="{style, label: selectedFeature()?.labelText!}" (textStyleChange)="updateStyle($event.style, $event.label)" />
  } @else if (isSymbolStyle(); as style) {
    <symbol-edit
      [symbolStyle]="{style, selectedSymbol: selectedFeature()?.mapDrawingSymbol?.drawingSymbolDefinition!}"
      (symbolStyleChange)="updateStyle($event.style, undefined, $event.selectedSymbol)"
    />
  }
}
