.elevation-profile-overlay {
  .elevation-profile-overlay__content {
    .elevation-profile-overlay__content__statistics {
      display: flex;
      flex-flow: column;

      .elevation-profile-overlay__content__statistics__item {
        display: flex;
        flex-flow: row;
        gap: 4px;
      }
    }
  }
}
