<map-overlay (closeEvent)="close()" [isVisible]="isVisible" [showPrintButton]="false" location="right" overlayTitle="Höhenprofil">
  <loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>
  <div *ngIf="loadingState === 'loaded'">
    <elevation-profile-chart [elevationProfileData]="elevationProfileData"></elevation-profile-chart>
    <elevation-profile-statistics
      *ngIf="elevationProfileData"
      [statistics]="elevationProfileData.statistics"
    ></elevation-profile-statistics>
  </div>
</map-overlay>
