<div class="general-information">
  <b>Koordinaten:</b> {{ generalInfoData.locationInformation.spatialReference.coordinates[0] | number : '1.0-10' }} /
  {{ generalInfoData.locationInformation.spatialReference.coordinates[1] | number : '1.0-10' }}
  <br />
  <b>DTM:</b> {{ generalInfoData.locationInformation.heightDtm | number : '1.0-2' }} m / <b>DOM:</b>
  {{ generalInfoData.locationInformation.heightDom | number : '1.0-2' }} m
</div>
<a
  *ngIf="generalInfoData.parcel"
  [href]="generalInfoData.parcel.oerebExtract.pdfUrl"
  mat-button
  mat-flat-button
  target="_blank"
  class="parcel-button"
  rel="noopener noreferrer"
>
  <mat-icon>download</mat-icon>
  ÖREB-Auszug
</a>
<div class="additional-general-information">
  <map-overlay-list-item overlayTitle="Weitere Standortinformationen">
    <div class="additional-general-information__content">
      <ul class="additional-general-information__content__list">
        <li *ngFor="let aCrs of generalInfoData.alternativeSpatialReferences" class="additional-general-information__content__crs">
          <b>{{ aCrs.name }}:</b> {{ aCrs.coordinates[0] | number : '1.0-10' }} / {{ aCrs.coordinates[1] | number : '1.0-10' }}
        </li>
      </ul>
      <b>Weitere Kartendienste:</b>
      <ul class="additional-general-information__content__list">
        <li *ngFor="let extMap of generalInfoData.externalMaps" class="additional-general-information__content__links">
          <a
            [href]="extMap.url"
            [title]="extMap.name"
            class="additional-general-information__content__links__ref"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span>{{ extMap.name }}</span
            ><span><mat-icon [inline]="true">north_east</mat-icon></span></a
          >
        </li>
      </ul>
    </div>
  </map-overlay-list-item>
</div>
