@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;

:host ::ng-deep .general-information {
  &.mat-expansion-panel {
    @include mixins.no-box-shadow;
  }

  &--no-content-indent {
    @include mat-mixins.mat-expansion-panel-remove-content-indent;
  }
}

/// todo: maybe add font-family to global CSS styles for all bold tags - needs more checks though
b {
  font-family: ktzh-variables.$zh-font-family-bold;
}

mat-panel-description,
span {
  display: block;
}

.general-information {
  margin-bottom: 12px;

  .general-information__header {
    padding: 0 12px;
    background-color: ktzh-variables.$zh-white;
    min-height: 38px;
    height: auto;

    .general-information__header__toggle {
      min-width: 24px;
      max-width: 24px;
      order: 0;
    }
    .general-information__header__title {
      margin-left: 12px;
    }
  }

  .general-information__additional-content {
    padding-left: 47px;

    .general-information__additional-content__crs,
    .general-information__additional-content__links,
    .general-information__additional-content__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .general-information__additional-content__links__ref {
      text-decoration: none;
      color: ktzh-variables.$zh-active-blue;
      display: inline-flex;
      height: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.external-links {
  display: flex;
  gap: 8px;
  flex-direction: row;
  row-gap: 0;

  .external-links__button {
    display: flex;
    background-color: functions.convert-hex-to-rgba(ktzh-variables.$zh-black100, 0.1);
    color: ktzh-variables.$zh-black60;

    .external-links__button__icon {
      flex: 0 0 auto;
    }

    .external-links__button__label {
      flex: 1;
      @include mixins.multiline-ellipsis(1);
      word-break: break-all;
    }
  }
}
