<form class="map-import-service-and-url" [formRoot]="serviceAndUrlForm">
  <mat-form-field appearance="outline">
    <mat-label>Kartendienst oder Geodatenformat</mat-label>
    <mat-select [formField]="serviceAndUrlForm.serviceType">
      <mat-option value="wms">WMS</mat-option>
      <mat-option value="kml">KML</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="map-import-service-and-url__url-input">
    <mat-label>URL</mat-label>
    <input matInput placeholder="Bitte URL zum Kartendienst eingeben" formControlName="url" [formField]="serviceAndUrlForm.url" />
    @if (loadingState() === 'loaded') {
      <mat-icon color="primary" matSuffix>check</mat-icon>
    }
    @if (loadingState() === 'error') {
      <mat-icon color="warn" matSuffix>error</mat-icon>
    }
    <button
      class="map-import-service-and-url__url-input__validate-button"
      [disabled]="!validateButtonEnabled()"
      type="button"
      mat-button
      (click)="validateUrl()"
      matSuffix
    >
      URL prüfen
    </button>
    @if (loadingState() === 'error') {
      <mat-error class="mat-caption">Fehler beim Laden</mat-error>
    }
    <mat-hint>
      Überprüfen Sie die URL hinsichtlich ihrer Importierbarkeit durch Drücken der Enter-Taste oder über die Schaltfläche "URL prüfen".
    </mat-hint>
  </mat-form-field>
</form>
