<div class="map-import-service-and-url">
  <form [formGroup]="serviceFormGroup" class="map-import-service-and-url__form">
    <mat-form-field>
      <mat-label>Kartendienst oder Geodatenformat</mat-label>
      <mat-select formControlName="serviceType">
        <mat-option value="wms">WMS</mat-option>
        <mat-option value="kml">KML</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput placeholder="Bitte URL zum Kartendienst eingeben" formControlName="url" />
    </mat-form-field>
  </form>
  <loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>
</div>
