<div class="measurement-tools">
  <button (click)="this.togglePointMeasurement()" class="measurement-tools__button" color="accent" mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button (click)="this.toggleLineMeasurement()" class="measurement-tools__button" color="accent" mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button (click)="this.toggleAreaMeasurement()" class="measurement-tools__button" color="accent" mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
</div>
