<div class="measurement-tools">
  <button
    (click)="this.togglePointMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-point'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    [matTooltip]="tooltipText.pointMeasurement"
    [attr.aria-label]="tooltipText.pointMeasurement"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button
    (click)="this.toggleLineMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-line'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    [matTooltip]="tooltipText.lineMeasurement"
    [attr.aria-label]="tooltipText.lineMeasurement"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button
    (click)="this.toggleAreaMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-area'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    [matTooltip]="tooltipText.areaMeasurement"
    [attr.aria-label]="tooltipText.areaMeasurement"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
  <button
    (click)="this.toggleCircleMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-circle'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    [matTooltip]="tooltipText.circleMeasurement"
    [attr.aria-label]="tooltipText.circleMeasurement"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_circle"></mat-icon>
  </button>
  <button
    (click)="this.toggleElevationProfileMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-elevation-profile'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    [matTooltip]="tooltipText.elevationProfileMeasurement"
    [attr.aria-label]="tooltipText.elevationProfileMeasurement"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_elevation"></mat-icon>
  </button>
</div>
