<div class="measurement-tools">
  <button
    (click)="this.togglePointMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-point'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Punkt"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button
    (click)="this.toggleLineMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-line'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Strecke"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button
    (click)="this.toggleAreaMeasurement()"
    [ngClass]="{'measurement-tools__button--active': activeTool === 'measure-area'}"
    class="measurement-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Fläche"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
</div>
