.symbols-list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.symbols-list--full-height {
    max-height: initial;
  }

  .symbol-list__collections-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
