<slider-edit
  (updateSliderEvent)="onSizeChange($event)"
  [sliderValue]="sizeValue"
  [min]="1"
  [max]="50"
  [step]="1"
  title="Grösse"
></slider-edit>
<slider-edit
  (updateSliderEvent)="onRotationChange($event)"
  [sliderValue]="rotationValue"
  [min]="0"
  [max]="360"
  [step]="1"
  title="Rotation"
></slider-edit>
<div class="symbols-list" [class.symbols-list--full-height]="fullHeight">
  @for (collection of this.collections; track $index) {
    <expandable-list-item [header]="collection.label" [stickyHeader]="true" [expanded]="!!symbolValue?.styleUrl?.includes(collection.id)">
      <drawing-symbols-collection
        [collectionId]="collection.id"
        [groupName]="groupName"
        [value]="symbolValue"
        (valueChange)="onSymbolChange($event)"
      ></drawing-symbols-collection>
    </expandable-list-item>
  }
</div>
