<api-dialog-wrapper title="Text-Eingabe" (closeEvent)="close()">
  <ng-container content>
    <mat-form-field appearance="fill" class="text-drawing-tool-input__content">
      <mat-label>Text</mat-label>
      <input [formField]="textForm.text" id="name" matInput />
      @if (textForm().invalid() && (textForm().dirty() || textForm().touched())) {
        <mat-error>Geben Sie einen gültigen, nicht leeren Text (<= {{ maxLength }} Zeichen) ein. </mat-error>
      }
    </mat-form-field>
  </ng-container>
  <ng-container actions>
    <button [disabled]="textForm().invalid()" mat-button [matDialogClose]="textModel().text">Hinzufügen</button>
  </ng-container>
</api-dialog-wrapper>
