<loading-and-process-bar [loadingState]="loadingState()" />

@if (baseMetadataInformation(); as baseMetadataInformation) {
  <data-catalogue-detail-page [baseMetadataInformation]="baseMetadataInformation">
    <data-catalogue-detail-page-section>
      <data-display-section sectionTitle="Verantwortlich für Geodaten">
        <data-display [elements]="metadataContactElements()" />
      </data-display-section>
    </data-catalogue-detail-page-section>
    <data-catalogue-detail-page-section>
      <data-display-section sectionTitle="Informationen">
        <data-display [elements]="informationElements()" />
      </data-display-section>
    </data-catalogue-detail-page-section>
    @if (linkedDatasets().length > 0) {
      <data-catalogue-detail-page-section>
        <data-display-section sectionTitle="Verwendete Geodatensätze">
          <generic-list [listData]="linkedDatasets()" [itemTemplate]="linkedDatasetEl" [hasGap]="true" />
          <ng-template #linkedDatasetEl let-linkedDataset>
            <descriptive-highlighted-link
              [description]="linkedDataset.shortDescription"
              [title]="linkedDataset.name"
              [id]="linkedDataset.gisZHNr"
            >
              <a [routerLink]="['/', mainPageEnum.Data, dataCataloguePageEnum.Datasets, linkedDataset.uuid]" mat-icon-button>
                <mat-icon svgIcon="ktzh_arrow_right" />
              </a>
            </descriptive-highlighted-link>
          </ng-template>
        </data-display-section>
      </data-catalogue-detail-page-section>
    }
  </data-catalogue-detail-page>
}
