<div class="legend-item">
  <h2 class="legend-item__title">
    {{ legendItem.topic }}
  </h2>
  <div *ngFor="let layer of legendItem.layers">
    <div class="legend-item__layer-title">
      <b>{{ layer.title }}</b>
      <div class="legend-item__attribution" *ngIf="layer.attribution">
        {{ layer.attribution }}
      </div>
    </div>
    <div class="legend-item__class-list" *ngIf="layer.layer_classes; else noLayerClasses">
      <div class="legend-item__class-list-entry" *ngFor="let layerClass of layer.layer_classes">
        <div class="legend-item__class-list-entry-col">
          <img src="https://maps.zh.ch/{{ layerClass.image }}" alt="{{ layerClass.label }}" />
        </div>
        <div class="legend-item__class-list-entry-col">
          {{ layerClass.label }}
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<ng-template #noLayerClasses>
  <div>
    <i>Keine Klassen</i>
  </div>
</ng-template>
