.navbar {
  .navbar__spacer {
    flex: 1 1 auto;
  }

  .navbar__item {
    padding-left: 4px;
    padding-right: 4px;
  }

  .navbar__logo {
    height: 80%;
  }
}

.current {
  border: 2px solid black;
}
