<loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>

<data-catalogue-detail-page *ngIf="baseMetadataInformation" [baseMetadataInformation]="baseMetadataInformation">
  <data-catalogue-detail-page-section>
    <data-display-section [sectionTitle]="'Verantwortlich für Geodaten'">
      <data-display [elements]="metadataContactElements"></data-display>
    </data-display-section>
  </data-catalogue-detail-page-section>

  <data-catalogue-detail-page-section>
    <data-display-section [sectionTitle]="'Informationen'">
      <data-display [elements]="informationElements"></data-display>
    </data-display-section>
  </data-catalogue-detail-page-section>

  <data-catalogue-detail-page-section *ngIf="linkedDatasets.length > 0">
    <data-display-section [sectionTitle]="'Verwendete Geodatensätze'">
      <generic-list [listData]="linkedDatasets" [itemTemplate]="linkedDataset"></generic-list>
      <ng-template #linkedDataset let-linkedDataset>
        <descriptive-highlighted-link
          [description]="linkedDataset.shortDescription"
          [title]="linkedDataset.name"
          [id]="linkedDataset.gisZHNr"
        >
          <a [routerLink]="['/', mainPageEnum.Data, dataCataloguePageEnum.Datasets, linkedDataset.uuid]" mat-icon-button>
            <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
          </a>
        </descriptive-highlighted-link>
      </ng-template>
    </data-display-section>
  </data-catalogue-detail-page-section>
</data-catalogue-detail-page>
