@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.search-result-group {
  display: flex;
  flex-direction: column;
  height: 100%;

  .search-result-group__header {
    padding: 4px;
    margin: 0;
    background-color: ktzh-variables.$zh-black20;
    font-size: 15px;
  }

  .search-result-group__container {
    overflow-y: scroll;

    .search-result-group__container__element {
      box-shadow: none;
      font-size: 14px;

      &:hover.search-result-group__container__element--interactive {
        cursor: pointer;
        background-color: ktzh-variables.$zh-background-color;
      }

      .search-result-group__container__element__header {
        font-weight: bold;
        padding: 5px 5px 0 5px;
      }

      .search-result-group__container__element__content {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        .search-result-group__container__element__content__description {
          display: flex;
          flex-direction: column;
          overflow: hidden;

          .search-result-group__container__element__content__description__title {
            @include mixins.single-line-text;
          }

          .search-result-group__container__element__content__description__properties {
            display: flex;
            gap: 12px;

            .search-result-group__container__element__content__description__properties__title {
              color: ktzh-variables.$zh-black60;
            }

            & > p {
              @include mixins.single-line-text;
              flex: 1 0 auto;

              &:last-of-type {
                flex: 1 1 auto;
              }
            }
          }
        }
      }

      .search-result-group__container__element__map-content {
        display: flex;
        padding: 5px;
        overflow: hidden;

        .search-result-group__container__element__map-content__image {
          height: 32px;
          width: 32px;
          align-self: center;
          margin-right: 8px;
          border-radius: 4px;
        }

        .search-result-group__container__element__map-content__title {
          @include mixins.single-line-text;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}
