<map-overlay-list-item [isPrintable]="this.isPrintable" [title]="legendItem.title">
  <div *ngFor="let layer of legendItem.layers" class="legend-item">
    <map-overlay-list-item *ngIf="!legendItem.isSingleLayer; else legendContent" [isPrintable]="this.isPrintable" [title]="layer.title">
      <mat-icon class="legend-item-icon" header-icon>layers</mat-icon>
      <ng-container *ngTemplateOutlet="legendContent"></ng-container>
    </map-overlay-list-item>
    <ng-template #legendContent>
      <legend-content [layer]="layer"></legend-content>
    </ng-template>
  </div>

  <ng-container header-icon>
    <img *ngIf="!legendItem.isSingleLayer && legendItem.icon; else defaultIcon" class="legend-item-icon" src="{{ legendItem.icon }}" />
    <ng-template #defaultIcon>
      <mat-icon class="legend-item-icon">layers</mat-icon>
    </ng-template>
  </ng-container>
</map-overlay-list-item>
