<h3 class="ktzh-h3-medium--bold">Text</h3>
<mat-form-field appearance="outline" class="label-text">
  <mat-label>Beschriftung</mat-label>
  <input
    matInput
    [value]="labelText"
    [maxLength]="maxLength"
    [(ngModel)]="labelText"
    (ngModelChange)="updateValue('label', labelText)"
    required
  />
</mat-form-field>
<mat-divider class="divider"></mat-divider>
<h3 class="ktzh-h3-medium--bold">Schrift</h3>
<slider-edit
  (updateSliderEvent)="updateValue('fontSize', $event)"
  [sliderValue]="textStyle.fontSize | number"
  [min]="8"
  [max]="48"
  [step]="1"
  title="Grösse"
>
</slider-edit>
<color-picker-edit (updateColorEvent)="updateValueWithDelay('fontColor', $event)" [fillColor]="textStyle.fontColor" title="Farbe">
</color-picker-edit>
<mat-divider class="divider"></mat-divider>
<h3 class="ktzh-h3-medium--bold">Halo</h3>
<slider-edit
  (updateSliderEvent)="updateValue('haloRadius', $event)"
  [sliderValue]="textStyle.haloRadius | number"
  [min]="1"
  [max]="12"
  [step]="1"
  title="Grösse"
>
</slider-edit>
<color-picker-edit (updateColorEvent)="updateValue('haloColor', $event)" [fillColor]="textStyle.haloColor" title="Farbe">
</color-picker-edit>
<mat-divider class="divider"></mat-divider>
<h3 class="ktzh-h3-medium--bold">Versatz</h3>
<slider-edit
  (updateSliderEvent)="updateValue('labelYOffset', $event)"
  [sliderValue]="textStyle.labelYOffset | number"
  [min]="1"
  [max]="20"
  [step]="1"
  title="Abstand"
>
</slider-edit>
