<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Text</h3>
<mat-form-field appearance="outline" class="label-text">
  <mat-label>Beschriftung</mat-label>
  <input matInput [formField]="textStyleForm.label" />
</mat-form-field>
<mat-divider class="divider" />
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Schrift</h3>
<slider-edit [formField]="textStyleForm.style.fontSize" [minValue]="8" [maxValue]="48" [step]="1" title="Grösse" />
<color-picker-edit [formField]="textStyleForm.style.fontColor" title="Farbe" />
<mat-divider class="divider" />
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Halo</h3>
<slider-edit [formField]="textStyleForm.style.haloRadius" [minValue]="1" [maxValue]="12" [step]="1" title="Grösse" />
<color-picker-edit [formField]="textStyleForm.style.haloColor" title="Farbe" />
<mat-divider class="divider" />
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Versatz</h3>
<slider-edit [formField]="textStyleForm.style.labelYOffset" [minValue]="1" [maxValue]="20" [step]="1" title="Abstand" />
