.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  box-sizing: content-box;
  border-radius: 0;
  padding-top: 0;
  z-index: 9999; // todo: hackedihack
  display: flex;
  flex-direction: column;

  &.map-overlay--right {
    left: unset;
    right: 0;
  }

  .map-overlay__header {
    justify-content: end;
  }

  .map-overlay__content {
    flex: 1;
    overflow: hidden auto;
  }
}
