<div class="start-page-search">
  <search-bar
    class="start-page-search__search-bar"
    [mode]="screenMode === 'mobile' ? 'compact' : 'normal'"
    [searchConfig]="searchConfig"
    [ngClass]="{'start-page-search__search-bar--mobile': screenMode === 'mobile'}"
    placeholderText="Suche nach Karten, Kartendaten, Geodaten und Geodiensten"
  ></search-bar>

  @if (searchTerms.length > 0) {
    <div class="start-page-search__results" [ngClass]="{'start-page-search__results--mobile': screenMode === 'mobile'}">
      <div>
        @for (activeFilterValue of activeSearchFilterValues; track activeFilterValue) {
          <mat-chip-row (removed)="deactivateFilter(activeFilterValue.groupLabel, activeFilterValue.filterLabel)">
            {{ activeFilterValue.filterLabel }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </div>
      <search-result-groups></search-result-groups>
    </div>
  }
</div>
