<div class="start-page-search" searchResultKeyboardNavigation [allSearchResults]="allResults" [searchComponent]="searchComponent">
  <div class="start-page-search__search">
    <search
      class="start-page-search__search__bar"
      [ngClass]="{'start-page-search__search__bar--mobile': screenMode === 'mobile'}"
      placeholderText="Suche nach Karten, Kartendaten, Geodaten und Geodiensten"
      (changeSearchTermEvent)="searchForTerm($event)"
      (clearSearchTermEvent)="clearSearchTerm()"
      (openFilterEvent)="openFilterMenu()"
      [mode]="screenMode === 'mobile' ? 'compact' : 'normal'"
      [showFilterButton]="true"
      [isAnyFilterActive]="activeSearchFilterValues.length > 0"
    ></search>
  </div>

  @if (searchTerms.length > 0) {
    <div class="start-page-search__results" [ngClass]="{'start-page-search__results--mobile': screenMode === 'mobile'}">
      <div>
        @for (activeFilterValue of activeSearchFilterValues; track activeFilterValue) {
          <mat-chip-row (removed)="deactivateFilter(activeFilterValue.groupLabel, activeFilterValue.filterLabel)">
            {{ activeFilterValue.filterLabel }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </div>
      <search-result-groups></search-result-groups>
    </div>
  }
</div>
