@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.start-page-search {
  width: ktzh-variables.$zh-layout-max-content-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  .start-page-search__search-bar {
    width: 100%;
    height: 106px;
  }

  .start-page-search__results {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 12px;

    &--mobile {
      padding-top: 12px;
    }
  }
}

@media (max-width: calc(#{ktzh-variables.$zh-layout-max-content-width} + 48px)) {
  .start-page-search {
    width: calc(100vw - 62px);

    &--mobile {
      width: calc(100vw - 24px);
      height: 60px;
    }
  }
}
