@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.start-page-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .start-page-search__search {
    @include mixins.map-element-box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: ktzh-variables.$zh-layout-max-content-width;

    .start-page-search__search__bar {
      width: ktzh-variables.$zh-layout-max-content-width;
      height: 106px;
      background-color: ktzh-variables.$zh-background-color;
    }
  }

  .start-page-search__results {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 12px;

    .start-page-search__results__groups {
      display: flex;
      flex-direction: column;
      width: ktzh-variables.$zh-layout-max-content-width;

      .start-page-search__results__groups__group {
        padding: 5px;
        box-sizing: border-box;
      }

      .start-page-search__results__loading-bar {
        padding: 0px 5px;
      }
    }
  }
}
