@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.start-page-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .start-page-search__search {
    display: flex;
    justify-content: center;
    align-items: center;

    .start-page-search__search__bar {
      @include mixins.map-element-box-shadow;
      width: ktzh-variables.$zh-layout-max-content-width;
      height: 106px;
      background-color: ktzh-variables.$zh-background-color;

      &--mobile {
        width: calc(100vw - 24px);
        height: 60px;
      }
    }
  }

  .start-page-search__results {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 12px;

    &--mobile {
      padding-top: 0;
    }
  }
}
