<div class="start-page-search">
  <div class="start-page-search__search">
    <search
      class="start-page-search__search__bar"
      [ngClass]="{'start-page-search__search__bar--mobile': screenMode === 'mobile'}"
      placeholderText="Suche nach Karten, Kartendaten, Geodaten und Geodiensten"
      (changeSearchTermEvent)="searchForTerm($event)"
      (clearSearchTermEvent)="clearSearchTerm()"
      (openFilterEvent)="openFilterMenu()"
      [mode]="screenMode === 'mobile' ? 'compact' : 'normal'"
      [showClearButton]="screenMode !== 'mobile'"
      [showFilterButton]="screenMode !== 'mobile'"
    ></search>
  </div>

  <div class="start-page-search__results" *ngIf="searchTerms.length > 0">
    <div>
      <mat-chip-row
        *ngFor="let activeFilterValue of activeSearchFilterValues"
        (removed)="deactivateFilter(activeFilterValue.groupLabel, activeFilterValue.filterLabel)"
      >
        {{ activeFilterValue.filterLabel }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </div>

    <search-result-groups></search-result-groups>
  </div>
</div>
