<map-overlay (closeEvent)="this.close()" [isVisible]="this.isVisible" location="right" title="Resultate">
  <mat-progress-bar mode="query" *ngIf="this.loadingState === LOADING_STATE.LOADING"></mat-progress-bar>
  <ng-container *ngIf="this.loadingState === LOADING_STATE.LOADED">
    <button class="mat-raised-button print-button" (click)="this.print()">Drucken</button>
    <feature-info-item *ngFor="let featureInfo of this.featureInfoData" [featureInfo]="featureInfo"></feature-info-item>
  </ng-container>
</map-overlay>
