<mat-expansion-panel #itemExpansionPanel hideToggle="true" class="base-map-data-item">
  <mat-expansion-panel-header
    (click)="itemExpansionPanel.toggle()"
    class="base-map-data-item__header"
    [matTooltipDisabled]="!invalid"
    matTooltip="{{ this.errorTooltip }}"
    (delayedMouseEnter)="hoverStart()"
    (mouseenter)="setIsHovered()"
    [delayDurationInMs]="this.hoverDelay"
    (mouseleave)="hoverEnd()"
  >
    <button
      (click)="itemExpansionPanel.toggle()"
      [attr.data-test-id]="itemExpansionPanel.expanded ? 'hide-layers-of-the-map' : 'show-layers-of-the-map'"
      [disabled]="layers.length === 0"
      [ngClass]="{'base-map-data-item__header__expand-button--hidden': !showExpandButton}"
      mat-icon-button
    >
      <mat-icon
        [fontIcon]="itemExpansionPanel.expanded ? 'arrow_drop_down' : 'arrow_right'"
        [matBadgeDisabled]="layers.length === 0"
        [matBadgeHidden]="!this.filterString || this.loadingState === 'loading'"
        [matBadge]="layers.length"
        matBadgeOverlap
      ></mat-icon>
    </button>
    <div
      class="base-map-data-item__header__image-container"
      [matTooltip]="'Beenden Sie den aktuellen Zeichnungsvorgang um das Element hinzuzufügen.'"
      [matTooltipDisabled]="!isAddItemDisabled"
    >
      <img
        *ngIf="imageUrl; else imagePlaceholder"
        class="base-map-data-item__header__image-container__image"
        [alt]="title"
        [src]="imageUrl"
      />
      <ng-template #imagePlaceholder>
        <span
          class="base-map-data-item__header__image-container__image-placeholder"
          [ngClass]="{'base-map-data-item__header__image-container__image-placeholder--disabled': invalid}"
        ></span>
      </ng-template>
      <button
        (click)="addItem()"
        *ngIf="!gb2Url"
        [disabled]="invalid === true || isAddItemDisabled"
        (keydown.space)="$event.stopPropagation()"
        class="base-map-data-item__header__image-container__button"
        data-test-id="add-active-map"
        mat-icon-button
      >
        <mat-icon [color]="invalid === true ? 'warn' : null" [fontIcon]="invalid ? 'error' : 'add'"></mat-icon>
      </button>
    </div>
    <p
      [innerHTML]="title | highlightSearchQuery: this.filterString"
      [ngClass]="{'base-map-data-item__header__title--disabled': invalid}"
      class="base-map-data-item__header__title"
      matTooltip="{{ title }}"
      showTooltipIfTruncated
    ></p>
    <gb2-exit-button
      *ngIf="gb2Url"
      [color]="'accent'"
      [highlighted]="true"
      [size]="'small'"
      [url]="gb2Url | appendMapConfigurationToUrl: mapConfigState"
    ></gb2-exit-button>
    <button (click)="deleteItem()" *ngIf="showDeleteButton" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <loading-and-process-bar [loadingState]="this.loadingState" class="base-map-data-item__header__loader"></loading-and-process-bar>
  </mat-expansion-panel-header>
  <!-- Expansion panel content -->
  <ng-template matExpansionPanelContent>
    <ng-container *ngFor="let layer of layers">
      <map-data-item-map-layer
        [filterString]="filterString"
        [layer]="layer"
        [isMapHovered]="isMapHovered"
        [isLayerHovered]="layer === hoveredLayer"
        (addLayerEvent)="addItemLayer(layer)"
        (delayedMouseEnter)="hoverStart(layer)"
        (mouseenter)="setIsHovered(layer)"
        [delayDurationInMs]="this.hoverDelay"
        (mouseleave)="hoverEnd(layer)"
      ></map-data-item-map-layer>
    </ng-container>
  </ng-template>
</mat-expansion-panel>
