@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

:host ::ng-deep {
  .base-map-data-item .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
  }

  .base-map-data-item__header .mat-content {
    margin-right: 0;
  }
}

.base-map-data-item {
  @include mixins.no-box-shadow;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: ktzh-variables.$zh-border-radius !important;

  .base-map-data-item__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0;
    // overwrite the 'pointer' cursor from the expansion panel
    cursor: default;

    &:hover {
      background-color: transparent;
    }

    .base-map-data-item__header__image-container {
      position: relative;
      aspect-ratio: 1 / 1;
      height: 44px;

      .base-map-data-item__header__image-container__image {
        position: absolute;
        aspect-ratio: 1 / 1;
        height: 100%;
        border-radius: 2px;
      }

      .base-map-data-item__header__image-container__image-placeholder {
        position: absolute;
        aspect-ratio: 1 / 1;
        height: 100%;
        border-radius: 2px;
        background-color: functions.get-color-from-palette(ktzh-variables.$zh-primary);
      }

      .base-map-data-item__header__image-container__button {
        position: absolute;
        @include mixins.center-absolute-element;
        aspect-ratio: 1 / 1;
        height: 100%;
        width: auto;

        .mat-icon {
          background-color: functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent);
          color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-secondary-accent);
          display: flex;
          justify-content: center;
          font-size: 18px;
          height: 18px;
          width: 18px;
        }
      }
    }

    .base-map-data-item__header__title {
      @include mixins.multiline-ellipsis(2);
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 1em;
    }
  }
}

.layer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .layer__icon {
    min-width: 24px;
  }

  .layer__title {
    @include mixins.single-line-text;
    margin-left: 8px;
    flex-grow: 1;
  }
}
