<mat-expansion-panel #itemExpansionPanel hideToggle="true" class="base-map-data-item">
  <mat-expansion-panel-header
    (click)="itemExpansionPanel.toggle()"
    class="base-map-data-item__header"
    [matTooltipDisabled]="!invalid()"
    [matTooltip]="errorTooltip"
    (delayedMouseEnter)="hoverStart()"
    (mouseenter)="setIsHovered()"
    [delayDurationInMs]="hoverDelay"
    (mouseleave)="hoverEnd()"
    tabindex="-1"
  >
    <button
      (click)="itemExpansionPanel.toggle()"
      [attr.data-test-id]="itemExpansionPanel.expanded ? 'hide-layers-of-the-map' : 'show-layers-of-the-map'"
      [disabled]="layers().length === 0"
      [class.base-map-data-item__header__expand-button--hidden]="!showExpandButton()"
      mat-icon-button
    >
      <mat-icon
        [fontIcon]="itemExpansionPanel.expanded ? 'arrow_drop_down' : 'arrow_right'"
        [matBadgeDisabled]="layers().length === 0"
        [matBadgeHidden]="!filterString() || loadingState() === 'loading'"
        [matBadge]="filteredLayersCount()"
        matBadgeOverlap
        aria-hidden="false"
        [aria-label]="itemExpansionPanel.expanded ? 'Pfeil nach unten' : 'Pfeil nach rechts'"
      />
    </button>
    <div
      class="base-map-data-item__header__image-container"
      matTooltip="Beenden Sie den aktuellen Zeichnungsvorgang um das Element hinzuzufügen."
      [matTooltipDisabled]="!isAddItemDisabled()"
    >
      @if (imageUrl(); as imageUrl) {
        <img class="base-map-data-item__header__image-container__image" [alt]="title()" [src]="imageUrl" loading="lazy" />
      } @else {
        <span
          class="base-map-data-item__header__image-container__image-placeholder"
          [class.base-map-data-item__header__image-container__image-placeholder--disabled]="invalid()"
        ></span>
      }
      @if (!gb2Url()) {
        <button
          (click)="addItem()"
          [disabled]="invalid() === true || isAddItemDisabled()"
          (keydown.enter)="$event.stopPropagation()"
          (keydown.space)="$event.stopPropagation()"
          class="base-map-data-item__header__image-container__button"
          data-test-id="add-active-map"
          mat-icon-button
          [aria-label]="invalid() ? 'Bei dieser Karte ist ein Fehler ist aufgetreten' : 'Karte hinzufügen'"
        >
          <mat-icon [color]="invalid() ? 'warn' : null" [fontIcon]="invalid() ? 'error' : 'add'" />
        </button>
      }
    </div>
    <p
      [innerHTML]="title() | highlightSearchQuery: filterString()"
      [class.base-map-data-item__header__title--disabled]="invalid()"
      class="base-map-data-item__header__title"
      [matTooltip]="title()"
      showTooltipIfTruncated
    ></p>
    @if (gb2Url(); as gb2Url) {
      <gb2-exit-button color="accent" [highlighted]="true" size="small" [url]="gb2Url | appendMapConfigurationToUrl: mapConfigState()" />
    }
    @if (showDeleteButton) {
      <button (click)="deleteItem()" (keydown.enter)="$event.stopPropagation()" (keydown.space)="$event.stopPropagation()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    }
    <loading-and-process-bar [loadingState]="loadingState()" class="base-map-data-item__header__loader" />
  </mat-expansion-panel-header>
  <!-- Expansion panel content -->
  <ng-template matExpansionPanelContent>
    @for (layer of layers(); track layer) {
      <map-data-item-map-layer
        [filterString]="filterString()"
        [layer]="layer"
        [isMapHovered]="isMapHovered()"
        [isLayerHovered]="layer === hoveredLayer()"
        (addLayerEvent)="addItemLayer(layer)"
        (delayedMouseEnter)="hoverStart(layer)"
        (mouseenter)="setIsHovered(layer)"
        [delayDurationInMs]="hoverDelay"
        (mouseleave)="hoverEnd(layer)"
      />
    }
  </ng-template>
</mat-expansion-panel>
