<div class="contact-details">
  <h1>Amt für Raumentwicklung - Abteilung Geoinformation</h1>
  <div class="contact-details__addresses">
    <contact-detail
      [contactType]="'address'"
      [coordinates]="'47.3781675,8.543847399999999'"
      [place]="'8090 Zürich'"
      [street]="'Stampfenbachstrasse 12'"
      class="contact-details__addresses__entry"
    ></contact-detail>
    <contact-detail [contactType]="'email'" [email]="'gis@bd.zh.ch'" class="contact-details__addresses__entry"></contact-detail>
  </div>
  <cdk-accordion>
    <accordion-item header="Für Medien">
      <h1>
        <a
          href="https://www.zh.ch/de/baudirektion/medienstelle.html"
          rel="noopener noreferrer"
          target="_blank"
          title="Medienstelle der Baudirektion"
        >
          Medienstelle der Baudirektion
        </a>
      </h1>
      <div class="contact-details__addresses">
        <contact-detail
          [contactType]="'address'"
          [coordinates]="'47.3787639,8.5411231'"
          [place]="'8001 Zürich'"
          [street]="'Walcheplatz 2'"
          class="contact-details__addresses__entry"
        ></contact-detail>
        <contact-detail [contactType]="'email'" [email]="'media@bd.zh.ch'" class="contact-details__addresses__entry"></contact-detail>
      </div>
    </accordion-item>
  </cdk-accordion>
</div>
