<mat-expansion-panel *ngIf="this.loadingState === 'loading' || this.filteredFavourites.length > 0" class="favourite-selection">
  <mat-expansion-panel-header class="favourite-selection__header">
    <mat-panel-title>
      <p
        [matBadgeHidden]="!this.filterString || this.loadingState === 'loading'"
        [matBadge]="this.filteredFavourites.length"
        matBadgeOverlap="false"
        matBadgePosition="above after"
      >
        Favoriten
      </p>
    </mat-panel-title>
    <loading-and-process-bar [loadingState]="this.loadingState" class="favourite-selection__header__loader"></loading-and-process-bar>
  </mat-expansion-panel-header>
  <ng-container *ngFor="let favourite of this.filteredFavourites">
    <mat-card class="favourite-selection__favourite">
      <mat-card-content
        [matTooltipDisabled]="!favourite.invalid"
        class="favourite-selection__favourite__content"
        matTooltip="{{ this.errorTooltip }}"
      >
        <button (click)="this.addFavouriteToMap(favourite)" [disabled]="favourite.invalid" color="primary" mat-icon-button>
          <mat-icon *ngIf="!favourite.invalid">add</mat-icon>
          <mat-icon *ngIf="favourite.invalid" class="favourite-selection__favourite__content__error" color="warn"> error </mat-icon>
        </button>
        <span class="favourite-selection__favourite__placeholder"></span>
        <span
          [class.favourite-selection__favourite__icon--disabled]="favourite.invalid"
          class="favourite-selection__favourite__icon"
        ></span>
        <p
          [class.favourite-selection__favourite__title--disabled]="favourite.invalid"
          [innerHTML]="favourite.title | highlightSearchQuery : this.filterString"
          [matTooltipDisabled]="favourite.invalid"
          class="favourite-selection__favourite__content__title"
          matTooltip="{{ favourite.title }}"
        ></p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</mat-expansion-panel>
