<div class="contact-details">
  <h1>Amt für Raumentwicklung - Abteilung Geoinformation</h1>
  <div class="contact-details__addresses">
    <contact-detail
      [contactType]="'address'"
      [coordinates]="'47.3781675,8.543847399999999'"
      [place]="'8090 Zürich'"
      [street]="'Stampfenbachstrasse 12'"
      class="contact-details__addresses__entry"
    ></contact-detail>
    <contact-detail [contactType]="'email'" [email]="'gis@bd.zh.ch'" class="contact-details__addresses__entry"></contact-detail>
  </div>
  <cdk-accordion class="contact-details__media-collapsible">
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      [attr.aria-controls]="'media-contact-body'"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.id]="'media-contact-header'"
      class="contact-details__media-collapsible__item"
      role="button"
      tabindex="0"
    >
      <div (click)="accordionItem.toggle()" class="contact-details__media-collapsible__item__header mat-h2">
        <span>Für Medien</span>
        <span>
          <mat-icon>{{ accordionItem.expanded ? 'remove' : 'add' }}</mat-icon>
        </span>
      </div>
      <div
        [attr.aria-labelledby]="'media-contact-header'"
        [attr.id]="'media-contact-body'"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        role="region"
      >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis excepturi incidunt ipsum deleniti labore, tempore non nam
        doloribus blanditiis veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
