<h1 mat-dialog-title>Filter</h1>
<div mat-dialog-content class="filter-dialog-content">
  <cdk-accordion>
    @for (filter of dataCatalogueFilters; track trackByFilterLabel($index, filter)) {
      <accordion-item [header]="filter.label" variant="dark">
        <div class="filter-dialog-content__wrapper">
          @for (filterValue of filter.filterValues; track filterValue) {
            <mat-checkbox
              class="filter-dialog-content__wrapper__checkbox"
              (change)="toggleFilter(filter.key, filterValue.value)"
              [checked]="filterValue.isActive"
            >
              {{ filterValue.value }}
            </mat-checkbox>
          }
        </div>
      </accordion-item>
    }
  </cdk-accordion>
</div>
<div mat-dialog-actions>
  <button (click)="resetFilters()" mat-button>Zurücksetzen</button>
  <button (click)="close()" mat-button>Schliessen</button>
</div>
