<h1 mat-dialog-title>Filter</h1>
<div mat-dialog-content class="filter-dialog-content">
  <cdk-accordion>
    <accordion-item *ngFor="let filter of dataCatalogueFilters; trackBy: trackByFilterLabel" [header]="filter.label" variant="dark">
      <div class="filter-dialog-content__wrapper">
        <mat-checkbox
          class="filter-dialog-content__wrapper__checkbox"
          (change)="toggleFilter(filter.key, filterValue.value)"
          *ngFor="let filterValue of filter.filterValues"
          [checked]="filterValue.isActive"
        >
          {{ filterValue.value }}
        </mat-checkbox>
      </div>
    </accordion-item>
  </cdk-accordion>
</div>
<div mat-dialog-actions>
  <button (click)="resetFilters()" mat-button>Zurücksetzen</button>
  <button (click)="close()" mat-button>Anwenden</button>
</div>
