<map-overlay-list-item
  [forceExpanded]="true"
  [overlayTitle]="featureInfo.title"
  [metaDataLink]="showInteractiveElements ? featureInfo.metaDataLink : undefined"
>
  <div *ngFor="let layer of featureInfo.layers" class="feature-info-item">
    <!-- For some results, there may be no features; if so, hide the sublayer. This might be an error API-wise, but we can handle it gracefully. -->
    <map-overlay-list-item
      *ngIf="!featureInfo.isSingleLayer; else featureInfoContent"
      [forceExpanded]="layer.features.length > 0"
      [disabled]="layer.features.length === 0"
      [overlayTitle]="layer.title"
      [metaDataLink]="layer.metaDataLink"
      [hasBackgroundColor]="false"
      [showInteractiveElements]="showInteractiveElements"
    >
      <mat-icon class="feature-info-item-icon" header-icon>layers</mat-icon>
      <ng-container *ngTemplateOutlet="featureInfoContent"></ng-container>
    </map-overlay-list-item>
    <ng-template #featureInfoContent>
      <!-- Depending on whether we're in printmode, render different component. -->
      <feature-info-content *ngIf="!this.isPrintable" [layer]="layer" [topicId]="featureInfo.id"></feature-info-content>
      <feature-info-print-content *ngIf="this.isPrintable" [layer]="layer"></feature-info-print-content>
    </ng-template>
  </div>

  <ng-container header-icon>
    <img
      *ngIf="!featureInfo.isSingleLayer && featureInfo.icon; else defaultIcon"
      class="feature-info-item-icon"
      src="{{ featureInfo.icon }}"
      [alt]="featureInfo.title"
    />
    <ng-template #defaultIcon>
      <mat-icon class="feature-info-item-icon">layers</mat-icon>
    </ng-template>
  </ng-container>
</map-overlay-list-item>
