<a
  #link
  [href]="url"
  class="gb2-exit-button"
  [ngClass]="{'gb2-exit-button--small': size === 'small', 'gb2-exit-button--highlighted': highlighted}"
  [color]="color === 'primary' ? 'primary' : 'accent'"
  mat-icon-button
  matTooltip="Diese Karte ist noch nicht im neuen GIS-Browser verfügbar. Öffnen Sie die Karte im alten GIS-Browser mit diesem Link."
  [matTooltipShowDelay]="0"
  rel="noopener noreferrer"
  target="_blank"
  clickOnSpaceBar
>
  <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
</a>
