<div class="share-link-mobile">
  <div class="share-link-mobile__input">
    <span class="share-link-mobile__input__title">Link auf aktive Karten</span>
    <input [value]="shareLinkUrl ?? '?'" readonly [disabled]="savingState !== 'loaded'" class="share-link-mobile__input__text" />
  </div>
  <button matSuffix mat-icon-button aria-label="Copy" [cdkCopyToClipboard]="shareLinkUrl ?? ''" [disabled]="savingState !== 'loaded'">
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
<loading-and-process-bar [loadingState]="savingState" class="share-link-mobile__loading-bar"></loading-and-process-bar>
