<div class="active-map-item-settings">
  <!-- Opacity -->
  <slider-wrapper title="Deckvermögen" [value]="formattedCurrentOpacity" minValue="0%" maxValue="100%">
    <ng-container content>
      <mat-slider [min]="0" [max]="1" [step]="0.01" color="primary" class="active-map-item-settings__transparency__slider">
        <input
          matSliderThumb
          [(ngModel)]="currentOpacity"
          (valueChange)="onOpacitySliderChange($event)"
          (input)="updateFormattedCurrentOpacity()"
        />
      </mat-slider>
    </ng-container>
  </slider-wrapper>

  <!-- Time slider -->
  @if (
    activeMapItem.settings.type === 'gb2Wms' && activeMapItem.settings.timeSliderConfiguration && activeMapItem.settings.timeSliderExtent
  ) {
    <mat-divider class="active-map-item-settings__divider"></mat-divider>
    <time-slider
      [initialTimeExtent]="activeMapItem.settings.timeSliderExtent"
      [timeSliderConfiguration]="activeMapItem.settings.timeSliderConfiguration"
      (changeTimeExtentEvent)="onTimeSliderExtentChange($event)"
    ></time-slider>
  }

  <!-- Attribute filter -->
  @if (activeMapItem.settings.type === 'gb2Wms' && activeMapItem.settings.filterConfigurations) {
    <mat-divider class="active-map-item-settings__divider"></mat-divider>
    <div class="active-map-item-settings__attribute-filter">
      @if (numberOfChangedFilters > 0) {
        <p class="active-map-item-settings__attribute-filter__badge" [matBadge]="numberOfChangedFilters" matBadgePosition="before"></p>
      }
      <button class="active-map-item-settings__attribute-filter__button" mat-button (click)="showMapAttributeFilters()">
        <mat-icon>east</mat-icon>
        <strong>Attributfilter</strong>
      </button>
    </div>
  }
</div>
