@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as material-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/map-layout-variables' as map-layout-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'functions/helper.function' as functions;

:host ::ng-deep {
  .navbar-mobile__button {
    @include mixins.tool-button-mobile;
  }
  .navbar-mobile__button2 {
    @include mixins.tool-button-mobile;
  }
}

.navbar-mobile {
  @include mixins.map-element-box-shadow;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: ktzh-variables.$zh-background-color;
  z-index: z-index-variables.$navbar;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  z-index: z-index-variables.$navbar;

  .navbar__item {
    font-size: 16px;
    font-weight: 400;

    .navbar__item__text {
      font-family: ktzh-variables.$zh-font-family;
    }
  }

  .navbar__spacer {
    flex: 1 1 auto;
  }
}

.navbar__underline-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .navbar__underline-container__content-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 55vw auto;
  }

  .navbar__underline {
    width: 100%;
    border-top: 2px solid ktzh-variables.$zh-white;
  }
}
