@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as material-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/map-layout-variables' as map-layout-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'functions/helper.function' as functions;

:host ::ng-deep {
  .navbar-mobile__button {
    @include mixins.tool-button-mobile;
  }
}

.navbar-mobile {
  @include mixins.map-element-box-shadow;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: ktzh-variables.$zh-background-color;
  z-index: z-index-variables.$navbar;
}
