<mat-toolbar *ngIf="!isSimplifiedPage; else simplifiedPage" class="navbar-mobile" color="primary">
  <span class="navbar-mobile__item"> Geoportal Kanton Zürich </span>
  <span class="navbar-mobile__spacer"></span>
  <button class="navbar-mobile__item" mat-button (click)="showMenu()">
    <span class="navbar-mobile__item__text">Menu</span>

    <mat-icon svgIcon="ktzh_menu_mobile" iconPositionEnd>launch</mat-icon>
  </button>
  <div class="navbar-mobile__underline-container">
    <div class="navbar-mobile__underline-container__content-container">
      <span></span>
      <span class="navbar-mobile__underline"></span>
      <span class="navbar-mobile__underline"></span>
    </div>
  </div>
</mat-toolbar>

<ng-template #simplifiedPage>
  <div class="navbar-mobile-simplified" [ngClass]="{'navbar-mobile-simplified--dev-mode': isDevModeActive}">
    <button (click)="showMenu()" class="navbar-mobile-simplified__button" mat-icon-button>
      <mat-icon svgIcon="ktzh_menu_mobile"></mat-icon>
    </button>
  </div>
</ng-template>
