<section
  class="page-section"
  [class.page-section__primary]="background() === 'primary'"
  [class.page-section__accent]="background() === 'accent'"
  [class.page-section--mobile]="screenMode() === 'mobile' && !pageTitle()"
  [aria-label]="sectionTitle()"
>
  <div class="page-section__content-container">
    @if (sectionTitle()) {
      <span
        class="page-section__content-container__title-line"
        [class.page-section__content-container__title-line--mobile]="screenMode() === 'mobile'"
      ></span>
      <div
        class="page-section__content-container__title-wrapper"
        [class.page-section__content-container__title-wrapper--mobile]="screenMode() === 'mobile'"
      >
        <h2 class="ktzh-h2-big">
          {{ sectionTitle() }}
        </h2>
        @if (titleLink(); as titleLink) {
          <a
            [href]="titleLink.url"
            [title]="titleLink.displayTitle"
            rel="noopener noreferrer"
            class="page-section__content-container__title-wrapper__link"
            target="_blank"
          >
            {{ titleLink.displayTitle }}
          </a>
        }
      </div>
    }
    <div class="page-section__content-container__content">
      <ng-content />
    </div>
  </div>
</section>
