<section
  [ngClass]="[
    this.background ? 'section__' + this.background : '',
    this.hideBottomPadding ? 'section--no-padding-bottom' : '',
    this.screenMode === 'mobile' && !pageTitle ? 'section--mobile' : ''
  ]"
  class="section"
>
  <div class="section__content-container">
    <span
      *ngIf="this.sectionTitle"
      class="section__content-container__title-line"
      [ngClass]="{'section__content-container__title-line--mobile': screenMode === 'mobile'}"
    ></span>
    <div
      class="section__content-container__title-wrapper"
      [ngClass]="{'section__content-container__title-wrapper--mobile': screenMode === 'mobile'}"
    >
      <h1 class="section__content-container__title-wrapper__title mat-headline-4">{{ this.sectionTitle }}</h1>
      <a
        *ngIf="this.titleLink"
        [href]="this.titleLink.url"
        [title]="this.titleLink.displayTitle"
        rel="noopener noreferrer"
        class="section__content-container__title-wrapper__link"
        mat-button
        target="_blank"
      >
        {{ this.titleLink.displayTitle }}
        <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
      </a>
    </div>
    <div class="section__content-container__content">
      <ng-content></ng-content>
    </div>
  </div>
</section>
