@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.bottom-sheet-overlay {
  position: absolute;
  bottom: 0px;
}

.map-management-mobile__content {
  border-color: ktzh-variables.$zh-background-color;
  border-width: 0 2px 2px 2px;
  border-style: solid;
}
