@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.bottom-sheet-overlay {
  width: 100vw;
  bottom: 0px;
  pointer-events: all;
  z-index: z-index-variables.$map-overlay;

  &--small {
    height: 30vh;
  }

  &--medium {
    height: 60vh;
  }

  &--large {
    height: 90vh;
  }

  .bottom-sheet-overlay__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .bottom-sheet-overlay__header__title {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .bottom-sheet-overlay__content {
    flex: 1;
    overflow: hidden scroll;
  }
}
