<mat-radio-group class="statistics-item__highlight-group" [value]="highlightedLayerName()">
  <map-overlay-list-item
    [forceExpanded]="true"
    [overlayTitle]="result().title"
    [metaDataLink]="showInteractiveElements() ? result().metaDataLink : undefined"
  >
    @for (layerView of layerViews(); track layerView.layer.layer) {
      <ng-template #tableHeader let-header>
        <th
          [attr.data-test-id]="header.showMarking ? 'statistics-marking-header' : null"
          class="info-table__cell info-table__cell--header statistics-item__table-header"
          [class.statistics-item__cell--highlighted]="highlightedLayerName() === layerView.layer.layer"
          scope="col"
          (mouseenter)="onLayerHoverStart(layerView.layer)"
          (mouseleave)="onLayerHoverEnd()"
          (click)="toggleLayerHighlight(layerView.layer)"
        >
          <div class="statistics-item__table-header-content">
            <span>{{ header.displayValue }}</span>
            @if (showInteractiveElements() && header.showMarking) {
              <mat-radio-button
                data-test-id="statistics-marking"
                [value]="layerView.layer.layer"
                [disabled]="!layerView.layer.featureGeometry"
                [checked]="highlightedLayerName() === layerView.layer.layer"
                (change)="highlightLayer(layerView.layer)"
                (keydown.space)="marking.toggleWithKeyboard($event, layerView.layer)"
                labelPosition="before"
              >
                Markieren:
              </mat-radio-button>
            }
          </div>
        </th>
      </ng-template>
      <ng-template #tableCell let-cell>
        <td
          data-test-id="info-table-value"
          class="info-table__cell"
          [class.statistics-item__cell--highlighted]="highlightedLayerName() === layerView.layer.layer"
          (mouseenter)="onLayerHoverStart(layerView.layer)"
          (mouseleave)="onLayerHoverEnd()"
        >
          <info-table-cell [cellValue]="cell" />
        </td>
      </ng-template>
      <div class="statistics-item" [attr.data-test-id]="'statistics-layer-' + layerView.layer.layer">
        <map-overlay-list-item
          [forceExpanded]="true"
          [overlayTitle]="layerView.layer.title"
          [metaDataLink]="showInteractiveElements() ? layerView.layer.metaDataLink : undefined"
          [hasBackgroundColor]="false"
          [showInteractiveElements]="showInteractiveElements()"
        >
          <mat-icon class="statistics-item__icon" header-icon>layers</mat-icon>
          @if (layerView.statusText; as statusText) {
            <p class="statistics-item__status">{{ statusText.text }}</p>
            @if (statusText.link; as link) {
              <a class="statistics-item__status-link" [href]="link.url" target="_blank" rel="noopener noreferrer">
                {{ link.label }}
                <mat-icon class="statistics-item__status-link__icon">north_east</mat-icon>
              </a>
            }
          } @else {
            @for (section of layerView.tableSections; track $index) {
              @if (section.title !== undefined) {
                <map-overlay-list-item
                  [forceExpanded]="true"
                  [overlayTitle]="section.title"
                  [hasBackgroundColor]="false"
                  [showInteractiveElements]="showInteractiveElements()"
                >
                  <mat-icon class="statistics-item__icon" header-icon>layers</mat-icon>
                  <resizable-info-table
                    [tableData]="section.data"
                    [tableLabel]="section.tableLabel"
                    [tableHeaderTemplate]="tableHeader"
                    [tableCellTemplate]="tableCell"
                    (resizeStart)="marking.startResize()"
                    (resizeEnd)="marking.endResize()"
                  />
                </map-overlay-list-item>
              } @else {
                <resizable-info-table
                  [tableData]="section.data"
                  [tableLabel]="section.tableLabel"
                  [tableHeaderTemplate]="tableHeader"
                  [tableCellTemplate]="tableCell"
                  (resizeStart)="marking.startResize()"
                  (resizeEnd)="marking.endResize()"
                />
              }
            }
          }
        </map-overlay-list-item>
      </div>
    }

    <ng-container header-icon>
      @if (result().icon; as icon) {
        <img class="statistics-item__icon" [src]="icon" [alt]="result().title" width="24" height="24" />
      } @else {
        <mat-icon class="statistics-item__icon">layers</mat-icon>
      }
    </ng-container>
  </map-overlay-list-item>
</mat-radio-group>
