<map-overlay-list-item
  [forceExpanded]="true"
  [overlayTitle]="result().title"
  [metaDataLink]="showInteractiveElements() ? result().metaDataLink : undefined"
>
  @for (layer of result().layers; track layer.layer) {
    <div class="statistics-item">
      <map-overlay-list-item
        [forceExpanded]="true"
        [overlayTitle]="layer.title"
        [hasBackgroundColor]="false"
        [showInteractiveElements]="showInteractiveElements()"
      >
        <mat-icon class="statistics-item__icon" header-icon>layers</mat-icon>
        @if (getStatusText(layer); as statusText) {
          <p class="statistics-item__status">{{ statusText.text }}</p>
          @if (statusText.link; as link) {
            <a class="statistics-item__status-link" [href]="link.url" target="_blank" rel="noopener noreferrer">
              {{ link.label }}
              <mat-icon class="statistics-item__status-link__icon">north_east</mat-icon>
            </a>
          }
        } @else {
          <table class="statistics-item__table">
            <thead>
              <tr>
                <th scope="col"></th>
                @for (column of layer.columns; track column) {
                  <th scope="col">{{ column }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (row of layer.rows; track $index) {
                <tr [class.statistics-item__table__group]="row.isGroupHeader">
                  <th scope="row" [attr.colspan]="row.isGroupHeader ? layer.columns.length + 1 : null">{{ row.label }}</th>
                  @if (!row.isGroupHeader) {
                    @for (value of row.values; track $index) {
                      <td>
                        @if (value.value !== null) {
                          {{ value.value | number: '1.0-2' }}
                          @if (value.unit) {
                            <span class="statistics-item__table__unit">{{ value.unit }}</span>
                          }
                        } @else {
                          &ndash;
                        }
                      </td>
                    }
                  }
                </tr>
              }
            </tbody>
          </table>
        }
      </map-overlay-list-item>
    </div>
  }

  <ng-container header-icon>
    @if (result().icon; as icon) {
      <img class="statistics-item__icon" [src]="icon" [alt]="result().title" width="24" height="24" />
    } @else {
      <mat-icon class="statistics-item__icon">layers</mat-icon>
    }
  </ng-container>
</map-overlay-list-item>
