<h2>Umrandung</h2>
<slider-edit
  (updateSliderEvent)="updateValue('strokeWidth', $event)"
  [sliderValue]="lineStyle.strokeWidth"
  [min]="1"
  [max]="12"
  [step]="1"
  title="Strichstärke"
>
</slider-edit>
<slider-edit (updateSliderEvent)="updateValue('strokeOpacity', $event)" [sliderValue]="lineStyle.strokeOpacity" title="Deckkraft">
</slider-edit>
<color-picker-edit
  (updateColorEvent)="updateValue('strokeColor', $event)"
  [fillColor]="lineStyle.strokeColor"
  title="Strichfarbe"
></color-picker-edit>
