@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.search-result-entry-map {
  display: flex;
  padding: 12px;
  height: 46px;
  overflow: hidden;
  gap: 12px;
  text-decoration: none;
  color: unset;

  .search-result-entry-map__image {
    height: 44px;
    width: 44px;
    align-self: center;
    border-radius: 4px;
  }

  .search-result-entry-map__title {
    @include mixins.single-line-text;
    font-family: ktzh-variables.$zh-font-family-bold;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .search-result-entry-map__link {
    background-color: ktzh-variables.$zh-light-grey;
    border-radius: 50%;
  }
}

.search-result-entry-map__icon {
  background-color: rgb(240, 240, 240);
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
}

.search-result-entry-map__icon--rotate {
  rotate: -45deg;
  color: ktzh-variables.$zh-darkblue;
}
