@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.search-result-entry-map {
  display: flex;
  padding: 12px;
  height: 70px;
  overflow: hidden;
  gap: 12px;
  background-color: unset;
  border: none;
  width: 100%;
  cursor: pointer;

  .search-result-entry-map__image {
    height: 44px;
    width: 44px;
    align-self: center;
    border-radius: 4px;
  }

  .search-result-entry-map__title {
    @include mixins.single-line-text;
    font-family: ktzh-variables.$zh-font-family-bold;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .search-result-entry-map__link {
    background-color: ktzh-variables.$zh-light-grey;
    border-radius: 50%;
  }
}
