@use 'variables/ktzh-design-variables' as ktzh-variables;

.oereb-info-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.oereb-detail-list__title {
  color: ktzh-variables.$zh-black60;
  font-size: 12px;
  line-height: 18px;
  font-family: ktzh-variables.$zh-font-family-bold;
  font-weight: 900;
  padding-bottom: 6px;
}
