@use 'variables/ktzh-design-variables' as ktzh-variables;

.search-result-groups {
  display: flex;
  flex-direction: column;
  width: ktzh-variables.$zh-layout-max-content-width;
  gap: 32px;

  &--mobile {
    width: calc(100vw - 24px);
    gap: 6px;
  }

  .search-result-groups__group {
    box-sizing: border-box;

    .search-result-groups__group__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      .search-result-groups__group__list__list-item {
        list-style-type: none;
      }
    }
  }
}

@media (max-width: calc(#{ktzh-variables.$zh-layout-max-content-width} + 48px)) {
  .search-result-groups {
    width: calc(100vw - 62px);

    &--mobile {
      width: calc(100vw - 24px);
    }
  }
}
