@use 'variables/ktzh-design-variables' as ktzh-variables;

.start-page-search__results__groups {
  display: flex;
  flex-direction: column;
  width: ktzh-variables.$zh-layout-max-content-width;
  gap: 32px;

  &--mobile {
    width: calc(100vw - 24px);
    gap: 6px;
  }

  .start-page-search__results__groups__group {
    box-sizing: border-box;
  }
}
