@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;
@use 'mixins/material.mixin' as mat-mixins;

:host ::ng-deep .print_dialog__stepper__content__form__element {
  @include mat-mixins.mat-text-field-override-background;
  padding-top: 6px;

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 1px;
}

.print-dialog {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;

  .print-dialog__header {
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .print-dialog__header__title {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .print-dialog__stepper {
    flex: 1;

    .print_dialog__stepper__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding-right: 12px;
      margin: 16px 0;
      gap: 16px;

      .print_dialog__stepper__content__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .print_dialog__stepper__content__form--row {
        display: flex;
        gap: 16px;

        .print_dialog__stepper__content__form--row__element {
          flex: 1;
        }
      }

      .print_dialog__stepper__content__hint {
        display: flex;
        align-items: center;
        padding-top: 6px;

        .print_dialog__stepper__content__hint__text {
          padding-left: 6px;
        }
      }

      .print_dialog__stepper__content__button {
        height: 48px;

        &.mdc-button {
          background-color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 50);
          color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 300);

          &:last-of-type {
            background-color: functions.get-color-from-palette(ktzh-variables.$zh-accent);
            color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-accent);
          }
        }
      }
    }
  }

  .print-dialog__footer {
    flex-grow: 0;
    align-self: flex-end;

    .print-dialog__footer__button {
      height: 48px;

      &.mdc-button {
        background-color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 50);
        color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 300);

        &:disabled {
          color: ktzh-variables.$zh-disabled-foreground-color;
        }
      }
    }
  }
}
