<div class="print-dialog">
  <div class="print-dialog__header">
    <h1 class="print-dialog__header__title">Drucken</h1>
    <button mat-icon-button (click)="close()" [disabled]="printCreationLoadingState === 'loading'" aria-label="Schliessen">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="formGroup" class="print-dialog__form">
    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Beschriftung</legend>
      <mat-form-field appearance="outline" class="print-dialog__form__field print-dialog__form__field--full-width">
        <mat-label>Kartentitel</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="print-dialog__form__field print-dialog__form__field--full-width">
        <mat-label>Kommentar</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Art</legend>
      <mat-radio-group formControlName="reportType">
        <mat-radio-button value="standard">Karten überlagernd drucken</mat-radio-button>
        <mat-radio-button value="mapset">Karten separat drucken (Kartenset)</mat-radio-button>
      </mat-radio-group>
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Format</legend>
      <mat-form-field appearance="outline" class="print-dialog__form__field" hideRequiredMarker>
        <mat-label>Layout</mat-label>
        <mat-select formControlName="reportLayout">
          @for (reportLayout of availableReportLayouts; track reportLayout) {
            <mat-option [value]="reportLayout">
              {{ reportLayout }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (formGroup.controls.reportLayout.disabled) {
        <mat-hint>
          <div class="print-dialog__form__hint">
            <mat-icon class="print-dialog__form__hint__icon">info</mat-icon>
            <span class="print-dialog__form__hint__text">Kartensets können nur in A4 gedruckt werden</span>
          </div>
        </mat-hint>
      }
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Orientierung</legend>
      <mat-radio-group formControlName="reportOrientation">
        <mat-radio-button value="portrait">Hochformat</mat-radio-button>
        <mat-radio-button value="landscape">Querformat</mat-radio-button>
      </mat-radio-group>
      @if (formGroup.controls.reportOrientation.disabled) {
        <mat-hint>
          <div class="print-dialog__form__hint">
            <mat-icon class="print-dialog__form__hint__icon">info</mat-icon>
            <span class="print-dialog__form__hint__text">Kartensets können nur im Hochformat gedruckt werden</span>
          </div>
        </mat-hint>
      }
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Rotation/Massstab</legend>
      <div class="print-dialog__form__field-group">
        <mat-form-field appearance="outline" class="print-dialog__form__field">
          <mat-label>Rotation [°]</mat-label>
          <input matInput formControlName="rotation" type="number" min="-90" max="90" placeholder="0" />
          <mat-error>Minimum: -90° Maximum: 90°</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="print-dialog__form__field print-dialog__form__field--with-prefix" hideRequiredMarker>
          <mat-label>Massstab</mat-label>
          <input matInput formControlName="scale" />
          <span matPrefix class="print-dialog__form__field__prefix"> 1: </span>
          <mat-error>Minimum: 1:{{ maxScale }} Maximum: 1:{{ minScale }}</mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Auflösung</legend>
      <mat-form-field appearance="outline" class="print-dialog__form__field" hideRequiredMarker>
        <mat-label>Auflösung [dpi]</mat-label>
        <mat-select formControlName="dpi">
          @for (dpi of availableDpiSettings; track dpi) {
            <mat-option [value]="dpi">
              {{ dpi }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (formGroup.controls.dpi.disabled) {
        <mat-hint>
          <div class="print-dialog__form__hint">
            <mat-icon class="print-dialog__form__hint__icon">info</mat-icon>
            <span class="print-dialog__form__hint__text"
              >{{ formGroup.controls.reportLayout.value }} kann nur mit 150 dpi gedruckt werden</span
            >
          </div>
        </mat-hint>
      }
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Legende</legend>
      <mat-checkbox formControlName="showLegend" class="print-dialog__form__field">Legende</mat-checkbox>
    </fieldset>

    <fieldset class="print-dialog__form__fieldset">
      <legend class="print-dialog__form__fieldset__legend">Dateformat</legend>
      <mat-form-field appearance="outline" class="print-dialog__form__field" hideRequiredMarker>
        <mat-label>Dateiformat</mat-label>
        <mat-select formControlName="fileFormat">
          @for (format of availableFileFormats; track format) {
            <mat-option [value]="format">
              {{ format }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (formGroup.controls.fileFormat.disabled) {
        <mat-hint>
          <div class="print-dialog__form__hint">
            <mat-icon class="print-dialog__form__hint__icon">info</mat-icon>
            <span class="print-dialog__form__hint__text"
              >Kartensets oder Karten mit Legenden können nur als {{ formGroup.controls.fileFormat.value }} gedruckt werden</span
            >
          </div>
        </mat-hint>
      }
    </fieldset>

    <div>
      <button
        class="print-dialog__form__button"
        (click)="print()"
        color="accent"
        type="submit"
        form="printForm"
        [disabled]="!formGroup || formGroup.status !== 'VALID' || printCreationLoadingState === 'loading'"
        mat-button
      >
        Drucken
      </button>
    </div>

    <loading-and-process-bar [loadingState]="printCreationLoadingState"></loading-and-process-bar>
  </form>

  <div class="print-dialog__footer">
    <button class="print-dialog__footer__button" (click)="close()" [disabled]="printCreationLoadingState === 'loading'" mat-button>
      Abbrechen
    </button>
  </div>
</div>
