@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;
@use 'functions/helper.function' as functions;

.bottom-sheet-item {
  width: 100vw;
  bottom: 0px;
  pointer-events: all;
  z-index: z-index-variables.$map-overlay;

  &--small {
    height: 200px;
  }

  &--medium {
    height: max(60vh, 300px);
  }

  &--large {
    height: 85vh;
  }

  .bottom-sheet-item__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 16px 0;
    border-top-right-radius: ktzh-variables.$zh-border-radius;
    border-top-left-radius: ktzh-variables.$zh-border-radius;

    &--primary-color {
      background-color: functions.get-color-from-palette(ktzh-variables.$zh-primary);
    }

    .bottom-sheet-item__header__container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__button--primary--color {
        color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
      }

      .bottom-sheet-item__header__container__title {
        flex-grow: 1;
        margin-bottom: 0;
        align-self: flex-start;
        font-size: 24px;
      }

      .bottom-sheet-item__header__container__hr {
        width: 100%;
        margin: 16px 0;
      }
    }

    .bottom-sheet-item__header__content {
      width: 100%;
    }
  }

  .bottom-sheet-item__content {
    flex: 1;
    overflow: hidden scroll;
  }
}
