<mat-card class="bottom-sheet-overlay">
  <mat-card-header class="bottom-sheet-overlay__header" [ngClass]="{'bottom-sheet-overlay__header__map-management': isBlue}">
    <h1 class="bottom-sheet-overlay__header__title">{{ overlayTitle }}</h1>
    <button (click)="onClose()" mat-icon-button [ngClass]="{'bottom-sheet-overlay__header__button': isBlue}">
      <mat-icon>close</mat-icon>
    </button>
    <div class="break"></div>
    <div class="item">
      <ng-content select="[header]"></ng-content>
    </div>
  </mat-card-header>
  <mat-card-content class="bottom-sheet-overlay__content">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
