<h2>Umfang der Verarbeitung personenbezogener Daten</h2>
<p>
  Wir verarbeiten personenbezogene Daten, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen
  erforderlich ist. Die Verarbeitung personenbezogener Daten erfolgt regelmässig nur nach Einwilligung. Diese ist ausdrücklich zu erteilen
  und gilt bis zu ihrem Widerruf.
</p>
<p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt.</p>
<h2>Beschreibung und Umfang der Datenverarbeitung</h2>
<p>
  Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden
  Rechners.
</p>
<p>Folgende Daten werden hierbei erhoben:</p>
<ul>
  <li>Internet-Service-Provider der Nutzerin oder des Nutzers</li>
  <li>IP-Adresse der Nutzerin oder des Nutzers</li>
  <li>Datum und Uhrzeit des Zugriffs</li>
</ul>
<p>
  Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner der Nutzerin
  oder des Nutzers zu ermöglichen. Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
  erforderlich sind.
</p>
<h2>Verwendung von Cookies</h2>
<p>
  Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw. vom Internetbrowser auf dem
  Computersystem der Nutzerin oder des Nutzers gespeichert werden. Ruft eine Nutzerin oder ein Nutzer eine Website auf, so kann ein Cookie
  auf dem Betriebssystem der Nutzerin oder des Nutzers gespeichert werden. Dieses Cookie enthält eine charakteristische Zeichenfolge, die
  eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website ermöglicht.
</p>
<p>Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten.</p>
<p>
  Cookies werden auf dem Rechner der Nutzerin oder des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben Sie als
  Nutzerin oder Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in Ihrem
  Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können jederzeit
  gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr
  alle Funktionen der Website vollumfänglich genutzt werden.
</p>
<h2>Registrierung</h2>
<p>
  Auf unserer Internetseite bieten wir den Nutzerinnen und Nutzern die Möglichkeit, sich unter Angabe personenbezogener Daten zu
  registrieren. Die Daten werden dabei in eine Eingabemaske eingegeben und an uns übermittelt und gespeichert. Eine Weitergabe der Daten an
  Dritte findet nicht statt. Folgende Daten werden im Rahmen des Registrierungsprozesses erhoben:
</p>
<ul>
  <li>Die IP-Adresse der Nutzerin oder des Nutzers</li>
  <li>Datum und Uhrzeit der Registrierung</li>
</ul>
<p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.</p>
<h2>YouTube</h2>
<p>
  Videos, die auf unserem Webauftritt angezeigt werden, sind via der YouTube-API eingebunden. Nutzende werden auf unserem Webauftritt
  vorgängig um ihr Einverständnis gefragt, bevor eine Verbindung zu YouTube aufgebaut und das Video abgespielt wird.
</p>
<ul>
  <li>Nutzungsbedingungen von YouTube</li>
</ul>
