<div class="map-container">
  <map></map>
  <legend-widget (printLegendEvent)="this.showPrint('legend')"></legend-widget>
  <div class="map-container__all-map-items-container">
    <active-map-items-widget
      class="all-map-items-container__active-map-items-widget"
      typedTourAnchor="map.active.map.items"
      (showAttributeFilterEvent)="openMapAttributeFilter($event)"
    ></active-map-items-widget>
    <map-data-catalogue class="all-map-items-container__map-data-catalogue" typedTourAnchor="map.catalogue"></map-data-catalogue>
  </div>
  <map-attribute-filter
    class="map-container__map-attribute-filter"
    *ngIf="mapAttributeFilterItem"
    [activeMapItem]="mapAttributeFilterItem"
    (closeEvent)="closeMapAttributeFilter()"
  ></map-attribute-filter>
  <feature-info (printFeatureInfoEvent)="this.showPrint('featureInfo')"></feature-info>
  <search-window class="map-container__search-window"></search-window>
</div>
<print-overlay></print-overlay>
<onboarding-guide [introductionImage]="this.onboardingGuideImage"></onboarding-guide>
<center-anchor anchorName="map.start.tour"></center-anchor>
<center-anchor anchorName="map.feature.info"></center-anchor>
<center-anchor anchorName="map.end.tour"></center-anchor>
