@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as material-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.map-container {
  height: calc(100vh - #{map-layout-variables.$navbar-height}); // subtracts height of navbar
  position: relative;
  $minimal-bottom-height: map-layout-variables.$esri-attribution-widget-height;

  .map-container__map-element--hidden {
    display: none !important;
  }

  .map-container__map-controls {
    position: absolute;
    bottom: calc(12px + $minimal-bottom-height);
    right: 12px;
    pointer-events: none;
  }

  .map-container__legend-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .map-container__all-map-items-container {
    @include mixins.hide-on-small-screens;

    position: absolute;
    top: 12px;
    left: 12px;
    bottom: calc(12px + $minimal-bottom-height);
    width: map-layout-variables.$map-overlay-width;
    pointer-events: none;

    .map-container__all-map-items-container__inner-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .map-container__all-map-items-container__inner-container__active-map-items {
        @include mixins.map-element-box-shadow;
        display: flex;
        // max height is 50% subtracted by the divider height between this element and the map data catalogue (12px / 2)
        max-height: calc(50% - 6px);
        pointer-events: all;

        &--maximized {
          max-height: 100%;
          overflow-y: hidden;
        }
      }

      .map-container__all-map-items-container__inner-container__divider {
        min-height: 12px;
      }

      .map-container__all-map-items-container__inner-container__map-data-catalogue {
        @include mixins.map-element-box-shadow;
        display: flex;
        overflow-y: hidden;
        pointer-events: all;

        &--minimized {
          overflow-y: visible;
        }
      }
    }
  }

  .map-container__legend-button {
    @include mixins.map-element-box-shadow;
    @include mixins.hide-on-small-screens;
    @include material-mixins.mat-icon-custom-svg-size(16px);

    position: absolute;
    top: 12px;
    left: calc(24px + map-layout-variables.$map-overlay-width);
    height: 48px;
    width: map-layout-variables.$legend-button-width;
    background-color: ktzh-variables.$zh-background-color;
    // TODO: temporary hack to prevent the search bar from colliding with this button if the screen size is too small;
    // this can be removed as soon as the breakpoints are properly implemented
    z-index: 0;
  }

  .map-container__map-attribute-filter {
    @include mixins.map-element-box-shadow;
    position: absolute;
    top: 132px; // starting at the first 'active map item' position
    left: calc(24px + map-layout-variables.$map-overlay-width);
    max-height: 30vh;
    overflow-y: hidden;
  }

  .map-container__feature-info-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .map-container__search-window {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 85px;
    pointer-events: none;
  }

  .map-container__search-window-mobile {
    position: absolute;
    bottom: 12px;
    width: 100vw;
    pointer-events: none;
  }

  .map-container__map-tools {
    position: absolute;
    top: 120px;
    right: 12px;
  }

  .map-container__map-tools-mobile {
    position: absolute;
    top: 12px;
    right: 150px;
  }

  .map-container__all-map-items-container-mobile {
    position: absolute;
    bottom: 100px;
    right: 12px;
    width: 60px;
    height: 60px;
  }
}

@media print {
  .map-container {
    display: none;
  }
}
