@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as material-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.map-container {
  height: 100%;
  position: relative;
  $all-map-items-container-width: 450px;
  $minimal-bottom-height: ktzh-variables.$esri-attribution-widget-height;

  .map-container__map-element--hidden {
    display: none !important;
  }

  .map-container__map-controls {
    position: absolute;
    bottom: calc(12px + $minimal-bottom-height);
    right: 12px;
    pointer-events: none;
  }

  .map-container__legend-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 450px;
  }

  .map-container__all-map-items-container {
    @include mixins.hide-on-small-screens;

    position: absolute;
    top: 12px;
    left: 12px;
    bottom: calc(12px + $minimal-bottom-height);
    width: $all-map-items-container-width;
    pointer-events: none;

    .map-container__all-map-items-container__inner-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .map-container__all-map-items-container__inner-container__active-map-items {
        @include mixins.map-element-box-shadow;
        display: flex;
        // max height is 50% subtracted by the divider height between this element and the map data catalogue (12px / 2)
        max-height: calc(50% - 6px);
        pointer-events: all;

        &--maximized {
          max-height: 100%;
          overflow-y: hidden;
        }
      }

      .map-container__all-map-items-container__inner-container__divider {
        min-height: 12px;
      }

      .map-container__all-map-items-container__inner-container__map-data-catalogue {
        @include mixins.map-element-box-shadow;
        display: flex;
        overflow-y: hidden;
        pointer-events: all;

        &--minimized {
          overflow-y: visible;
        }
      }
    }
  }

  .map-container__legend-button {
    @include mixins.map-element-box-shadow;
    @include mixins.hide-on-small-screens;
    @include material-mixins.mat-icon-custom-svg-size(16px);

    position: absolute;
    top: 12px;
    left: calc(24px + $all-map-items-container-width);
    height: 48px;
    width: 125px;
    background-color: ktzh-variables.$zh-background-color;
  }

  .map-container__map-attribute-filter {
    @include mixins.map-element-box-shadow;
    position: absolute;
    top: 132px; // starting at the first 'active map item' position
    left: calc(24px + $all-map-items-container-width);
    max-height: 30vh;
    overflow-y: hidden;
  }

  .map-container__feature-info-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .map-container__search-window {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 85px;
    pointer-events: none;
  }

  .map-container__map-tools {
    position: absolute;
    top: 120px;
    right: 12px;
  }
}

@media print {
  .map-container {
    display: none;
  }
}
