<mat-drawer-container class="map-container" [ngClass]="{'map-container--mobile': screenMode === 'mobile'}">
  <mat-drawer
    mode="side"
    position="end"
    [opened]="mapSideDrawerContent !== 'none'"
    (closedStart)="closeSideDrawer()"
    [ngSwitch]="mapSideDrawerContent"
  >
    <print-dialog *ngSwitchCase="'print'"></print-dialog>
  </mat-drawer>

  <map-container></map-container>

  <map-controls class="map-container__map-controls" *ngIf="screenMode !== 'mobile'"></map-controls>
  <legend-overlay
    class="map-container__legend-overlay"
    [ngClass]="{'map-container__map-element--hidden': mapUiState?.hideUiElements && screenMode !== 'mobile'}"
    (printLegendEvent)="showPrint('legend')"
  ></legend-overlay>
  <div class="map-container__all-map-items-container" *ngIf="screenMode !== 'mobile'">
    <div class="map-container__all-map-items-container__inner-container">
      <active-map-items
        class="map-container__all-map-items-container__inner-container__active-map-items"
        [ngClass]="{
          'map-container__all-map-items-container__inner-container__active-map-items--maximized': isMapDataCatalogueMinimized,
          'map-container__map-element--hidden': mapUiState?.hideUiElements
        }"
        typedTourAnchor="map.active.map.items"
      ></active-map-items>
      <span class="map-container__all-map-items-container__inner-container__divider"></span>
      <map-data-catalogue
        class="map-container__all-map-items-container__inner-container__map-data-catalogue"
        [ngClass]="{
          'map-container__all-map-items-container__inner-container__map-data-catalogue--minimized': isMapDataCatalogueMinimized,
          'map-container__map-element--hidden': mapUiState?.hideUiElements
        }"
        typedTourAnchor="map.catalogue"
        (changeIsMinimizedEvent)="setIsMapDataCatalogueMinimized($event)"
      ></map-data-catalogue>
    </div>
  </div>
  <button
    *ngIf="screenMode !== 'mobile'"
    mat-flat-button
    (click)="showLegend()"
    [disabled]="numberOfQueryLegends === 0"
    class="map-container__legend-button"
    [ngClass]="{'map-container__map-element--hidden': mapUiState?.hideUiElements}"
  >
    <mat-icon svgIcon="ktzh_legend"></mat-icon>
    Legende
  </button>
  <map-attribute-filter
    class="map-container__map-attribute-filter"
    [ngClass]="{
      'map-container__map-element--hidden': mapUiState?.hideUiElements,
      'map-container__map-attribute-filter--regular-screen': screenMode !== 'mobile'
    }"
  ></map-attribute-filter>
  <feature-info-overlay
    class="map-container__feature-info-overlay"
    [ngClass]="{'map-container__map-element--hidden': mapUiState?.hideUiElements}"
    (printFeatureInfoEvent)="showPrint('featureInfo')"
  ></feature-info-overlay>
  <search-window
    class="map-container__search-window"
    [ngClass]="{
      'map-container__map-element--hidden': mapUiState?.hideUiElements,
      'map-container__search-window--mobile': screenMode === 'mobile'
    }"
  ></search-window>
  <map-tools
    [ngClass]="{
      'map-container__map-element--hidden': mapUiState?.hideUiElements,
      'map-container__map-tools--mobile': screenMode === 'mobile'
    }"
    class="map-container__map-tools"
  ></map-tools>
  <div class="map-container__all-map-items-container--mobile">
    <button
      *ngIf="screenMode === 'mobile'"
      mat-icon-button
      (click)="showMapManagement()"
      color="accent"
      class="map-management__button"
      [ngClass]="{'map-container__map-element--hidden': mapUiState?.hideUiElements}"
    >
      <mat-icon svgIcon="ktzh_map_management"></mat-icon>
    </button>
  </div>
  <bottom-sheet-overlay *ngIf="screenMode === 'mobile'"></bottom-sheet-overlay>
</mat-drawer-container>
<print-overlay></print-overlay>
<onboarding-guide [introductionImage]="onboardingGuideImage"></onboarding-guide>
<center-anchor anchorName="map.start.tour"></center-anchor>
<center-anchor anchorName="map.feature.info"></center-anchor>
<center-anchor anchorName="map.end.tour"></center-anchor>
