.map-container {
  height: 100%;

  .map-items-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    bottom: 25px;
    left: 15px;
    width: 450px;
    overflow-y: hidden;
  }

  .active-map-items {
    display: flex;
    max-height: 50%;
    padding-bottom: 4px;
  }

  .map-catalogue {
    display: flex;
    min-height: 50%;
    padding-top: 4px;
  }
}

@media print {
  .map-container {
    display: none;
  }
}
