<div
  class="expandable-list-item-header"
  [attr.data-test-id]="isExpanded() ? 'hide-catalogue-items-of-the-map' : 'show-catalogue-items-of-the-map'"
>
  @if (showBadge()) {
    <span
      class="expandable-list-item-header__badge"
      [matBadge]="numberOfItems()"
      [class.result-group__header__inner__badge--hidden]="numberOfItems() === 0"
    ></span>
  }
  <p class="expandable-list-item-header__title" [title]="title()">{{ title() }}</p>
  <mat-icon class="expandable-list-item-header__expand-icon" [fontIcon]="isExpanded() ? 'arrow_drop_up' : 'arrow_drop_down'" />
  <loading-and-process-bar [loadingState]="loadingState()" class="expandable-list-item-header__loader" />
</div>
