<loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>

<data-catalogue-detail-page *ngIf="baseMetadataInformation" [baseMetadataInformation]="baseMetadataInformation">
  <data-catalogue-detail-page-section>
    <descriptive-highlighted-link [title]="'Karte auf GIS-Browser ansehen'" topLink>
      <a [queryParams]="{initialMapIds: baseMetadataInformation.topic}" [routerLink]="'/' + mainPageEnum.Maps" mat-icon-button>
        <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
      </a>
    </descriptive-highlighted-link>
  </data-catalogue-detail-page-section>

  <data-catalogue-detail-page-section>
    <data-display-section [sectionTitle]="'Verantwortlich für Geodaten'">
      <data-display [elements]="geodataContactElements"></data-display>
    </data-display-section>
  </data-catalogue-detail-page-section>

  <data-catalogue-detail-page-section>
    <data-display-section [sectionTitle]="'Informationen'">
      <data-display [elements]="informationElements"></data-display>
    </data-display-section>
  </data-catalogue-detail-page-section>

  <data-catalogue-detail-page-section *ngIf="linkedDatasets.length > 0">
    <data-display-section [sectionTitle]="'Verwendete Geodaten'">
      <descriptive-highlighted-link
        *ngFor="let linkedDataset of linkedDatasets"
        [description]="linkedDataset.shortDescription"
        [title]="linkedDataset.name"
        [id]="linkedDataset.gisZHNr"
      >
        <a [routerLink]="['/', mainPageEnum.Data, dataCataloguePageEnum.Datasets, linkedDataset.uuid]" mat-icon-button>
          <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
        </a>
      </descriptive-highlighted-link>
    </data-display-section>
  </data-catalogue-detail-page-section>
</data-catalogue-detail-page>
