<loading-and-process-bar [loadingState]="this.loadingState"></loading-and-process-bar>
<div *ngIf="datasetInformation" class="map-detail">
  <a [routerLink]="'/' + mainPageEnum.Data" class="map-detail__back-button" mat-button>
    <mat-icon [svgIcon]="'ktzh_arrow_left'"></mat-icon>
    Zur Übersicht
  </a>
  <h1 class="map-detail__title mat-headline-4">{{ datasetInformation.title }}</h1>
  <div class="map-detail__data">
    <descriptive-highlighted-link [title]="'Karte auf GIS-Browser ansehen'">
      <a [queryParams]="{initialMapIds: datasetInformation.topic}" [routerLink]="'/' + mainPageEnum.Maps" mat-icon-button>
        <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
      </a>
    </descriptive-highlighted-link>
  </div>
  <keyword-list [keywords]="datasetInformation.keywords"></keyword-list>
  <div class="map-detail__data">
    <data-display-section
      [dataDisplayElements]="geodataContactElements"
      [sectionTitle]="'Verantwortlich für Geodaten'"
    ></data-display-section>
  </div>
  <div class="map-detail__data">
    <data-display-section [dataDisplayElements]="informationElements" [sectionTitle]="'Informationen'"></data-display-section>
  </div>
  <!-- todo: as soon as design is fixed, maybe refactor with generic data-display-section -->
  <div *ngIf="linkedDatasets.length > 0" class="map-detail__data">
    <h2>Verwendete Geodatensätze</h2>
    <div class="map-detail__data__linked-data">
      <descriptive-highlighted-link
        *ngFor="let linkedDataset of linkedDatasets"
        [description]="linkedDataset.shortDescription"
        [title]="linkedDataset.name"
      >
        <a [routerLink]="'/' + mainPageEnum.Data + '/' + dataCataloguePageEnum.Datasets + '/' + linkedDataset.guid" mat-icon-button>
          <mat-icon svgIcon="ktzh_arrow_right"></mat-icon>
        </a>
      </descriptive-highlighted-link>
    </div>
  </div>
</div>
