<mat-accordion class="layer-widget" multi="true" displayMode="flat" cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let layer of layers" class="panel">
    <mat-expansion-panel cdkDrag [hideToggle]="true" #layerExpansionPanel>
      <mat-expansion-panel-header (click)="layerExpansionPanel.toggle()" class="expansion-panel-header">
        <mat-icon class="layer-drag-handle" cdkDragHandle>drag_indicator</mat-icon>
        <button mat-button *ngIf="!layerExpansionPanel.expanded" (click)="layerExpansionPanel.open()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-button *ngIf="layerExpansionPanel.expanded" (click)="layerExpansionPanel.close()">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-button (click)="toggleLayerVisibility(layer)">
          <div class="layer-image-box">
            <mat-icon class="layer-image">image</mat-icon>
            <mat-icon class="layer-visibility-image" [fontIcon]="layer.visible ? 'visibility' : 'visibility_off'"></mat-icon>
          </div>
        </button>
        <p class="layer-controls-left-last-element">{{ layer.title }}</p>
        <button mat-button (click)="removeLayer(layer)"><mat-icon>delete</mat-icon></button>
        <div class="layer-menu">
          <button class="layer-menu-handle" mat-button (click)="layerMenuTrigger.openMenu()">
            <mat-icon>more_horiz</mat-icon>
            <div #layerMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="layerMenu"></div>
          </button>
          <mat-menu #layerMenu="matMenu">
            <button mat-menu-item>Option 1</button>
            <!-- TODO: replace this placeholder -->
            <button mat-menu-item>Option 2</button>
            <!-- TODO: replace this placeholder -->
            <mat-card class="no-shadow">
              <p>Opacity: {{ layer.opacity }}</p>
              <mat-slider
                min="0"
                max="1"
                step="0.01"
                [thumbLabel]="true"
                [value]="layer.opacity"
                (input)="onOpacitySliderChange($event, layer)"
              ></mat-slider>
            </mat-card>
          </mat-menu>
        </div>
      </mat-expansion-panel-header>
      <!-- Expansion panel content -->
      <div *ngFor="let subLayer of getSubLayers(layer)">
        <mat-card class="sublayer-item no-shadow">
          <button mat-button><mat-icon>layers</mat-icon></button>
          <div>{{ subLayer.title }}</div>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </div>
  <mat-progress-bar [mode]="mapViewUpdating ? 'indeterminate' : 'determinate'"></mat-progress-bar>
</mat-accordion>
