<div class="legend-content">
  @if (!layer.layerClasses || layer.layerClasses.length === 0) {
    <i>Keine Klassen.</i>
  }
  @for (layerClass of layer.layerClasses; track layerClass) {
    <div class="legend-item__class-list-entry">
      <div class="legend-item__class-list-entry__icon">
        <img alt="{{ layerClass.label }}" src="{{ this.staticFilesBaseUrl }}/{{ layerClass.image }}" />
      </div>
      <div class="legend-item__class-list-entry__text" [title]="layerClass.label">
        {{ layerClass.label }}
      </div>
    </div>
  }
</div>
