<div class="zoom-controls">
  @if (showLocateMeButton()) {
    <button
      mat-icon-button
      (click)="locateClient()"
      color="accent"
      class="zoom-controls__button"
      data-test-id="map-locate-me"
      [matTooltip]="locationButtonTooltipText()"
      [aria-label]="locationButtonTooltipText()"
      [disabled]="geolocationState().loadingState === 'loading'"
      [class.zoom-controls--hidden]="mapUiState().hideUiElements"
    >
      <mat-icon svgIcon="ktzh_locate_me" />
      <loading-and-process-bar [loadingState]="geolocationState().loadingState" />
    </button>
    <mat-divider
      class="zoom-controls__divider"
      [class.zoom-controls--hidden]="mapUiState().hideZoomButtons || mapUiState().hideUiElements || screenHeight() === 'small'"
    />
  }
  <div [class.zoom-controls--hidden]="mapUiState().hideZoomButtons || screenHeight() === 'small'">
    <button
      mat-icon-button
      (click)="goToInitialExtent()"
      color="accent"
      class="zoom-controls__button"
      data-test-id="map-home"
      [matTooltip]="tooltipText.home"
      [aria-label]="tooltipText.home"
    >
      <mat-icon svgIcon="ktzh_home_extent" />
    </button>
    <button
      mat-icon-button
      (click)="handleZoom('zoomIn')"
      color="accent"
      [disabled]="isMaxZoomedIn()"
      class="zoom-controls__button"
      data-test-id="map-add"
      [matTooltip]="tooltipText.zoomIn"
      [aria-label]="tooltipText.zoomIn"
    >
      <mat-icon svgIcon="ktzh_add" />
    </button>
    <button
      mat-icon-button
      (click)="handleZoom('zoomOut')"
      color="accent"
      [disabled]="isMaxZoomedOut()"
      class="zoom-controls__button"
      data-test-id="map-remove"
      [matTooltip]="tooltipText.zoomOut"
      [aria-label]="tooltipText.zoomOut"
    >
      <mat-icon svgIcon="ktzh_remove" />
    </button>
  </div>
</div>
