<div class="zoom-controls">
  @if (showLocateMeButton) {
    <button
      mat-icon-button
      (click)="this.locateClient()"
      color="accent"
      class="zoom-controls__button"
      data-test-id="map-locate-me"
      [matTooltip]="locationButtonTooltipText"
      [attr.aria-label]="locationButtonTooltipText"
      [disabled]="this.geolocationState.loadingState === 'loading'"
      [ngClass]="{'zoom-controls--hidden': mapUiState?.hideUiElements}"
    >
      <mat-icon svgIcon="ktzh_locate_me"></mat-icon>
      <loading-and-process-bar [loadingState]="this.geolocationState.loadingState"></loading-and-process-bar>
    </button>
    <mat-divider
      class="zoom-controls__divider"
      [ngClass]="{'zoom-controls--hidden': mapUiState?.hideZoomButtons || mapUiState?.hideUiElements || screenHeight === 'small'}"
    ></mat-divider>
  }
  <div [ngClass]="{'zoom-controls--hidden': mapUiState?.hideZoomButtons || screenHeight === 'small'}">
    <button
      mat-icon-button
      (click)="this.goToInitialExtent()"
      color="accent"
      class="zoom-controls__button"
      data-test-id="map-home"
      [matTooltip]="tooltipText.home"
      [attr.aria-label]="tooltipText.home"
    >
      <mat-icon svgIcon="ktzh_home_extent"></mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="this.handleZoom('zoomIn')"
      color="accent"
      [disabled]="this.isMaxZoomedIn"
      class="zoom-controls__button"
      data-test-id="map-add"
      [matTooltip]="tooltipText.zoomIn"
      [attr.aria-label]="tooltipText.zoomIn"
    >
      <mat-icon svgIcon="ktzh_add"></mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="this.handleZoom('zoomOut')"
      color="accent"
      [disabled]="this.isMaxZoomedOut"
      class="zoom-controls__button"
      data-test-id="map-remove"
      [matTooltip]="tooltipText.zoomOut"
      [attr.aria-label]="tooltipText.zoomOut"
    >
      <mat-icon svgIcon="ktzh_remove"></mat-icon>
    </button>
  </div>
</div>
