@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;

:host ::ng-deep {
  .zoom-controls__button {
    @include mat-mixins.mat-icon-button-override-border-radius(ktzh-variables.$zh-border-radius);
    @include mat-mixins.mat-icon-custom-svg-size(20px);
  }
}

.zoom-controls {
  width: 48px;
  display: flex;
  flex-direction: column;
  background-color: ktzh-variables.$zh-background-color;
  pointer-events: all;

  &--hidden {
    display: none !important;
  }

  .zoom-controls__divider {
    width: 50%;
    align-self: center;
  }

  @media (max-height: 790px) {
    .zoom-controls__small-screen {
      display: none;
    }
  }
}
