@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.search-window-mobile {
  .search-window-mobile__searchbar {
    pointer-events: all;
  }

  .search-window-mobile__results-container {
    @include mixins.map-element-box-shadow;
    background-color: ktzh-variables.$zh-background-color;
    pointer-events: all;
    max-height: 60vh;
    overflow-y: scroll;
  }
}
