<div class="search-window-mobile">
  <div class="search-window-mobile__searchbar">
    <search
      mode="mobile"
      placeholderText="Suchen nach Adressen, Orten, Karten und mehr..."
      [focusOnInit]="focusOnInit"
      (changeSearchTermEvent)="searchForTerm($event)"
      (clearSearchTermEvent)="clearSearchTerm()"
      (openFilterEvent)="openFilterMenu()"
      [isAnyFilterActive]="isAnySearchFilterActive"
      [canSearchBeSetManually]="true"
    ></search>
  </div>
  <div class="search-window-mobile__results-container">
    <result-groups [showMultiplePanels]="false"></result-groups>
  </div>
</div>
