// CSS GLOBAL
@use '@angular/material' as mat;
@import 'variables/ktzh-design-variables';

@include mat.core();

/* Theme
========================== */

// For usage, refer to: https://material.angular.io/guide/theming
$zh-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $zh-light-primary,
      accent: $zh-light-accent,
      warn: $zh-light-warn
    ),
    typography: $zh-typography-config
  )
);

$theme: $zh-light-theme;

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
