@use 'mixins/material.mixin' as mat-mixins;
@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.data-catalogue-detail-page {
  display: flex;
  justify-content: center;

  .data-catalogue-detail-page__content {
    max-width: ktzh-variables.$zh-layout-max-content-width;
    width: 100%;

    .data-catalogue-detail-page__back-button {
      width: fit-content;
      margin-bottom: 60px;
      @include mat-mixins.mat-button-ktzh-link($align-item-right: false);

      &--mobile {
        margin-top: 50px;
        margin-bottom: 18px;
      }
    }

    .data-catalogue-detail-page__title {
      display: flex;
      gap: 60px;

      &--mobile {
        flex-direction: column;
        gap: 24px;
      }

      .data-catalogue-detail-page__title__image {
        display: block;
        max-width: 368px;
      }
    }

    .data-catalogue-detail-page__description {
      margin: 24px 0;
    }

    .data-catalogue-detail-page__category {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .data-catalogue-detail-page__category__title {
        font-size: 16px;
      }

      .data-catalogue-detail-page__category__content {
        .data-catalogue-detail-page__category__content__pill {
          background-color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 50);
          color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-accent, 50);
          padding: 6px 16px 6px 16px;
          border-radius: 50px;
        }
      }
    }

    .dataset-detail__description {
      margin-bottom: 60px;
    }
  }
}
