<div class="data-catalogue-detail-page">
  <div class="data-catalogue-detail-page__content">
    <a [routerLink]="'/' + mainPageEnum.Data" class="data-catalogue-detail-page__back-button" mat-button>
      <mat-icon [svgIcon]="'ktzh_arrow_left'"></mat-icon>
      Zur Übersicht
    </a>
    <div class="data-catalogue-detail-page__title">
      @if (baseMetadataInformation.imageUrl) {
        <img [src]="baseMetadataInformation.imageUrl" class="data-catalogue-detail-page__title__image" />
      }
      <div>
        <h1 class="data-catalogue-detail-page__title__text mat-headline-4">{{ baseMetadataInformation.itemTitle }}</h1>
        @if (baseMetadataInformation.shortDescription) {
          <p class="data-catalogue-detail-page__description mat-body" [innerHTML]="baseMetadataInformation.shortDescription"></p>
        }
        <keyword-list [keywords]="baseMetadataInformation.keywords" listTitle="Kategorie"></keyword-list>
      </div>
    </div>

    <ng-content select="[topLink]"></ng-content>
    <ng-content></ng-content>
  </div>
</div>
