<div class="drawing-symbols-collection__grid">
  @for (item of statefulItems(); track $index) {
    <label [for]="item.symbol.name" class="drawing-symbols-collection__grid__item">
      <input
        type="radio"
        class="sr-only"
        [name]="groupName()"
        [id]="item.symbol.name"
        [checked]="item.isSelected"
        (change)="value.set(item.symbol.item)"
      />
      @defer {
        <img
          loading="lazy"
          fetchpriority="low"
          [src]="item.symbol.thumbnail"
          [alt]="item.symbol.name"
          [title]="item.symbol.name"
          class="drawing-symbols-collection__grid__thumbnail"
          width="64"
          height="64"
        />
      } @placeholder {
        <div aria-hidden="true" class="drawing-symbols-collection__grid__thumbnail--placeholder"></div>
      }
      <span class="sr-only">
        {{ item.symbol.name }}
      </span>
    </label>
  }
</div>
