@use 'mixins/helpers.mixin' as mixins;

.transparency {
  padding: 4px;

  .transparency__slider {
    width: 100%;
    margin: 0;
  }
}

.sublayer-list {
  margin-left: 56px;

  .sublayer {
    @include mixins.no-box-shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;

    .sublayer__drag-handle {
      min-width: 24px;
    }

    .sublayer__image-container {
      position: relative;
      float: left;

      .sublayer__image-container__visibility {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
      }
    }

    .sublayer__title {
      @include mixins.single-line-text;
      width: 100vw;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .sublayer:hover {
    .sublayer__image-container {
      .sublayer__image-container__image {
        visibility: hidden;
      }

      .sublayer__image-container__visibility {
        display: inline-block;
      }
    }
  }
}
