<!-- Opacity config -->
<ktzh-slider-wrapper
  class="transparency"
  title="Transparenz"
  [value]="currentOpacity"
  [minValue]="0"
  [maxValue]="1"
  [displayWith]="displayTransparency"
>
  <mat-slider [min]="0" [max]="1" [step]="0.01" color="accent" class="transparency__slider">
    <input matSliderThumb [(ngModel)]="currentOpacity" (valueChange)="onOpacitySliderChange($event)" />
  </mat-slider>
</ktzh-slider-wrapper>

<!-- Time slider config -->
<ng-container *ngIf="activeMapItem.timeSliderConfiguration && activeMapItem.timeSliderExtent">
  <time-slider
    class="time-slider"
    [initialTimeExtent]="activeMapItem.timeSliderExtent"
    [timeSliderConfiguration]="activeMapItem.timeSliderConfiguration"
    (timeExtentChanged)="onTimeSliderExtentChange($event)"
  ></time-slider>
</ng-container>

<map-attribute-filter *ngIf="activeMapItem.filterConfigurations" [activeMapItem]="activeMapItem"></map-attribute-filter>

<!-- List of sublayers (only if the map item is not a single layer itself) -->
<ng-container *ngIf="!activeMapItem.isSingleLayer">
  <mat-divider></mat-divider>

  <div class="sublayer-list" cdkDropList (cdkDropListDropped)="dropSublayer($event)">
    <ng-container *ngFor="let layer of activeMapItem.layers; trackBy: trackByLayerId">
      <!-- Sublayer-->
      <mat-card appearance="raised" class="sublayer" cdkDrag *ngIf="!layer.isHidden">
        <mat-icon class="sublayer__drag-handle" cdkDragHandle>drag_indicator</mat-icon>
        <button mat-icon-button (click)="toggleSublayerVisibility(layer)" [disabled]="!activeMapItem.visible">
          <div class="sublayer__image-container">
            <mat-icon class="sublayer__image-container__image">layers</mat-icon>
            <mat-icon class="sublayer__image-container__visibility" [fontIcon]="layer.visible ? 'visibility' : 'visibility_off'"></mat-icon>
          </div>
        </button>
        <p class="sublayer__title" matTooltip="{{ layer.title }}">{{ layer.title }}</p>
      </mat-card>
    </ng-container>
  </div>
</ng-container>
