@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/search-bar-variables' as search-bar-variables;

.start-page {
  .start-page__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(0px - #{search-bar-variables.$search-bar-wrapper-height} / 2);

    &--mobile {
      margin-top: calc(0px - #{search-bar-variables.$search-bar-wrapper-height-compact} / 2);
    }
  }
}
