<api-dialog-wrapper [savingState]="savingState" title="Aktive Karten als Favorit speichern" (closeEvent)="abort()">
  <ng-container content>
    <mat-form-field appearance="fill" class="favourite-dialog__form">
      <mat-label>Name des Favoriten</mat-label>
      <input [formControl]="nameFormControl" id="name" matInput />
      @if (nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)) {
        <mat-error> Geben Sie einen gültigen, nicht leeren Namen ein. </mat-error>
      }
    </mat-form-field>
  </ng-container>
  <ng-container actions>
    <button (click)="abort()" [disabled]="savingState === 'loading'" mat-button>Abbrechen</button>
    <button (click)="save()" [disabled]="nameFormControl.status !== 'VALID' || savingState === 'loading'" mat-button>Speichern</button>
  </ng-container>
</api-dialog-wrapper>
