<api-dialog-wrapper [savingState]="savingState()" title="Aktive Karten als Favorit speichern" (closeEvent)="abort()">
  <ng-container content>
    <mat-form-field appearance="fill" class="favourite-dialog__form">
      <mat-label>Name des Favoriten</mat-label>
      <input [formField]="form.title" id="title" matInput />
      @if (!form().valid() && (form().dirty() || form().touched())) {
        <mat-error> Geben Sie einen gültigen, nicht leeren Namen ein. </mat-error>
      }
    </mat-form-field>
    <mat-checkbox [formField]="form.storeCenter"> Ausschnitt </mat-checkbox>
    <mat-checkbox [formField]="form.storeScale"> Massstab </mat-checkbox>
  </ng-container>
  <ng-container actions>
    <button (click)="abort()" [disabled]="savingState() === 'loading'" mat-button>Abbrechen</button>
    <button (click)="save()" [disabled]="!form().valid() || savingState() === 'loading'" mat-button>Speichern</button>
  </ng-container>
</api-dialog-wrapper>
