<div class="data-display">
  <div *ngFor="let element of elements" class="data-display__item">
    <span class="data-display__item__title">{{ element.title }}</span>
    <span class="data-display__item__value">
      @switch (element.type) {
        @case ('text') {
          <span [innerHTML]="element.value ?? '-'"></span>
        }
        @case ('url') {
          @if (element.value) {
            <a href="{{ element.value.href }}" rel="noopener noreferrer" target="_blank">{{ element.value.title ?? element.value.href }}</a>
          } @else {
            <span>-</span>
          }
        }
        @case ('textList') {
          @for (item of element.value; track item; let last = $last) {
            <span>{{ item }}{{ !last ? '; ' : '' }}</span>
          }
        }
        @case ('urlList') {
          @if (element.value && element.value?.length && element.value.length > 0) {
            <ul class="data-display__item__value__list">
              @for (item of element.value; track item) {
                <li>
                  <a [href]="item.href" target="_blank"> {{ item.title }}</a>
                </li>
              }
            </ul>
          } @else {
            <span>-</span>
          }
        }
      }
    </span>
  </div>
</div>
