<div class="data-display">
  <div *ngFor="let element of elements" class="data-display__item">
    <span class="data-display__item__title">{{ element.title }}</span>
    <span class="data-display__item__value">
      @switch (element.type) {
        @case ('text') {
          <span [innerHTML]="element.value ?? '-'"></span>
        }
        @case ('url') {
          @if (element.value) {
            <a href="{{ element.value }}" rel="noopener noreferrer" target="_blank">{{
              element.type === 'url' && element.displayText !== undefined ? element.displayText : element.value
            }}</a>
          } @else {
            <span>-</span>
          }
        }
        @case ('stringList') {
          @for (item of element.value; track item; let last = $last) {
            <span>{{ item }}{{ !last ? '; ' : '' }}</span>
          }
        }
        @case ('urlList') {
          @if (element.value?.length) {
            <ul class="data-display__item__value__list">
              @for (item of element.value; track item) {
                <li>
                  <a [href]="item.href" target="_blank"> {{ item.title }}</a>
                </li>
              }
            </ul>
          } @else {
            <span>-</span>
          }
        }
      }
    </span>
  </div>
</div>
