.main-map {
  height: 100%;
  width: 100%;
}

.configuration-overlay {
  position: absolute;
  z-index: 2;
  background-color: aliceblue;
  right: 0;
  margin: 20px;
  padding: 5px;
  text-align: right;

  .configuration-overlay__buttons {
    display: inline-block;
  }
}
