<!-- Currently. no [metaDataLink] tag is set as this information is currently not available. -->
<map-overlay-list-item [forceExpanded]="this.isPrintable" [overlayTitle]="featureInfo.title">
  <div *ngFor="let layer of featureInfo.layers" class="feature-info-item">
    <map-overlay-list-item *ngIf="!featureInfo.isSingleLayer; else featureInfoContent" [forceExpanded]="true" [overlayTitle]="layer.title">
      <mat-icon class="feature-info-item-icon" header-icon>layers</mat-icon>
      <ng-container *ngTemplateOutlet="featureInfoContent"></ng-container>
    </map-overlay-list-item>
    <ng-template #featureInfoContent>
      <feature-info-content [featureInfo]="featureInfo"></feature-info-content>
    </ng-template>
  </div>

  <ng-container header-icon>
    <img
      *ngIf="!featureInfo.isSingleLayer && featureInfo.icon; else defaultIcon"
      class="feature-info-item-icon"
      src="{{ featureInfo.icon }}"
    />
    <ng-template #defaultIcon>
      <mat-icon class="feature-info-item-icon">layers</mat-icon>
    </ng-template>
  </ng-container>
</map-overlay-list-item>
