<div class="drawing-tools">
  <button
    (click)="this.openSettingsDialog()"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Einstellungen"
    [disabled]="activeTool"
  >
    <mat-icon svgIcon="ktzh_settings"></mat-icon>
  </button>
  <mat-divider class="drawing-tools__divider"></mat-divider>
  <button
    (click)="this.togglePointDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-point'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Punkt: In Karte klicken um zu wählen."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button
    (click)="this.toggleLineDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-line'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Linie: Mit Doppelklick beenden."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button
    (click)="this.togglePolygonDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-polygon'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Polygon: Auf Startpunkt klicken oder Doppelklick um zu beenden."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
  <button
    (click)="this.toggleRectangleDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-rectangle'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Rechteck: Diagonale Eckpunkte wählen."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_rectangle"></mat-icon>
  </button>
  <button
    (click)="this.toggleCircleDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-circle'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Kreis: Mittelpunkt und Radius wählen."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_circle"></mat-icon>
  </button>
  <button
    (click)="this.toggleTextDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-text'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Text: In Karte klicken um Position zu wählen, anschliessend Text eingeben."
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_text"></mat-icon>
  </button>
  <mat-divider class="drawing-tools__divider"></mat-divider>
  <button
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Zeichnungen hochladen"
    (click)="this.openImportDrawingsDialog()"
    [disabled]="activeTool"
  >
    <mat-icon svgIcon="ktzh_upload"></mat-icon>
  </button>
  <drawing-download-button></drawing-download-button>
</div>
