<div class="drawing-tools">
  <button
    (click)="this.togglePointDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-point'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Punkt"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button
    (click)="this.toggleLineDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-line'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Linie"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button
    (click)="this.togglePolygonDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-polygon'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Polygon"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
  <button
    (click)="this.toggleRectangleDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-rectangle'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Rechteck"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_rectangle"></mat-icon>
  </button>
  <button
    (click)="this.toggleCircleDrawing()"
    [ngClass]="{'drawing-tools__button--active': activeTool === 'draw-circle'}"
    class="drawing-tools__button"
    color="accent"
    mat-icon-button
    matTooltip="Kreis"
    [matTooltipPosition]="'left'"
  >
    <mat-icon svgIcon="ktzh_drawing_symbol_circle"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button matTooltip="Text" [matTooltipPosition]="'left'">
    <mat-icon svgIcon="ktzh_drawing_symbol_text"></mat-icon>
  </button>
  <mat-divider class="drawing-tools__divider"></mat-divider>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button matTooltip="Hochladen" [matTooltipPosition]="'left'">
    <mat-icon svgIcon="ktzh_upload"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button matTooltip="Herunterladen" [matTooltipPosition]="'left'">
    <mat-icon svgIcon="ktzh_download"></mat-icon>
  </button>
</div>
