@use 'mixins/helpers.mixin';

:host ::ng-deep {
  .drawing-tools__button {
    @include helpers.tool-button;
  }
}

.drawing-tools {
  display: flex;
  flex-direction: column;

  .drawing-tools__divider {
    width: 50%;
    align-self: center;
  }
}
