<div class="drawing-tools">
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_point"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_line"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_polygon"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_rectangle"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_circle"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_drawing_symbol_text"></mat-icon>
  </button>
  <mat-divider class="drawing-tools__divider"></mat-divider>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_upload"></mat-icon>
  </button>
  <button class="drawing-tools__button" color="accent" disabled mat-icon-button>
    <mat-icon svgIcon="ktzh_download"></mat-icon>
  </button>
</div>
