<tour-step-template>
  <ng-template let-step="step">
    <mat-card (click)="$event.stopPropagation()" class="onboarding-guide">
      @if (step.image) {
        <img [src]="step.image" alt="step.title" mat-card-image />
      }
      <mat-card-header>
        <div class="header-group">
          <mat-card-title>
            {{ step.title }}
          </mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content [innerHTML]="step.content" class="mat-body"></mat-card-content>

      <mat-card-actions align="end">
        @if (!this.hasPreviousStep) {
          <button (click)="this.tourService.end()" class="prev" mat-button>Überspringen</button>
        } @else {
          <button (click)="this.tourService.prev()" class="prev" mat-button>
            <mat-icon>chevron_left</mat-icon>
            {{ step.prevBtnTitle }}
          </button>
        }
        @if (this.hasNextStep && !step.nextOnAnchorClick) {
          <button (click)="this.tourService.next()" class="next" mat-button>
            {{ step.nextBtnTitle }}
            <mat-icon iconPositionEnd>chevron_right</mat-icon>
          </button>
        }
        @if (!this.hasNextStep) {
          <button (click)="this.tourService.end()" mat-button>
            {{ step.endBtnTitle }}
          </button>
        }
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar [value]="this.progress"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </ng-template>
</tour-step-template>
