<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Grundlagen</h3>
<p>
  Im Rahmen des Öffentlichkeitsprinzips macht der Kanton Zürich wichtige Informationen auf dem Internet allgemein abrufbar. Dabei achtet er
  mit grosser Sorgfalt auf die Richtigkeit und Vollständigkeit seines Informationsangebots. Auch setzt er angemessene, stets aktualisierte
  technische Massnahmen ein, um einen sicheren und störungsfreien Betrieb seiner Internet-Seiten zu ermöglichen. Dennoch kann er nicht
  verhindern, dass sich die typischen Risiken des Internets in einzelnen Fällen verwirklichen. Der Kanton Zürich übernimmt als Anbieter
  dieser Webseite keine Gewähr für die Aktualität, Vollständigkeit und Richtigkeit der bereitgestellten Seiten und Inhalte.
</p>
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Haftung</h3>
<p>
  Der Kanton Zürich kann nicht gewährleisten, dass die von ihm auf dem Internet zur Verfügung gestellten Informationen jederzeit aktuell,
  detailgenau und vollständig sind und alle erdenklichen Sachverhalte berücksichtigen. Der Kanton Zürich ist als Anbieter dieser Website für
  eigene Inhalte und bereitgestellte Informationen auf diesen Seiten jedoch nicht verpflichtet, die Informationen Dritter zu überwachen.
  <br />
  Der Kanton Zürich kann nicht dafür einstehen, dass seine elektronischen Informationsangebote sowie die angebotenen Funktionalitäten
  jederzeit störungsfrei benutzt und die abgefragten Informationen reibungslos und fehlerfrei übertragen werden können.
  <br />
  Der Kanton Zürich kann nicht gänzlich verhindern, dass seine Internet-Seiten unbefugterweise von Dritten verändert oder mit Viren und
  anderer Malware verseucht werden.
  <br />
  Der Kanton Zürich behält sich vor, einzelne Informationsangebote bzw. Funktionalitäten abzuändern, grundsätzlich neu zu gestalten oder
  ohne Vorankündigung von der Webseite zu entfernen. Daher kann er nicht verantwortlich gemacht werden für die Folgen, wenn gewisse
  Informationen nicht mehr oder nicht mehr in der bisherigen Form zur Verfügung stehen.
</p>
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Urheber- und verwandte Rechte</h3>
<p>
  Die im Internet verwendeten Informationsmittel (wie Texte, Illustrationen, Logos, Fotos, Videos, Tondokumente, Grafiken sowie das Layout)
  des Kantons Zürich sind immaterialgüterrechtlich und insbesondere urheberrechtlich geschützt, soweit sie nicht (wie z.B. Gesetzestexte und
  Gerichtsurteile, Open Government Data) durch einschlägige Rechtsnormen ausdrücklich vom Schutz ausgenommen werden.
  <br />
  Die auf kantonalen Internetseiten zur Verfügung gestellten Informationen dürfen deshalb nur angesehen, zum Eigengebrauch heruntergeladen
  und ausgedruckt werden. Damit werden jedoch keine weiteren Rechte bezüglich der Inhalte übertragen.
  <br />
  Jede weitere Verwendung von Inhalten aus den kantonalen Internetseiten und insbesondere das Einbinden (über Frames oder Inlinelinks) in
  andere Seiten ist nur mit Einverständnis der Rechtsinhabenden gestattet.
  <br />
  Für den Umgang mit dem Kantonswappen und anderen amtlichen Kennzeichen ist das Bundesgesetz zum Schutz öffentlicher Wappen und anderer
  öffentlicher Zeichen massgebend.
</p>
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Externe Links</h3>
<p>
  Die Webseite enthält sog. „externe Links“ (Verlinkungen) zu anderen Webseiten. Der Kanton Zürich hat keinen Einfluss auf Seiten, die auf
  sein Angebot verlinken, weshalb er dafür keine Verantwortung übernehmen kann. Somit kann er in Bezug auf solche Seiten weder garantieren,
  dass die darin enthaltenen Informationen richtig sowie die Inhalte frei von Malware (wie z.B. Viren) sind, noch, dass die
  Datenschutzgesetzgebung dort eingehalten wird. Er kann ebenfalls nicht dafür einstehen, dass diese Links stets einwandfrei funktionieren
  und unabänderlich auf dieselben Inhalte verweisen.
  <br />
  Für die Inhalte und Richtigkeit der bereitgestellten Informationen ist der jeweilige Anbieter der verlinkten Webseite verantwortlich. Zum
  Zeitpunkt der Verlinkung waren keine Rechtsverstösse erkennbar. Bei Bekanntwerden einer solchen Rechtsverletzung wird der Link umgehend
  entfernt.
</p>
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Datenschutz</h3>
<h4>Grundlagen</h4>
<p>
  Durch den Besuch des Internetauftritts können Informationen (Datum, Uhrzeit, aufgerufene Seite) über den Zugriff auf dem Server
  gespeichert werden. Personenbezogene Daten werden im Zusammenhang mit dem Login gespeichert.
  <br />
  Sofern personenbezogene Daten erhoben werden, erfolgt dies, sofern möglich, nur mit dem vorherigen Einverständnis der Nutzerin oder des
  Nutzers der Webseite. Eine Weitergabe an Dritte findet ohne ausdrückliche Zustimmung der Nutzerin oder des Nutzers nicht statt.
  <br />
  Der Anbieter weist darauf hin, dass die Übertragung von Daten im Internet (z. B. per E-Mail) Sicherheitslücken aufweisen und ein
  lückenloser Schutz der Daten vor dem Zugriff Dritter nicht gewährleistet werden kann. Der Anbieter übernimmt keine Haftung für die durch
  solche Sicherheitslücken entstandenen Schäden.
</p>
<h4>Non-Tracking-Daten</h4>
<p>
  Durch Benutzung der Webseite geo.zh.ch entstehen Daten. Teilweise ist die Entstehung der Daten technisch bedingt und erforderlich,
  teilweise werden Daten aber bewusst erhoben, um Informationen über die Art der Nutzung zu gewinnen und das Angebot kontinuierlich an die
  Nutzungsbedürfnisse anpassen zu können.
</p>
<h4>Daten aus Tracking-Tätigkeit</h4>
<p>
  Während eines Besuches wird jeder Besucherin und jedem Besucher mittels des Session-Cookies (sofern möglich) eine zufällige ID zugeordnet,
  mittels derer alle Aktionen auf der Website dieser Besucherin oder diesem Besucher zugeordnet werden können. Das Cookie wird mit dem
  Schliessen des Browserfensters in der Regel automatisch gelöscht. Die Standardeinstellung, bei der Session-Cookies entweder mit dem
  Schliessen des Tabs oder dem Beenden des Browsers automatisch gelöscht werden, kann manuell oder durch bestimmte Komfortfunktionen
  übersteuert werden.
  <br />
  Das Serverlog wird standardmässig erstellt und enthält alle wesentlichen Informationen eines Zugriffes. Die protokollierten Daten
  enthalten die folgenden Informationen:
</p>
<ul>
  <li>IP-Adresse</li>
  <li>Datum, Uhrzeit und Zeitzone, zu der der Server die Anfrage empfangen hat</li>
  <li>Methode, angefragte Ressource und verwendetes Protokoll</li>
  <li>HTTP Status Code</li>
  <li>Grösse des ausgelieferten Objektes in Bytes</li>
</ul>
<p>Die Logfiles werden für einen befristeten Zeitraum aus technischen Gründen vorgehalten und anschliessend gelöscht.</p>
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Datenschutzbeauftragte</h3>
<p>
  Zuständig für Datenschutzfragen im Zusammenhang mit kantonalen Webseiten www.*.zh.ch ist die kantonale Datenschutzbeauftragte: <br />
  <a href="https://www.datenschutz.ch">www.datenschutz.ch</a>

  <br />
  Datenschutzbeauftragte des Kantons Zürich
  <br />
  Beckenhofstrasse 23
  <br />
  8090 Zürich
  <br />
  Tel. 043 259 39 99
</p>

<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Sicherheit</h3>
<p>
  Werden dem Kanton Zürich (z.B. mittels eines zur Verfügung gestellten Kontaktformulars) Daten übermittelt, kann weder eine vertrauliche
  noch eine zuverlässige Datenübertragung gewährleistet werden. Auf solche Kontakte wird der Kanton ausserdem im Normalfall ebenfalls
  elektronisch antworten, wofür wiederum weder Vertraulichkeit noch Integrität der übermittelten Daten zugesichert werden kann. Auf diesem
  Weg sollten deshalb keine heiklen (z.B. vertraulichen) Daten übermittelt werden.
  <br />
  Abweichendes gilt nur bei kantonalen Internetangeboten, bei denen ausdrücklich auf eine gesicherte Datenübertragung hingewiesen wird.
  Diesfalls werden die besonderen Sicherheitsvorkehrungen üblicherweise (z.B. durch https oder ein Schlüssel- bzw. Schloss-Symbol)
  angezeigt.
</p>
