@use 'functions/helper.functions' as functions;
@import 'gb3-theme';

.map-catalogue-widget {
  padding: 0;

  .map-catalogue__header {
    background-color: functions.get-color-from-theme($theme);
    color: functions.get-contrast-color-from-theme($theme);
    font-family: functions.get-font-family-from-theme($theme);
  }

  .map-catalogue__content {
    .horizontal-stacked {
      display: flex;

      .mat-icon {
        vertical-align: middle;
      }

      .layer-text {
        margin: 0 8px;
      }

      .last-left-aligned-element {
        flex-grow: 1;
      }
    }

    .last-left-aligned-element {
      margin-right: auto;
    }
  }
}
