@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.map-data-catalogue {
  width: 100%;

  &--hide-shadow {
    box-shadow: none;
  }

  .map-data-catalogue__header {
    display: flex;
    align-items: center;
    background-color: functions.get-color-from-palette(ktzh-variables.$zh-primary);
    color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
    font-family: ktzh-variables.$zh-font-family;
    padding: 0 6px 0 24px;
    height: 48px;

    &--minimized {
      background-color: ktzh-variables.$zh-background-color;
      color: ktzh-variables.$zh-foreground-color;
    }

    .map-data-catalogue__header__title {
      @include mixins.non-selectable-text;
      padding-right: 1em;
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  .map-data-catalogue__content {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--hidden {
      display: none;
    }

    .map-data-catalogue__content__filter-no-results {
      align-self: center;
      padding: 6px 24px;
    }

    .map-data-catalogue__content__filter {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-left: 12px;
      border: 3px solid ktzh-variables.$zh-black40;
      border-radius: ktzh-variables.$zh-border-radius;
      margin: 24px 36px 18px 24px;
      height: 40px;

      &:focus-within {
        border-color: ktzh-variables.$zh-active-blue;

        .map-data-catalogue__content__filter__icon {
          color: black;
        }
      }

      .map-data-catalogue__content__filter__icon {
        height: 18px;
      }

      .map-data-catalogue__content__filter__input {
        @include mixins.multiline-ellipsis(1);
        border: none;
        outline: none;
        flex-grow: 1;
      }

      .map-data-catalogue__content__filter__close-icon-button {
        @include mat-mixins.mat-icon-button-override-icon-size(24px);
      }
    }

    .map-data-catalogue__content__items {
      overflow-y: auto;
      padding: 0 24px 18px 24px;
      margin-top: 6px;
      box-sizing: border-box;

      &--hidden {
        display: none;
      }

      &--mobile {
        padding: 0;
      }

      .map-data-catalogue__content__items__item__content {
        padding-top: 6px;

        .map-data-catalogue__content__items__item__content__item {
          width: 100%;
        }
      }
    }
  }
}
