<mat-card appearance="outlined" class="map-catalogue-widget">
  <mat-card-header class="map-catalogue__header">
    <div class="map-catalogue__header__title">
      <mat-card-title>Verfügbare Karten nach Topic</mat-card-title>
    </div>
  </mat-card-header>
  <loading-and-process-bar [loadingState]="this.catalogueLoadingState"></loading-and-process-bar>
  <mat-accordion *ngIf="this.catalogueLoadingState === 'loaded'" class="map-catalogue__content" displayMode="flat" multi="true">
    <!-- Favourite selection is a conditional, one-off container. It should only load once the catalog is here. -->
    <favourite-selection></favourite-selection>

    <!-- Layertree -->
    <ng-container *ngFor="let topic of topics">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>{{ topic.title }}</p>
        </mat-expansion-panel-header>
        <!-- Expansion panel content -->
        <ng-template matExpansionPanelContent>
          <ng-container *ngFor="let map of topic.maps">
            <mat-expansion-panel #mapExpansionPanel hideToggle="true">
              <mat-expansion-panel-header (click)="mapExpansionPanel.toggle()" class="map__header">
                <button (click)="addActiveMap(map)" color="primary" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
                <button (click)="mapExpansionPanel.open()" *ngIf="!mapExpansionPanel.expanded" mat-icon-button>
                  <mat-icon>arrow_right</mat-icon>
                </button>
                <button (click)="mapExpansionPanel.close()" *ngIf="mapExpansionPanel.expanded" mat-icon-button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <img [alt]="map.title" [src]="map.icon" class="map__header__image" />
                <p class="map__header__title" matTooltip="{{ map.title }}">{{ map.title }}</p>
              </mat-expansion-panel-header>
              <!-- Expansion panel content -->
              <ng-template matExpansionPanelContent>
                <ng-container *ngFor="let layer of map.layers">
                  <div class="layer">
                    <mat-icon class="layer__icon">layers</mat-icon>
                    <p class="layer__title" matTooltip="{{ layer.title }}">{{ layer.title }}</p>
                    <button (click)="addActiveLayer(map, layer)" mat-icon-button>
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-template>
            </mat-expansion-panel>
          </ng-container>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</mat-card>
