@use 'functions/helper.function' as helper;
@import 'variables/ktzh-design-variables';

.map-catalogue-widget {
  padding: 0;

  .map-catalogue__header {
    background-color: helper.get-color-from-palette($zh-light-primary);
    color: helper.get-contrast-color-from-palette($zh-light-primary);
    font-family: $zh-font-family;
  }

  .map-catalogue__content {
    .horizontal-stacked {
      display: flex;

      .mat-icon {
        vertical-align: middle;
      }

      .layer-text {
        margin: 0 8px;
      }

      .last-left-aligned-element {
        flex-grow: 1;
      }
    }

    .last-left-aligned-element {
      margin-right: auto;
    }
  }
}
