<h1 mat-dialog-title>Filter</h1>
<div mat-dialog-content class="search-filter-dialog-content">
  <cdk-accordion>
    @for (filterGroup of nonEmptyFilterGroups; track trackByFilterGroupLabel($index, filterGroup)) {
      <accordion-item [header]="filterGroup.label" variant="dark">
        <div class="search-filter-dialog-content__wrapper">
          @for (filter of filterGroup.filters; track trackByFilterLabel($index, filter)) {
            <mat-checkbox
              class="search-filter-dialog-content__wrapper__checkbox"
              (change)="toggleFilter(filterGroup.label, filter.label, !filter.isActive)"
              [checked]="filter.isActive"
              (keydown.space)="$event.stopPropagation()"
            >
              {{ filter.label }}
            </mat-checkbox>
          }
        </div>
      </accordion-item>
    }
  </cdk-accordion>
</div>
<div mat-dialog-actions>
  <button (click)="resetFilters()" mat-button>Zurücksetzen</button>
  <button (click)="close()" mat-button>Schliessen</button>
</div>
