<li class="link-grid-list-item" [class.link-grid-list-item--large]="size() === 'large'">
  @if (internalLink()) {
    <a [routerLink]="internalLink()" [queryParams]="internalQueryParams()" [title]="title()" class="link-grid-list-item__wrapper">
      <ng-container [ngTemplateOutlet]="content" />
    </a>
  } @else {
    <a [href]="url()" [title]="title()" rel="noopener noreferrer" target="_blank" class="link-grid-list-item__wrapper">
      <ng-container [ngTemplateOutlet]="content" />
    </a>
  }
</li>

<ng-template #content>
  @if (imageUrl() && size() === 'large') {
    <img [src]="imageUrl()" alt="" class="link-grid-list-item__wrapper__image" />
  }
  <div class="link-grid-list-item__wrapper__content">
    <div class="mat-subtitle-2 link-grid-list-item__wrapper__content__header">
      @if (entryType()) {
        <strong>{{ entryType() }}</strong>
      }
      @if (entryDate()) {
        {{ entryDate() }}
      }
    </div>

    <div class="mat-headline-6 link-grid-list-item__wrapper__content__title">{{ title() }}</div>
    <div class="link-grid-list-item__wrapper__content__text">
      <ng-content />
    </div>
  </div>
</ng-template>
