<map-overlay (closeEvent)="this.close()" [isVisible]="this.isVisible" title="Legende">
  <loading-and-process-bar [loadingState]="this.loadingState"></loading-and-process-bar>
  <ng-container *ngIf="this.loadingState === 'loaded'">
    <legend-item *ngFor="let legendItem of legendItems" [legendItem]="legendItem"></legend-item>
  </ng-container>
  <button (click)="this.print()" class="print-button" color="accent" mat-raised-button overlay-footer>
    <mat-icon>print</mat-icon>
    Legende drucken
  </button>
</map-overlay>
