@use 'variables/ktzh-design-variables' as ktzh-variables;

.print-button {
  width: 80%;
  margin: 8px;
  min-height: 36px;
  align-self: center;
  font-size: small;
  font-family: ktzh-variables.$zh-font-family-bold;
}
