@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.news-feed {
  display: flex;
  gap: 5px;
  width: 100%;

  & .news-feed__loader {
    width: 100%;
  }

  & .news-feed__link-wrapper {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    flex-basis: 100%;
    border: solid ktzh-variables.$zh-black20 4px;

    &:hover {
      border-color: ktzh-variables.$zh-black40;
    }
  }

  .news-feed__entry {
    padding: 2rem;
    background-color: ktzh-variables.$zh-white;

    .news-feed__entry__header {
      margin: 0;

      &:before {
        content: 'Mitteilung ';
        font-weight: bold;
      }
    }

    .news-feed__entry__title {
      @include mixins.multiline-ellipsis(2);
      margin: 0;
      font-weight: bold;
      color: ktzh-variables.$zh-blue;
    }

    .news-feed__entry__teaser-text {
      @include mixins.multiline-ellipsis(4);
    }
  }
}
