@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/collapsing-flexbox-list.mixin' as collapsing-flexbox-list;
@use 'variables/ktzh-design-variables' as ktzh-variables;

/// The border width around the link elements
$border-width: 8px;

/// Number of entries to be displayed
$number-of-entries: 3;

.news-feed {
  width: 100%;

  .news-feed__list {
    @include collapsing-flexbox-list.list($border-width);

    .news-feed__list__item {
      @include collapsing-flexbox-list.list__item(
        $border-width: $border-width,
        $max-content-width: ktzh-variables.$zh-layout-max-content-width,
        $number-of-entries: $number-of-entries,
        $height: 310px
      );

      .news-feed__list__item__wrapper {
        @include collapsing-flexbox-list.list__item__wrapper(ktzh-variables.$zh-white);

        &:hover {
          & .news-feed__list__item__wrapper__content__news-title {
            color: ktzh-variables.$zh-black100 !important; // override title color on hover
          }
        }

        .news-feed__list__item__wrapper__content {
          padding: 40px;

          .news-feed__list__item__wrapper__content__header {
            margin-bottom: 4px;
            font-size: x-small;

            &:before {
              content: 'Mitteilung ';
              font-weight: bold;
            }
          }

          .news-feed__list__item__wrapper__content__news-title {
            @include mixins.multiline-ellipsis(3);
            margin-bottom: 8px;
            font-weight: bold;
            color: ktzh-variables.$zh-blue;
            line-height: 1.05;
          }

          .news-feed__list__item__wrapper__content__news-text {
            @include mixins.multiline-ellipsis(6);
          }
        }
      }
    }
  }
}
