<content-loading-state
  [loadingState]="loadingState"
  loadingText="Lade Neuigkeiten aus dem GIS-Team..."
  loadingCompletedText="Fehler beim Laden der News."
></content-loading-state>
<div class="news-feed">
  <ng-container *ngFor="let newsEntry of this.news">
    <a [href]="newsEntry.link" [title]="newsEntry.title" class="news-feed__link-wrapper" target="_blank">
      <div class="news-feed__entry">
        <p class="mat-subtitle-2 news-feed__entry__header">{{ newsEntry.date }}</p>
        <p class="mat-headline-6 news-feed__entry__title">{{ newsEntry.title }}</p>
        <p class="news-feed__entry__teaser-text">{{ newsEntry.teaserText }}</p>
      </div>
    </a>
  </ng-container>
</div>
