@use 'variables/ktzh-design-variables' as ktzh-variables;

.start-page-search-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .start-page-search-overlay__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: ktzh-variables.$zh-layout-max-content-width;

    .start-page-search-overlay__search__bar {
      width: ktzh-variables.$zh-layout-max-content-width;
      height: 106px;
      background-color: ktzh-variables.$zh-background-color;
    }
  }

  .start-page-search-overlay__results {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    overflow-y: hidden;
    width: ktzh-variables.$zh-layout-max-content-width;
    height: 100%;

    .start-page-search-overlay__results__group {
      padding: 5px;
      max-height: 33.33%;
      box-sizing: border-box;
    }
  }
}
