<div *ngIf="!layer.isHidden" class="map-data-item-map-layer">
  <span class="map-data-item-map-layer__connection-line map-data-item-map-layer__connection-line-top"></span>
  <button class="map-data-item-map-layer__add-button" (click)="addItemLayer()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <p
    [innerHTML]="layer.title | highlightSearchQuery: this.filterString"
    class="map-data-item-map-layer__title"
    matTooltip="{{ layer | layerTooltip }}"
  ></p>
  <span class="map-data-item-map-layer__connection-line map-data-item-map-layer__connection-line-bottom"></span>
</div>
