@if (loadingState === 'loading') {
  <mat-progress-bar class="loading-and-process-bar" mode="query"></mat-progress-bar>
}
@if (loadingState === 'error') {
  <mat-progress-bar class="loading-and-process-bar" color="warn" mode="determinate" value="100"></mat-progress-bar>
}
@if (loadingState === undefined || loadingState === 'loaded') {
  <!-- Only show the view state if the loading state is either undefined or 'completed' -->
  @if (viewProcessState === 'updating') {
    <mat-progress-bar class="loading-and-process-bar" mode="buffer"></mat-progress-bar>
  }
}
