@use 'mixins/material.mixin' as mat-mixins;
@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.navbar {
  position: sticky;
  top: 0;

  .navbar__spacer {
    flex: 1 1 auto;
  }

  .navbar__item {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

    & + .navbar__item-icon {
      @include mat-mixins.mat-button--align-icon-right;
    }

    .navbar__logo {
      height: 80%;
      padding-right: 10px;
    }
  }

  .navbar__divider {
    height: 65%;
    border-color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
  }
}

.current {
  font-weight: bolder;
}
