@use 'mixins/material.mixin' as mat-mixins;
@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.navbar {
  position: relative;
  height: 100%;
  font-size: 14px;

  .navbar__spacer {
    flex: 1 1 auto;
  }

  a.navbar__item {
    font-family: ktzh-variables.$zh-font-family;

    &.navbar__item--active {
      font-family: ktzh-variables.$zh-font-family-bold;
    }
  }

  .navbar__item {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

    .navbar__logo {
      height: 52px;
      width: 54px;
      padding-right: 10px;
    }
  }

  .navbar__divider {
    height: 65%;
    border-color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
  }

  .navbar__underline-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .navbar__underline-container__content-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto ktzh-variables.$zh-layout-max-content-width auto;
    }

    .navbar__underline {
      width: 100%;
      border-top: 5px solid ktzh-variables.$zh-white;
    }
  }
}
