@use 'mixins/helpers.mixin' as mixins;

.navbar {
  .navbar__spacer {
    flex: 1 1 auto;
  }

  .navbar__item {
    @include mixins.mat-button__align-icon-right;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar__logo {
    height: 80%;
  }
}

.current {
  font-weight: bolder;
}
