<mat-toolbar color="primary" class="navbar">
  <img alt="KTZH Logo" class="navbar__item navbar__logo" src="assets/images/ktzh_inverted.svg" />
  <span class="navbar__item">GIS-Browser Zürich</span>
  <span class="navbar__spacer"></span>
  <a mat-button class="navbar__item" routerLink="/" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}" [queryParams]="{}"
    >Übersicht</a
  >
  <a mat-button class="navbar__item" routerLink="/maps" routerLinkActive="current">GIS-Browser</a>
  <a mat-button class="navbar__item" routerLink="/data" routerLinkActive="current">Datenkatalog</a>
  <a mat-button class="navbar__item" routerLink="/help" routerLinkActive="current">Hilfe & Support</a>
  <a mat-button class="navbar__item" href="https://geodatenshop.zh.ch" target="_blank">
    <mat-icon>launch</mat-icon>
    <p>Geodatenshop</p>
  </a>
  <a mat-button class="navbar__item" (click)="this.startLogin()" *ngIf="!this.isAuthenticated">Login</a>
  <a mat-button class="navbar__item" (click)="this.logout()" *ngIf="this.isAuthenticated">Logout</a>
</mat-toolbar>
