<mat-expansion-panel #itemExpansionPanel [expanded]="expanded" class="expandable-list-item" [disabled]="disabled" hideToggle="true">
  <mat-expansion-panel-header class="expandable-list-item__header">
    <expandable-list-item-header
      [filterString]="filterString"
      [isExpanded]="itemExpansionPanel.expanded"
      [numberOfItems]="numberOfItems"
      [title]="header"
      [loadingState]="loadingState"
      [isFilter]="isFilter"
      class="expandable-list-item__header__item"
    ></expandable-list-item-header>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
