@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;

:host ::ng-deep .expandable-list-item {
  &.mat-expansion-panel {
    @include mixins.no-box-shadow;
  }

  &.mat-expansion-panel-spacing {
    margin: 0;
  }

  @include mat-mixins.mat-expansion-panel-remove-content-indent;
}

.expandable-list-item {
  padding: 6px 0;

  &--no-padding {
    padding: 0;
  }

  &--sticky-header {
    overflow: visible;
  }

  .expandable-list-item__header {
    height: auto;
    padding: 0;

    &:focus {
      border: solid 1px ktzh-variables.$zh-active-blue;
    }

    &--sticky-header {
      position: sticky;
      top: 0;
      z-index: z-index-variables.$sicky-header;
    }

    .expandable-list-item__header__item {
      height: 36px;
      width: 100%;
    }
  }
}
