<mat-expansion-panel
  #itemExpansionPanel
  [disabled]="disabled()"
  hideToggle="true"
  class="expandable-list-item"
  [class.expandable-list-item--no-padding]="noPadding()"
  [class.expandable-list-item--sticky-header]="stickyHeader() && expansionPanel().expanded"
>
  <mat-expansion-panel-header
    class="expandable-list-item__header"
    [class.expandable-list-item__header--sticky-header]="stickyHeader() && expansionPanel().expanded"
    [tabIndex]="allowTabFocus() ? 0 : -1"
  >
    <expandable-list-item-header
      [isExpanded]="expansionPanel().expanded"
      [numberOfItems]="numberOfItems()"
      [title]="header()"
      [loadingState]="loadingState()"
      [showBadge]="showBadge()"
      class="expandable-list-item__header__item"
    />
  </mat-expansion-panel-header>

  @if (renderContentEagerly() || expansionPanel().expanded) {
    <ng-content />
  } @else {
    <ng-template matExpansionPanelContent />
  }
</mat-expansion-panel>
