<div class="map-data-item-header">
  <p class="map-data-item-header__title" [title]="title">
    {{ title }}
  </p>
  <span
    class="map-data-item-header__badge"
    [matBadgeHidden]="!this.filterString || this.loadingState === 'loading'"
    [matBadge]="numberOfItems"
    matBadgeOverlap="true"
    matBadgePosition="above after"
  ></span>
  <button
    class="map-data-item-header__expand-button"
    (click)="toggleExpand()"
    [attr.data-test-id]="isExpanded ? 'hide-catalogue-items-of-the-map' : 'show-catalogue-items-of-the-map'"
    mat-icon-button
  >
    <mat-icon [fontIcon]="isExpanded ? 'arrow_drop_up' : 'arrow_drop_down'"></mat-icon>
  </button>
  <loading-and-process-bar [loadingState]="this.loadingState" class="map-data-item-header__loader"></loading-and-process-bar>
</div>
