<div class="basemap-selector" #basemapSelector typedTourAnchor="map.background">
  <button
    #basemapSelectorButton
    mat-flat-button
    (click)="toggleSelection()"
    class="basemap-selector__active"
    [ngStyle]="{'background-image': 'url(' + (activeBasemap?.id | basemapImageLink) + ')'}"
    matTooltip="Hintergrundkarte ändern"
    aria-label="Hintergrundkarte ändern"
  ></button>
  @if (isSelectionOpen) {
    <basemap-selection-list (basemapChangedEvent)="toggleSelectionAndFocusBasemapSelectorButton()"></basemap-selection-list>
  }
</div>
