<div class="basemap-selector" typedTourAnchor="map.background" (clickOutside)="isSelectionOpen.set(false)">
  <button
    #basemapSelectorButton
    mat-flat-button
    (click)="toggleSelection()"
    class="basemap-selector__active"
    [style.background-image]="'url(' + (activeBasemapId() | basemapImageLink) + ')'"
    matTooltip="Hintergrundkarte ändern"
    aria-label="Hintergrundkarte ändern"
  ></button>
  @if (isSelectionOpen()) {
    <basemap-selection-list (basemapChangedEvent)="toggleSelectionAndFocusBasemapSelectorButton()" />
  }
</div>
