<content-loading-state
  [loadingState]="loadingState"
  loadingCompletedText="Fehler beim Laden der Karten zum Entdecken."
  loadingText="Lade neue Karten zum Entdecken..."
></content-loading-state>
<link-grid-list>
  @for (discoverMapsEntry of this.discoverMapsItems; track $index) {
    <link-grid-list-item
      [internalLink]="mainPageEnum.Maps"
      [internalQueryParams]="{initialMapIds: discoverMapsEntry.mapId}"
      [title]="discoverMapsEntry.title"
      [size]="'large'"
      [imageUrl]="discoverMapsEntry.image.url"
    >
      <p>
        {{ discoverMapsEntry.description }}
      </p>
    </link-grid-list-item>
  }
</link-grid-list>
@if (discoverMapsItems.length === 0 && loadingState === 'loaded') {
  <p class="mat-caption">Aktuell gibt es keine Empfehlungen.</p>
}
