@use 'sass:map';
@use '@angular/material' as mat;

/// returns the background color of the current theme using the given palette name and hue value
@function get-color-from-theme($theme, $palette-name: 'primary', $hue: default) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, $palette-name);
  @return mat.get-color-from-palette($palette, $hue);
}

/// returns the contrast color of the current theme using the given palette name and hue value
@function get-contrast-color-from-theme($theme, $palette-name: 'primary', $hue: default) {
  @return get-color-from-theme($theme, $palette-name, $hue + '-contrast');
}

/// returns font-family of the current theme
@function get-font-family-from-theme($theme) {
  $typography-config: mat.get-typography-config($theme);
  @return mat.font-family($typography-config);
}
