@if (isVisible()) {
  <mat-card [class.map-overlay--right]="location() === 'right'" [style]="resizeableStyle()" appearance="outlined" class="map-overlay">
    <mat-card-header class="map-overlay__header">
      <h3 class="ktzh-h3-small-big map-overlay__header__title">{{ overlayTitle() }}</h3>
      <button (click)="onClose()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="map-overlay__content">
      <ng-content />
    </mat-card-content>
    @if (showPrintButton()) {
      <button
        (click)="onPrintButtonClick()"
        [disabled]="!isPrintButtonEnabled() || printLoadingState() === 'loading'"
        class="map-overlay__print-button"
        color="accent"
        mat-raised-button
      >
        <mat-icon>print</mat-icon>
        {{ overlayTitle() }} drucken
      </button>
    }
    <loading-and-process-bar [loadingState]="printLoadingState()" />
    <resize-handler (resizeEvent)="resizeOverlay($event)" [location]="location()" />
  </mat-card>
}
