@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.map-overlay {
  height: 100%;
  border-radius: 0;
  padding-top: 0;
  z-index: z-index-variables.$map-overlay;
  display: flex;
  flex-direction: column;
  width: calc(#{map-layout-variables.$map-overlay-width} + #{map-layout-variables.$map-overlay-width-adjustment});

  &.map-overlay--right {
    left: unset;
    right: 0;
  }

  .map-overlay__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .map-overlay__header__title {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  .map-overlay__content {
    flex: 1;
    overflow: hidden scroll;
    padding: 0 24px;
  }

  .map-overlay__print-button {
    width: 80%;
    max-width: 420px;
    margin: 8px;
    min-height: 36px;
    align-self: center;
    font-size: small;
  }
}
