<api-dialog-wrapper title="Zeichungen herunterladen" (closeEvent)="cancel()" class="drawing-download-dialog">
  <ng-container content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" hideRequiredMarker class="drawing-download-dialog__form-field">
        <mat-label>Typ</mat-label>
        <mat-select formControlName="exportFormat">
          <mat-option *ngFor="let exportFormat of availableExportFormats" [value]="exportFormat">
            {{ exportFormat | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container actions>
    <div>
      <button (click)="cancel()" mat-button>Abbrechen</button>
      <button (click)="downloadDrawings()" mat-button [disabled]="formGroup.invalid">Herunterladen</button>
    </div>
  </ng-container>
</api-dialog-wrapper>
