@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;

.stroke-edit__option {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  .stroke-edit__option__label {
    color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary, 50);
    padding-bottom: 12px;
  }

  .stroke-edit__option__color-picker {
    border: none;
    height: 30px;
    width: 70px;
    padding: 0;
    background: none;
  }

  .stroke-edit__option__width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary, 50);

    .stroke-edit__option__width__slider {
      width: 100%;
      margin: 0;
    }

    .stroke-edit__option__width__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &__min:before,
      &__max:before {
        background: functions.get-color-from-palette(ktzh-variables.$zh-black100-palette, A700);
        content: ' ';
        display: block;
        width: 44px;
        height: 1pt;
      }

      &__max:before {
        height: 12pt;
      }
    }
  }
}
