@use 'mixins/helpers.mixin' as mixins;

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px); // subtracts height of navbar; maybe there's a nicer way?

  .app-wrapper {
    height: 100%;
    overflow-y: auto;
  }

  .navbar {
    @include mixins.hide-on-small-screens;
  }
}
