<main class="main">
  <navbar-mobile *ngIf="screenMode === 'mobile' && !isHeadlessPage && !mapUiState?.hideUiElements"></navbar-mobile>
  <navbar *ngIf="!isHeadlessPage && screenMode !== 'mobile'" class="navbar" [isSimplifiedPage]="isSimplifiedPage"></navbar>
  <article [ngClass]="{'headless-page': isHeadlessPage}">
    <router-outlet></router-outlet>
    <main-footer *ngIf="!isSimplifiedPage && !isHeadlessPage"></main-footer>
  </article>
  <scrollbar-width-calculation class="scrollbar-width-calculation" *ngIf="scrollbarWidth === undefined"></scrollbar-width-calculation>
</main>
