<main class="main">
  <mobile-warning *ngIf="screenSize === 'mobile' && !isHeadlessPage"></mobile-warning>
  <!-- <navbar-mobile *ngIf="screenSize === 'mobile' && !isHeadlessPage"></navbar-mobile> -->
  <navbar *ngIf="!isHeadlessPage && screenSize !== 'mobile'" class="navbar" [isSimplifiedPage]="isSimplifiedPage"></navbar>
  <article [ngClass]="{'headless-page': isHeadlessPage}">
    <router-outlet></router-outlet>
    <main-footer *ngIf="!isSimplifiedPage && !isHeadlessPage"></main-footer>
  </article>
  <scrollbar-width-calculation class="scrollbar-width-calculation" *ngIf="scrollbarWidth === undefined"></scrollbar-width-calculation>
</main>
