<div class="map-controls">
  <div class="map-controls__inputs">
    <basemap-selector
      class="map-controls__inputs__basemap-selector"
      [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
    ></basemap-selector>
    <div class="map-controls__inputs__bottom">
      <div
        class="map-controls__inputs__bottom__scale-bar-containerold"
        #scaleBarContainer
        [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
      ></div>
      <scale-bar [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"></scale-bar>
      <coordinate-scale-inputs
        class="map-controls__inputs__bottom__data-inputs"
        [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
      ></coordinate-scale-inputs>
    </div>
  </div>
  <div class="map-controls__buttons">
    <zoom-controls class="map-controls__buttons__group" [showLocateMeButton]="true"></zoom-controls>
    <ui-toggle *ngIf="screenMode !== 'mobile'" class="map-controls__buttons__group"></ui-toggle>
  </div>
</div>
