<div class="map-controls">
  <div class="map-controls__inputs">
    <basemap-selector
      class="map-controls__inputs__basemap-selector"
      [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
    ></basemap-selector>
    <div class="map-controls__inputs__bottom">
      <div
        class="map-controls__inputs__bottom__scale-bar-container"
        #scaleBarContainer
        [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
      ></div>
      <coordinate-scale-inputs
        class="map-controls__inputs__bottom__data-inputs"
        [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
      ></coordinate-scale-inputs>
    </div>
  </div>
  <div class="map-controls__buttons">
    <button
      mat-icon-button
      (click)="this.locateClient()"
      color="accent"
      class="map-controls__buttons__button"
      data-test-id="map-locate-me"
      #tooltip="matTooltip"
      [matTooltip]="this.geolocationState.errorReason ?? ''"
      [matTooltipDisabled]="this.geolocationState.loadingState !== 'error'"
      [disabled]="this.geolocationState.loadingState === 'loading'"
      [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements}"
    >
      <mat-icon class="map-tools__button__icon" svgIcon="ktzh_locate_me"></mat-icon>
      <loading-and-process-bar [loadingState]="this.geolocationState.loadingState"></loading-and-process-bar>
    </button>
    <mat-divider
      class="map-controls__buttons__divider"
      [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideUiElements || mapUiState?.hideZoomButtons}"
    ></mat-divider>
    <div [ngClass]="{'map-controls__map-element--hidden': mapUiState?.hideZoomButtons}">
      <button
        mat-icon-button
        (click)="this.goToInitialExtent()"
        color="accent"
        class="map-controls__buttons__button"
        data-test-id="map-home"
      >
        <mat-icon class="map-tools__button__icon" svgIcon="ktzh_home_extent"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="this.handleZoom('zoomIn')"
        color="accent"
        [disabled]="this.isMaxZoomedIn"
        class="map-controls__buttons__button"
        data-test-id="map-add"
      >
        <mat-icon class="map-tools__button__icon" svgIcon="ktzh_add"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="this.handleZoom('zoomOut')"
        color="accent"
        [disabled]="this.isMaxZoomedOut"
        class="map-controls__buttons__button"
        data-test-id="map-remove"
      >
        <mat-icon class="map-tools__button__icon" svgIcon="ktzh_remove"></mat-icon>
      </button>
    </div>
  </div>
</div>
