@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;

:host ::ng-deep {
  .map-controls__buttons__button {
    @include mat-mixins.mat-icon-button-override-border-radius(ktzh-variables.$zh-border-radius);
    @include mat-mixins.mat-icon-custom-svg-size(20px);
  }
}

.map-controls {
  display: flex;
  flex-direction: row;
  gap: 12px;

  .map-controls__map-element--hidden {
    display: none !important;
  }

  .map-controls__inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;

    .map-controls__inputs__basemap-selector {
      pointer-events: none;
    }

    .map-controls__inputs__bottom {
      display: flex;
      align-items: flex-end;
      gap: 12px;

      .map-controls__inputs__bottom__scale-bar-container {
        border-radius: ktzh-variables.$zh-border-radius;
        font-family: ktzh-variables.$zh-font-family;
      }
      .map-controls__inputs__bottom__data-inputs {
        @include mixins.map-element-box-shadow;
        display: block;
        pointer-events: all;
      }
    }
  }

  .map-controls__zoom-controls {
    @include mixins.map-element-box-shadow;
  }
}
