<loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>
@if (loadingState === 'loaded') {
  @if (generalInfoData) {
    <feature-info-general-information [generalInfoData]="generalInfoData"></feature-info-general-information>
  }
  @if (generalInfoData) {
    <mat-divider class="feature-info__divider"></mat-divider>
  }
  @for (featureInfo of featureInfoData; track trackById($index, featureInfo)) {
    <feature-info-item [featureInfo]="featureInfo" [showInteractiveElements]="showInteractiveElements"></feature-info-item>
  }
  @if (featureInfoData.length === 0) {
    <i>Keine kartenspezifischen Treffer!</i>
  }
}
