<loading-and-process-bar [loadingState]="loadingState()" />
@if (loadingState() === 'loaded') {
  @if (generalInfoData(); as generalInfoData) {
    <feature-info-general-information [generalInfoData]="generalInfoData" />
    <mat-divider class="feature-info__divider" />
  }
  @for (featureInfo of featureInfoData(); track trackById($index, featureInfo)) {
    <feature-info-item [featureInfo]="featureInfo" [showInteractiveElements]="showInteractiveElements()" />
  }
  @if (featureInfoData().length === 0) {
    <i>Keine kartenspezifischen Treffer!</i>
  }
}
