<div class="map-tools-desktop">
  <div class="map-tools-desktop__list">
    <button
      (click)="toggleToolMenu('measurement')"
      [ngClass]="{'map-tools-desktop__list__button--active': toolMenuVisibility === 'measurement'}"
      class="map-tools-desktop__list__button"
      color="accent"
      data-test-id="map-ruler"
      mat-icon-button
      matTooltip="Messen"
    >
      <mat-icon svgIcon="ktzh_measure_menu"></mat-icon>
    </button>
    <mat-divider class="map-tools-desktop__list__divider"></mat-divider>
    <button
      (click)="toggleToolMenu('drawing')"
      [ngClass]="{'map-tools-desktop__list__button--active': toolMenuVisibility === 'drawing'}"
      class="map-tools-desktop__list__button"
      color="accent"
      data-test-id="map-drawing"
      mat-icon-button
      matTooltip="Zeichnen"
    >
      <mat-icon svgIcon="ktzh_drawing_menu"></mat-icon>
    </button>
    <mat-divider class="map-tools-desktop__list__divider"></mat-divider>
    <button
      (click)="toggleToolMenu('data-download')"
      [ngClass]="{'map-tools-desktop__list__button--active': toolMenuVisibility === 'data-download'}"
      class="map-tools-desktop__list__button"
      color="accent"
      data-test-id="map-data-download"
      mat-icon-button
      matTooltip="Daten beziehen"
    >
      <mat-icon svgIcon="ktzh_download"></mat-icon>
    </button>
    <button
      (click)="showPrintDialog()"
      class="map-tools-desktop__list__button"
      data-test-id="map-print"
      mat-icon-button
      matTooltip="Drucken"
    >
      <mat-icon svgIcon="ktzh_print"></mat-icon>
    </button>
    <mat-divider class="map-tools-desktop__list__divider"></mat-divider>
    <button
      (click)="showShareLinkDialog()"
      class="map-tools-desktop__list__button"
      data-test-id="map-share"
      mat-icon-button
      matTooltip="Teilen"
    >
      <mat-icon svgIcon="ktzh_share"></mat-icon>
    </button>
    <mat-divider class="map-tools-desktop__list__divider"></mat-divider>
    <button
      (click)="showMapImportDialog()"
      class="map-tools-desktop__list__button"
      data-test-id="map-import"
      mat-icon-button
      matTooltip="Kartendienst importieren"
    >
      <!-- TODO GB3-348: this is a placeholder icon -->
      <mat-icon svgIcon="ktzh_map_management"></mat-icon>
    </button>
  </div>
  <div class="map-tools-desktop__list" *ngIf="toolMenuVisibility !== undefined">
    <measurement-tools *ngIf="toolMenuVisibility === 'measurement'"></measurement-tools>
    <drawing-tools *ngIf="toolMenuVisibility === 'drawing'"></drawing-tools>
    <data-download-selection-tools *ngIf="toolMenuVisibility === 'data-download'"></data-download-selection-tools>
  </div>
</div>
