@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;

.slider-edit {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  .slider-edit__slider {
    width: 100%;
    margin: 0;
  }
}
