<api-dialog-wrapper title="Daten beziehen">
  <ng-container content>
    <div class="data-download-select-municipality-dialog">
      <mat-form-field class="data-download-select-municipality-dialog__content" appearance="fill" *ngIf="municipalities">
        <mat-label>Gemeinde</mat-label>
        <input
          #municipalityInput
          type="text"
          placeholder="Bitte auswählen"
          aria-label="Gemeinde"
          matInput
          [formControl]="municipalityFormControl"
          [matAutocomplete]="municipalityAutocomplete"
          (input)="updateFilteredMunicipalities()"
          (focus)="updateFilteredMunicipalities()"
        />
        <mat-autocomplete requireSelection #municipalityAutocomplete="matAutocomplete" [displayWith]="municipalityDisplayFn">
          <mat-option *ngFor="let municipality of filteredMunicipalities | async" [value]="municipality">
            {{ municipality.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <loading-and-process-bar [loadingState]="productsLoadingState"></loading-and-process-bar>
  </ng-container>
  <ng-container actions>
    <button (click)="cancel()" mat-button>Abbrechen</button>
    <button (click)="continue()" mat-button [disabled]="productsLoadingState !== 'loaded' || municipalityFormControl.status !== 'VALID'">
      Weiter
    </button>
  </ng-container>
</api-dialog-wrapper>
