<page-section [background]="'primary'" sectionTitle="Kontakt">
  <contact-details></contact-details>
</page-section>
<footer class="main-footer">
  <div class="main-footer__content">
    <h2 class="main-footer__content__title mat-headline-3">Kanton Zürich</h2>
    <div class="main-footer__content__links">
      <span>
        <strong>&copy; 2023 Kanton Zürich</strong>
      </span>
      <a [routerLink]="dataProtectionLink">Datenschutz</a>
      <a [routerLink]="usageNotesLink">Nutzungshinweise</a>
    </div>
    <div class="main-footer__content__links">
      <small>Version: {{ appVersion }} </small>
      <small *ngIf="appRelease">Release: {{ appRelease }} </small>
    </div>
  </div>
</footer>
