@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;

.main-footer {
  background-color: ktzh-variables.$zh-black80;
  color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-accent, 900);
  display: flex;
  justify-content: center;
  padding: 56px 12px;

  .main-footer__content {
    display: flex;
    flex-flow: column wrap;
    max-width: ktzh-variables.$zh-layout-max-content-width;
    width: 100%;
    row-gap: 24px;

    .main-footer__content__links {
      display: flex;
      flex-flow: row wrap;
      column-gap: 16px;
      color: ktzh-variables.$zh-black20;

      strong {
        font-family: ktzh-variables.$zh-font-family-bold;
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
