<page-section [background]="'primary'" sectionTitle="Kontakt">
  <contact-details></contact-details>
</page-section>
<footer class="main-footer">
  <div class="main-footer__content">
    <h2 class="ktzh-h2-small-huge">Kanton Zürich</h2>
    <div class="main-footer__content__links">
      <span>
        <strong>&copy; 2026 Kanton Zürich</strong>
      </span>
      <a [routerLink]="dataProtectionLink">Datenschutz</a>
      <a [routerLink]="usageNotesLink">Nutzungshinweise</a>
    </div>
    <div class="main-footer__content__links">
      <small>Version: {{ appVersion }} </small>
      @if (appRelease) {
        <small>Release: {{ appRelease }} </small>
      }
    </div>
  </div>
</footer>
