<div
  [ngStyle]="this.resizeableStyle"
  (resizeStart)="this.onResizeStart()"
  (resizeEnd)="this.onResizeEnd($event)"
  [enableGhostResize]="true"
  [ghostElementPositioning]="'absolute'"
  [validateResize]="this.validate"
  class="resize-container"
  mwlResizable
>
  <div
    class="resize-handle"
    [ngClass]="{
      'resize-handle--right': location === 'left',
      'resize-handle--left': location === 'right',
      'resize-active': this.isResizeActive
    }"
    [resizeEdges]="{right: this.location === 'left', left: this.location === 'right'}"
    mwlResizeHandle
  ></div>
</div>
