<div
  (resizeStart)="onResizeStart()"
  (resizeEnd)="onResizeEnd($event)"
  [enableGhostResize]="true"
  ghostElementPositioning="absolute"
  [validateResize]="validate.bind(this)"
  class="resize-container"
  mwlResizable
>
  <div
    class="resize-handle"
    [class.resize-handle--right]="location() === 'left'"
    [class.resize-handle--left]="location() === 'right'"
    [class.resize-handle--top]="location() === 'top'"
    [class.resize-active]="isResizeActive()"
    [resizeEdges]="{right: location() === 'left', left: location() === 'right', top: location() === 'top'}"
    mwlResizeHandle
  >
    @if (location() === 'top') {
      <div class="resize-handle--top-indicator" [class.resize-handle--top-indicator--primary]="usePrimaryColor()"></div>
    }
  </div>
</div>
