<line-edit
  (updateStroke)="updateStyleAttributes($event)"
  [strokeColor]="polygonStyle.strokeColor"
  [strokeOpacity]="polygonStyle.strokeOpacity"
  [strokeWidth]="polygonStyle.strokeWidth"
>
</line-edit>
<slider-wrapper
  title="Deckkraft Füllung"
  [value]="polygonFillOpacity"
  [overwriteFooter]="true"
  class="drawing-settings-dialog__content__option__width"
>
  <ng-container content>
    <mat-slider [min]="0" [max]="1" [step]="0.01" color="primary" class="drawing-settings-dialog__content__option__width__slider">
      <input matSliderThumb [(ngModel)]="polygonFillOpacity" (ngModelChange)="updateFillAttributes()" />
    </mat-slider>
  </ng-container>
  <ng-container footer>
    <div class="drawing-settings-dialog__content__option__width__footer">
      <span class="drawing-settings-dialog__content__option__width__footer__min"></span>
      <span class="drawing-settings-dialog__content__option__width__footer__max"></span>
    </div>
  </ng-container>
</slider-wrapper>
<div class="drawing-settings-dialog__content__option">
  <span class="drawing-settings-dialog__content__option__label">Füllfarbe</span>
  <input
    class="drawing-settings-dialog__content__option__color-picker"
    type="color"
    [(ngModel)]="polygonFillColor"
    (ngModelChange)="updateFillAttributes()"
  />
</div>
