<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Umrandung</h3>
<slider-edit [formField]="polygonStyleForm.strokeWidth" [minValue]="1" [maxValue]="12" [step]="1" title="Strichstärke" />
<slider-edit [formField]="polygonStyleForm.strokeOpacity" title="Deckkraft" />
<color-picker-edit [formField]="polygonStyleForm.strokeColor" title="Strichfarbe" />
<mat-divider class="divider" />
<h3 class="ktzh-h3-medium ktzh-h3-medium--bold">Füllung</h3>
<slider-edit [formField]="polygonStyleForm.fillOpacity" title="Deckkraft" />
<color-picker-edit [formField]="polygonStyleForm.fillColor" title="Füllfarbe" />
