<div class="hero-header">
  <img aria-hidden="true" alt="Kt. ZH Logo" class="hero-header__image" ngSrc="/assets/images/ktzh_inverted.svg" height="180" width="184" />
  <h1 class="ktzh-h1-giant" [ngClass]="{'ktzh-h1-giant--mobile': screenMode === 'mobile'}">
    {{ heroTitle }}
  </h1>
  <p *ngIf="screenMode !== 'mobile'" class="hero-header__intro-paragraph">
    {{ heroText }}
  </p>
  <p *ngIf="heroSubText" class="hero-header__intro-paragraph hero-header__intro-paragraph--subtext">{{ heroSubText }}</p>
</div>
