@use 'mixins/helpers.mixin' as mixins;
@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

$left-offset: calc(16.66667% - 1.5rem);
$column-gap: 8px;

.hero-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: $column-gap;

  & .hero-header__image {
    width: $left-offset;
  }

  & .hero-header__title {
    margin-bottom: 0;
    word-wrap: break-word;
  }

  & .hero-header__intro-paragraph {
    font-family: ktzh-variables.$zh-font-family-bold;
    font-size: large;
    margin-left: $left-offset;
    padding-left: $column-gap;

    &--subtext {
      font-family: ktzh-variables.$zh-font-family;
      font-size: small;
    }
  }
}
