@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

:host ::ng-deep {
  .map-tools__print-button {
    @include mat-mixins.mat-icon-button-override-border-radius(ktzh-variables.$zh-border-radius);
  }
}

.map-tools {
  @include mixins.map-element-box-shadow;
  width: 48px;
  display: flex;
  flex-direction: column;
  background-color: ktzh-variables.$zh-background-color;

  .map-tools__print-button {
    @include mixins.map-element-box-shadow;
    background-color: ktzh-variables.$zh-background-color;
  }
}
