<div class="map-tools">
  <div class="map-tools__list" [ngClass]="{'map-tools__list--mobile': screenMode === 'mobile'}">
    <ng-container *ngIf="screenMode !== 'mobile'; else mobile">
      <button
        (click)="toggleToolMenu('measurement')"
        [ngClass]="{'map-tools__button--active': toolMenuVisibility === 'measurement'}"
        class="map-tools__button"
        color="accent"
        data-test-id="map-ruler"
        mat-icon-button
      >
        <mat-icon svgIcon="ktzh_measure_menu"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider"></mat-divider>
      <button
        (click)="toggleToolMenu('drawing')"
        [ngClass]="{'map-tools__button--active': toolMenuVisibility === 'drawing'}"
        class="map-tools__button"
        color="accent"
        data-test-id="map-drawing"
        mat-icon-button
      >
        <mat-icon svgIcon="ktzh_drawing_menu"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider"></mat-divider>
      <button (click)="showPrintDialog()" class="map-tools__button" data-test-id="map-print" mat-icon-button>
        <mat-icon svgIcon="ktzh_print"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider"></mat-divider>
      <button (click)="showShareLink()" class="map-tools__button" data-test-id="map-share" mat-icon-button>
        <mat-icon svgIcon="ktzh_share"></mat-icon>
      </button>
    </ng-container>
    <ng-template #mobile>
      <button (click)="showShareLink()" class="map-tools__button" data-test-id="map-share" mat-icon-button>
        <mat-icon svgIcon="ktzh_share"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider" vertical></mat-divider>
      <button
        (click)="showLegend()"
        class="map-tools__button"
        data-test-id="map-legend"
        mat-icon-button
        [disabled]="numberOfQueryLegends === 0"
      >
        <mat-icon svgIcon="ktzh_legend_mobile"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider" vertical></mat-divider>
      <button (click)="locateClient()" class="map-tools__button" data-test-id="map-locate-me" mat-icon-button>
        <mat-icon svgIcon="ktzh_locate_me"></mat-icon>
      </button>
      <mat-divider class="map-tools__divider" vertical></mat-divider>
      <button (click)="toggleBasemapSelection()" class="map-tools__button" data-test-id="map-background-map-mobile" mat-icon-button>
        <mat-icon svgIcon="ktzh_background_map_mobile"></mat-icon>
      </button>
    </ng-template>
  </div>
  <div class="map-tools__list" *ngIf="toolMenuVisibility !== undefined">
    <measurement-tools *ngIf="toolMenuVisibility === 'measurement'"></measurement-tools>
    <drawing-tools *ngIf="toolMenuVisibility === 'drawing'"></drawing-tools>
  </div>
</div>
