@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as helper-functions;

:host ::ng-deep {
  .map-tools__button {
    @include mat-mixins.mat-icon-button-override-border-radius(ktzh-variables.$zh-border-radius);
    @include mat-mixins.mat-icon-custom-svg-size(18px);
    width: 44px;
    height: 44px;
    padding: 10px;

    &--active {
      background-color: helper-functions.get-color-from-palette(ktzh-variables.$zh-primary, 500);
      color: helper-functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary, 500);
    }
  }
}

.map-tools {
  display: flex;
  gap: 6px;
  flex-direction: row-reverse;
  align-items: flex-start;

  .map-tools__list {
    @include mixins.map-element-box-shadow;
    width: 44px;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: ktzh-variables.$zh-background-color;

    .map-tools__divider {
      width: 50%;
      align-self: center;
    }
  }
}
