/* Layout variables
========================== */

$esri-attribution-widget-height: 16px; // 'Powered by Esri' banner height
$navbar-height: 72px;

/* Component Size variables
========================== */

$map-overlay-width: 450px;
$map-overlay-width-adjustment: 12px;
$element-margin: 24px;
$legend-button-width: 125px;
$search-window-width: 783px;
$search-results-width: 716px;
