/* z-indices
========================== */
$navbar: 400; // should always stay on top, only adjust if you know what you're doing
$map-overlay: 100;
$search-window-results: 4;
$map-attribute-filter: 3;
$basemap-selector: 3;
$active-map-item-connection-line: 2;
$feature-info-content-table-header: 2;
$cdk-drag-handle: 2;
$collapsing-flexbox-list-item-hover: 2;
$data-download-order-queue: 2;
$scrollbar-width-calculation-container: 1;
$map-ui-element: 1; // all elements on the map must have this set
