@use 'functions/helper.functions';
@import 'gb3-theme';

.scale-input {
  $_font-family: helper.get-color-from-theme($theme);

  font-family: $_font-family;
  background-color: white;
  padding: 10px;

  .scale-input__wrapper {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #a0a0a0;
    padding-left: 0.5rem;
    overflow: hidden;
    font-size: 14px;
    width: 100px;

    .scale-input__input {
      flex-grow: 1;
      background: white;
      border: none;
      outline: none;
      padding: 0.5rem 0;
      font-family: $_font-family;
      font-size: 14px;
    }
  }
}

/**
 Hide input arrows on number field
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
