<mat-card>
  <mat-card-header>
    <p>Verfügbare Topics</p>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-spinner mode="indeterminate" *ngIf="this.loadingState === LOADING_STATE.LOADING"></mat-progress-spinner>
    <mat-accordion *ngIf="this.loadingState === LOADING_STATE.LOADED" class="layer-catalog" multi="true" displayMode="flat">
      <ng-container *ngFor="let layerCatalogItem of layerCatalogItems">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p>{{ layerCatalogItem.title }}</p>
          </mat-expansion-panel-header>
          <!-- Expansion panel content -->
          <ng-container *ngFor="let topic of layerCatalogItem.topics">
            <mat-expansion-panel hideToggle="true" #topicExpansionPanel>
              <mat-expansion-panel-header (click)="topicExpansionPanel.toggle()">
                <p class="last-left-aligned-element">{{ topic.title }}</p>
                <button mat-button (click)="addActiveTopic(topic)"><mat-icon>playlist_add</mat-icon></button>
                <button mat-button *ngIf="!topicExpansionPanel.expanded" (click)="topicExpansionPanel.open()">
                  <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-button *ngIf="topicExpansionPanel.expanded" (click)="topicExpansionPanel.close()">
                  <mat-icon>expand_more</mat-icon>
                </button>
              </mat-expansion-panel-header>
              <!-- Expansion panel content -->
              <ng-container *ngFor="let topicLayer of topic.layers">
                <div class="horizontal-stacked">
                  <mat-icon>layers</mat-icon>
                  <p class="layer-text last-left-aligned-element">{{ topicLayer.title }}</p>
                  <button mat-button (click)="addActiveLayer(topic, topicLayer)"><mat-icon>playlist_add</mat-icon></button>
                </div>
              </ng-container>
            </mat-expansion-panel>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-card-content>
</mat-card>
