.layer-catalog {
  .horizontal-stacked {
    display: flex;

    .mat-icon {
      vertical-align: middle;
    }

    .layer-text {
      margin: 0 8px;
    }
  }

  .last-left-aligned-element {
    margin-right: auto;
  }
}
