<h3 class="ktzh-h3-medium--bold">Offene Daten</h3>
<p>
  Die offenen Geodaten stehen ohne Nutzungseinschränkungen zur freien Verfügung. Diese Datensätze dürfen für nicht kommerzielle und
  kommerzielle Zwecke verwendet werden. Eine Quellenangabe wird empfohlen.
</p>

<h3 class="ktzh-h3-medium--bold">Nicht offene Daten</h3>

<p></p>

<p>
  Für Geodaten, die nicht unter den OGD-Nutzungsbedingungen veröffentlicht werden (nicht Open Government Data), gibt es
  Nutzungseinschränkungen. Eine Quellenangabe ist zwingend. <br />
  <a
    href="https://www.zh.ch/content/dam/zhweb/bilder-dokumente/themen/planen-bauen/geoinformation/geodaten/geodatenshop/Allgemeine_Bestimmungen_nicht_offene_Geodaten.pdf"
    >Allgemeine Bedingungen für die Nutzung von nicht offenen Geodaten</a
  >(PDF / 4 Seiten / deutsch / 169 KB )
</p>

<h3 class="ktzh-h3-medium--bold">Veröffentlichung von Kartenausschnitten aus dem GIS-Browser</h3>

<p>
  Links auf den GIS-Browser sind ohne Bewilligung zulässig. Alle anderen Geodaten aus dem GIS-ZH dürfen Sie als Kartenausschnitt in einer
  Auflage bis 100 Exemplare ohne Bewilligung veröffentlichen. Sie müssen die Inhaberrechte beachten und die verwendeten Datenteile im
  Quellen-/Grundlagenvermerk angeben. Eine höhere Auflage oder eine Veröffentlichung in öffentlich zugänglichen Datennetzen bedürfen einer
  Bewilligung. Für Auskünfte sowie Anfragen wenden Sie sich bitte an die datenverantwortlichen Stellen.
</p>

<h3 class="ktzh-h3-medium--bold">Quellenangabe</h3>

<p>
  Die Quellenangabe bei der Verwendung von Daten und Karten des GIS-Browsers sind wie folgt zu vermerken:

  <br />
  Geographisches Informationssystem des Kantons Zürich (GIS-ZH), Produktname oder Name der Karte, Link zum Geodatensatz im Geodatenkatalog

  <br />
  Bei der Verwendung von Daten der swisstopo sind zwingend zusätzlich folgende Quellenangabe anzufügen:

  <br />
  «Quelle: Bundesamt für Landestopografie swisstopo» oder «© swisstopo»
</p>
