@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

:host ::ng-deep {
  .map-rotation-button--button {
    @include mat-mixins.mat-icon-button-override-border-radius(ktzh-variables.$zh-border-radius);
    @include mat-mixins.mat-icon-custom-svg-size(24px);
  }
}

.map-rotation-button {
  display: flex;
  justify-content: center;
  align-items: center;

  &--mobile {
    @include mixins.tool-button;
    padding: 0;
  }
}
