<api-dialog-wrapper [savingState]="savingState" title="Favorit löschen" (closeEvent)="abort()">
  <ng-container content>
    Das Löschen des Favoriten <em>"{{ favourite.title }}"</em> kann <strong>nicht</strong> rückgängig gemacht werden.
  </ng-container>
  <ng-container actions>
    <button (click)="abort()" [disabled]="savingState === 'loading'" mat-button>Abbrechen</button>
    <button (click)="delete()" [disabled]="savingState === 'loading'" mat-button>Löschen</button>
  </ng-container>
</api-dialog-wrapper>
