<div class="mobile-warning">
  <img src="./assets/images/ktzh_inverted.svg" class="mobile-warning__zh-logo" />
  <img src="./assets/images/mobile-placeholder.svg" class="mobile-warning__image" />
  <div class="mobile-warning__content">
    <h1>Bildschirmgrösse zu klein</h1>
    <p class="mat-body-1">
      In der aktuellen Prototypphase gibt es noch keine optimierte Version für mobile Geräte oder kleine Bildschirmauflösungen.
    </p>
    <p class="mat-body">
      Bitte verwenden Sie ein Gerät oder ein Browserfenster, dass <strong>mindestens eine Breite von 960px</strong> aufweist (z.B. Tablets
      im Landscape-Modus oder normale Browserfenster).
    </p>
    <p class="mat-body">
      Sobald eine mobile Version zur Verfügung steht, können Sie den GIS-Browser auf allen Geräten mit einer angepassten Bedienung nahtlos
      nutzen.
    </p>
  </div>
</div>
