@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/z-index-variables' as z-index-variables;

.mobile-warning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: ktzh-variables.$zh-white;
  z-index: z-index-variables.$mobile-warning-overlay;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (orientation: landscape) {
    flex-direction: row;
  }

  & .mobile-warning__zh-logo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: ktzh-variables.$zh-darkblue;
    height: 72px;
    padding: 12px;
    border-bottom-right-radius: 40px;
  }

  & .mobile-warning__content {
    flex-grow: 4;
    text-align: center;
    padding: 30px;
  }

  & .mobile-warning__image {
    max-width: 250px;
    flex-grow: 1;
  }
}
