@use '../../../../../../node_modules/@angular/material/index' as mat;
@import 'helpers.mixin';

.basemap-selector {
  @include non-selectable-text;
  display: flex;

  .basemap-selector__active {
    width: 80px;
    height: 80px;
    padding: 5px;
    align-self: flex-end;

    .basemap-selector__active-map-image {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      @include mat.elevation(4);
    }
  }

  .basemap-selector__map-choice {
    align-self: flex-end;
    display: flex;

    .basemap-selector__map-choice__item {
      width: 80px;
      padding: 5px;
      margin: 0 5px;
      word-break: break-word;

      &:hover {
        cursor: pointer;
        @include mat.elevation(4);
      }

      .basemap-selector__map-choice__item__image {
        width: 80px;
        height: 80px;
      }
    }

    .basemap-selector__map-choice__item--active {
      border: 1px solid black;
    }
  }
}
