@use '@angular/material' as mat;
@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.basemap-selector {
  @include mixins.non-selectable-text;
  display: flex;
  flex-direction: row-reverse;

  .basemap-selector__active {
    width: 80px;
    height: 80px;
    padding: 5px;
    align-self: flex-end;
    border-radius: ktzh-variables.$zh-border-radius;

    .basemap-selector__active-map-image {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      @include mat.elevation(4);
    }
  }

  .basemap-selector__map-choice {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    padding: 4px;

    .basemap-selector__map-choice__item {
      width: 100px;
      padding: 5px;
      margin: 0 5px;
      word-break: break-word;

      &:hover {
        cursor: pointer;
        @include mat.elevation(4);
      }

      .basemap-selector__map-choice__item__image {
        width: 80px;
        height: 80px;
      }
    }

    .basemap-selector__map-choice__item--active {
      border: 1px solid ktzh-variables.$zh-border-color;
    }
  }
}
