<map-overlay
  (closeEvent)="close()"
  (printButtonEvent)="print()"
  (resizeEvent)="resizeEvent.emit($event)"
  [width]="width()"
  [isPrintButtonEnabled]="showInteractiveElements() && loadingState() === 'loaded' && featureInfoData().length > 0"
  [printLoadingState]="printLoadingState()"
  [showPrintButton]="showInteractiveElements() && queryMode() === 'feature'"
  [isVisible]="isVisible()"
  overlayTitle="Info"
  location="right"
>
  <query-results [showInteractiveElements]="showInteractiveElements()" />
</map-overlay>
