@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.active-map-item {
  @include mixins.no-box-shadow;
  width: 100%;

  .active-map-item__header {
    padding: 0;
    height: 68px;
    cursor: default;

    .active-map-item__header__content {
      width: 100%;
    }
  }
}
