<div
  class="active-map-item__connection-line active-map-item__connection-line-top"
  *ngIf="!isFirstActiveMapItem && !activeMapItemExpansionPanel.expanded"
></div>
<mat-expansion-panel
  #activeMapItemExpansionPanel
  [@slideInOut]
  hideToggle="true"
  class="active-map-item"
  [ngClass]="{'active-map-item--expanded': activeMapItemExpansionPanel.expanded}"
>
  <mat-expansion-panel-header (click)="activeMapItemExpansionPanel.toggle()" class="active-map-item__header">
    <active-map-item-header
      class="active-map-item__header__active-map-item-header"
      [activeMapItem]="activeMapItem"
      [activeMapItemExpansionPanel]="activeMapItemExpansionPanel"
    >
      <ng-container activeMapItemDragHandle>
        <ng-content select="[activeMapItemDragHandle]"></ng-content>
      </ng-container>
    </active-map-item-header>
  </mat-expansion-panel-header>
  <!-- Expansion panel content -->
  <ng-template matExpansionPanelContent>
    <div class="active-map-item__tabs">
      <div class="active-map-item__tabs__header">
        <div class="active-map-item__tabs__header__buttons">
          <button
            [ngClass]="{'active-map-item__tabs__header__buttons__button--active': activeTab === 'layers'}"
            class="active-map-item__tabs__header__buttons__button"
            mat-flat-button
            (click)="changeTabs('layers')"
          >
            Ebenen
          </button>
          <button
            [ngClass]="{'active-map-item__tabs__header__buttons__button--active': activeTab === 'settings'}"
            class="active-map-item__tabs__header__buttons__button"
            mat-flat-button
            (click)="changeTabs('settings')"
          >
            Einstellungen
          </button>
        </div>
      </div>
      <div
        class="active-map-item__tabs__content"
        [ngClass]="{'active-map-item__tabs__content--expanded': activeMapItemExpansionPanel.expanded}"
      >
        <active-map-item-layers
          [ngClass]="{'active-map-item__tabs__content__item--hidden': activeTab !== 'layers'}"
          [activeMapItem]="activeMapItem"
          class="active-map-item__tabs__content__item"
        ></active-map-item-layers>
        <active-map-item-settings
          [ngClass]="{'active-map-item__tabs__content__item--hidden': activeTab !== 'settings'}"
          [activeMapItem]="activeMapItem"
          class="active-map-item__tabs__content__item"
        ></active-map-item-settings>
      </div>
    </div>
  </ng-template>
</mat-expansion-panel>
<div class="active-map-item__connection-line active-map-item__connection-line-bottom" *ngIf="!isLastActiveMapItem"></div>
