<mat-expansion-panel
  #activeMapItemExpansionPanel
  [@slideInOut]
  hideToggle="true"
  class="active-map-item"
  [ngClass]="{'active-map-item--active': activeMapItemExpansionPanel.expanded}"
>
  <mat-expansion-panel-header
    (click)="activeMapItemExpansionPanel.toggle()"
    class="active-map-item__header"
    [ngClass]="{'active-map-item__header--active': activeMapItemExpansionPanel.expanded}"
  >
    <active-map-item-header
      class="active-map-item__header__content"
      [activeMapItem]="activeMapItem"
      [activeMapItemExpansionPanel]="activeMapItemExpansionPanel"
    >
      <ng-container activeMapItemDragHandle>
        <ng-content select="[activeMapItemDragHandle]"></ng-content>
      </ng-container>
    </active-map-item-header>
  </mat-expansion-panel-header>
  <!-- Expansion panel content -->
  <ng-template matExpansionPanelContent>
    <div>
      <mat-tab-group animationDuration="0" backgroundColor="primary" dynamicHeight>
        <mat-tab label="Ebenen" [disabled]="activeMapItem.isSingleLayer">
          <ng-template matTabContent>
            <active-map-item-layers [activeMapItem]="activeMapItem" class="active-map-item__content"></active-map-item-layers>
          </ng-template>
        </mat-tab>
        <mat-tab label="Einstellungen">
          <active-map-item-settings [activeMapItem]="activeMapItem" class="active-map-item__content"></active-map-item-settings>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>
</mat-expansion-panel>
