<p>Attribut-Filter</p>
<mat-card *ngFor="let activeAttributeFilter of activeAttributeFilters">
  <mat-card-header>
    <mat-card-title>{{ activeAttributeFilter.filterConfig.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="activeAttributeFilter.filterConfig.description">{{
      activeAttributeFilter.filterConfig.description
    }}</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngFor="let activeAttributeFilterValue of activeAttributeFilter.activeAttributeFilterValues">
    <mat-checkbox
      [checked]="!activeAttributeFilterValue.attributeFilterValue.isActive"
      (change)="changeFilter(activeAttributeFilter.parameter, activeAttributeFilterValue.name, $event.checked)"
      >{{ activeAttributeFilterValue.name }}</mat-checkbox
    >
  </ng-container>
</mat-card>
