@use 'functions/helper.function' as functions;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

:host ::ng-deep .attribute-filter__content__checkbox {
  @include mat-mixins.mat-checkbox-override-accent-color(
    functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent),
    functions.get-contrast-color-from-palette(ktzh-variables.$zh-secondary-accent)
  );

  &--unchecked {
    @include mat-mixins.mat-checkbox-override-label-color(ktzh-variables.$zh-black40);
  }
}

.attribute-filter {
  max-height: inherit;
  width: map-layout-variables.$map-overlay-width;

  .no-box-shadow {
    @include mixins.no-box-shadow;
    border-radius: ktzh-variables.$zh-border-radius;
  }

  .attribute-filter__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .attribute-filter__header__title {
      @include mixins.single-line-text;
      font-weight: bold;
      margin: 0;
    }
  }

  .attribute-filter__content {
    overflow-y: scroll;

    .attribute-filter__content__text {
      padding: 1em 0;
    }

    .attribute-filter__content__checkbox {
      padding-left: 16px;
    }
  }
}
