<div class="coordinate-scale-inputs" typedTourAnchor="map.navigation">
  <div class="coordinate-scale-inputs__scale">
    <data-input prefix="1:">
      <input
        (change)="setScale($event)"
        [(ngModel)]="scaleInput"
        class="coordinate-scale-inputs__input"
        type="text"
        aria-label="Massstab anpassen"
      />
    </data-input>
  </div>
  <div class="coordinate-scale-inputs__coordinate">
    <data-input>
      <input
        (change)="setMapCenterAndDrawHighlight($event)"
        (keydown.enter)="setMapCenterAndDrawHighlight($event)"
        [(ngModel)]="mapCenterInput"
        class="coordinate-scale-inputs__input"
        type="text"
        aria-label="Koordinaten eingeben"
      />
    </data-input>
  </div>
  <map-rotation-button [rotation]="rotation"></map-rotation-button>
</div>
