@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.list-item {
  @include mixins.no-box-shadow;
  margin-bottom: 12px;

  .list-item__header {
    padding: 0 12px;
    background-color: ktzh-variables.$zh-black20;
    height: 38px;
    min-height: 38px;

    .list-item__header__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;

      .list-item__header__content__toggle {
        min-width: 24px;
        max-width: 24px;
      }

      .list-item__header__content__title {
        @include mixins.multiline-ellipsis(2);
        font-family: ktzh-variables.$zh-font-family-bold;
        width: 100vw;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

/**
  The print overrides are important because the grey color used as header background is so light that it's not always
  visible in print. We add borders to add a visual guidance as to which elements belong to each other.
 */
@media print {
  .list-item {
    border: 1px solid ktzh-variables.$zh-black100;

    .list-item__header {
      border-bottom: 1px solid ktzh-variables.$zh-black100;
    }
  }
}
