@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.list-item {
  @include mixins.no-box-shadow;
  margin-bottom: 24px;

  .list-item__header {
    padding: 0 12px;
    background-color: ktzh-variables.$zh-black20;
    min-height: 54px;
    max-height: 54px;

    .list-item__header__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;

      .list-item__header__content__toggle {
        min-width: 24px;
        max-width: 24px;
      }

      .list-item__header__content__title {
        @include mixins.multiline-ellipsis(2);
        font-family: ktzh-variables.$zh-font-family-bold;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }

      .list-item__header__content__info-link {
        text-decoration: none;
        color: inherit;

        :hover {
          color: ktzh-variables.$zh-black40;
        }

        .list-item__header__content__info-link__icon {
          display: flex;
          min-width: 24px;
          max-width: 24px;
          scale: 0.8;
        }
      }
    }
  }
}

/**
  The print overrides are important because the grey color used as header background is so light that it's not always
  visible in print. We add borders to add a visual guidance as to which elements belong to each other.
 */
@media print {
  .list-item {
    border: 1px solid ktzh-variables.$zh-print-black;

    .list-item__header {
      border-bottom: 1px solid ktzh-variables.$zh-print-black;
    }
  }
}

:host::ng-deep .list-item .mat-expansion-panel-content .mat-expansion-panel-body {
  padding-right: 0;
}
