<start-page-section [background]="'primary'">
  <hero-header
    heroText="Herzlich Willkommen im neuen GIS-Browser! Wir verstehen, dass die Verwendung eines neuen Tools manchmal überwältigend sein kann, aber keine Sorge, wir sind hier, um Ihnen zu helfen. Unser Ziel ist es, Ihnen eine nahtlose und benutzerfreundliche Erfahrung zu bieten, damit Sie schnell und einfach auf die gewünschten Informationen zugreifen können. In diesem Hilfe- und Support-Bereich finden Sie alle Informationen, die Sie benötigen, um den neuen Kartenviewer zu nutzen."
    heroTitle="Hilfe & Support"
  >
  </hero-header>
</start-page-section>

<start-page-section sectionTitle="FAQ">
  <faq></faq>
</start-page-section>

<start-page-section sectionTitle="Supportanfrage"> <contact></contact> </start-page-section>

<start-page-section sectionTitle="Weiterführende Informationen"> <useful-links></useful-links> </start-page-section>

<!-- <div class="support-page">
  <div class="support-page__content">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
        [routerLink]="supportPageEnum.Faq"
        mat-tab-link
        routerLinkActive="current"
        #faqIsActive="routerLinkActive"
        [active]="faqIsActive.isActive"
        >FAQ</a
      >
      <a
        [routerLink]="supportPageEnum.UsefulLinks"
        mat-tab-link
        routerLinkActive="current"
        #linksIsActive="routerLinkActive"
        [active]="linksIsActive.isActive"
        >Hilfreiche Links</a
      >
      <a
        [routerLink]="supportPageEnum.Contact"
        mat-tab-link
        routerLinkActive="current"
        #contactIsActive="routerLinkActive"
        [active]="contactIsActive.isActive"
        >Supportanfrage</a
      >
    </nav>
    <mat-tab-nav-panel #tabPanel class="support-page__content__tab">
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div> -->
