<div class="support-page">
  <div class="support-page__content">
    <h1>Hilfe & Support</h1>
    <p>
      Herzlich Willkommen im neuen GIS-Browser! Wir verstehen, dass die Verwendung eines neuen Tools manchmal überwältigend sein kann, aber
      keine Sorge, wir sind hier, um Ihnen zu helfen. Unser Ziel ist es, Ihnen eine nahtlose und benutzerfreundliche Erfahrung zu bieten,
      damit Sie schnell und einfach auf die gewünschten Informationen zugreifen können. In diesem Hilfe- und Support-Bereich finden Sie alle
      Informationen, die Sie benötigen, um den neuen Kartenviewer zu nutzen.
    </p>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a routerLink="faq" mat-tab-link routerLinkActive="current" #faqIsActive="routerLinkActive" [active]="faqIsActive.isActive">FAQ</a>
      <a
        routerLink="useful-links"
        mat-tab-link
        routerLinkActive="current"
        #linksIsActive="routerLinkActive"
        [active]="linksIsActive.isActive"
        >Hilfreiche Links</a
      >
      <a routerLink="contact" mat-tab-link routerLinkActive="current" #rla="routerLinkActive" [active]="rla.isActive">Supportanfrage</a>
    </nav>
    <mat-tab-nav-panel #tabPanel class="support-page__content__tab">
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
