@use 'variables/z-index-variables' as z-index-variables;

.container {
  height: 50px;
  width: 50px;
  overflow: scroll;
  visibility: hidden;
  pointer-events: none;
  z-index: z-index-variables.$scrollbar-width-calculation-container;
}
