@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.search-result-entry-support {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 11px 0;
  height: 46px;

  .search-result-entry-support__description {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .search-result-entry-support__description__title {
      @include mixins.single-line-text;
      font-weight: bold;
    }

    .search-result-entry-support__description__properties {
      display: flex;
      gap: 12px;

      .search-result-entry-support__description__properties__title {
        color: ktzh-variables.$zh-black60;
      }

      & > p {
        @include mixins.single-line-text;
        flex: 1 0 auto;

        &:last-of-type {
          flex: 1 1 auto;
        }
      }
    }
  }
}
