<div class="feature-info-content">
  <table class="feature-info-content__table">
    <tr class="feature-info-content__table__row">
      <th class="feature-info-content__table__row__column feature-info-content__table__row__column--header"></th>
      <th
        (mouseenter)="this.addHoverHighlightForFeature(tableHeader.fid)"
        (mouseleave)="this.removeHoverHighlightForFeature(tableHeader.fid)"
        *ngFor="let tableHeader of this.tableHeaders"
        [featureId]="tableHeader.fid"
        [layerId]="this.layer.layer"
        [topicId]="this.topicId"
        class="feature-info-content__table__row__column feature-info-content__table__row__column--header"
        tableColumnIdentifier
      >
        <div class="feature-info-content__table__row__column__wrapper">
          {{ tableHeader.displayValue }}
          <mat-radio-button
            #highlightButton
            (click)="this.toggleHighlightForFeature(tableHeader.fid, highlightButton)"
            labelPosition="before"
          >
            Markieren:
          </mat-radio-button>
        </div>
      </th>
    </tr>
    <ng-container *ngFor="let tableRow of this.tableRows | keyvalue">
      <tr class="feature-info-content__table__row">
        <th class="feature-info-content__table__row__column feature-info-content__table__row__column--header">{{ tableRow.key }}</th>
        <td
          (mouseenter)="this.addHoverHighlightForFeature(cellValue.fid)"
          (mouseleave)="this.removeHoverHighlightForFeature(cellValue.fid)"
          *ngFor="let cellValue of tableRow.value"
          [featureId]="cellValue.fid"
          [layerId]="this.layer.layer"
          [topicId]="this.topicId"
          class="feature-info-content__table__row__column"
          tableColumnIdentifier
        >
          {{ cellValue.displayValue }}
        </td>
      </tr>
    </ng-container>
  </table>
</div>
