@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.feature-info-content {
  padding-top: 16px;

  .feature-info-item__class-list-entry {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 12px;
    padding: 4px 0;

    .feature-info-item__class-list-entry__icon,
    .feature-info-item__class-list-entry__text {
      align-self: center;
      display: flex;
    }

    .feature-info-item__class-list-entry__text {
      @include mixins.multiline-ellipsis(2);
    }
  }
}

/** custom */
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: small;

  & tr {
    vertical-align: top;
  }

  & > tr > th:nth-of-type(1) {
    min-width: 130px;
    max-width: 130px;
    position: sticky;
    left: 0;
  }

  & > tr > th:not(:first-child) {
    min-width: 200px;
    max-width: 200px;
  }

  & th,
  td {
    background-color: ktzh-variables.$zh-white;
    padding: 7px 8px;
  }

  // set background color for cells, alternating
  & tr:nth-child(odd) {
    & > th,
    td {
      background-color: ktzh-variables.$zh-black20;
    }
  }

  // override the upper left cell to be white
  & > tr:first-child > th:first-child {
    background-color: ktzh-variables.$zh-white;
  }

  & .key-column {
    border-right: 1px solid black;
  }
}

.highlighted {
  border-left: 1px solid ktzh-variables.$zh-active-blue !important;
  border-right: 1px solid ktzh-variables.$zh-active-blue !important;
}

tr:first-of-type > th.highlighted {
  background-color: ktzh-variables.$zh-active-blue !important;
}

tr:last-of-type > td.highlighted {
  border-left: 1px solid ktzh-variables.$zh-active-blue !important;
  border-right: 1px solid ktzh-variables.$zh-active-blue !important;
  border-bottom: 1px solid ktzh-variables.$zh-active-blue !important;
}
