<h2>Umrandung</h2>
<slider-edit
  (updateValue)="updateValue('strokeWidth', $event)"
  [sliderValue]="pointStyle.strokeWidth"
  [min]="1"
  [max]="12"
  [step]="1"
  title="Strichstärke"
>
</slider-edit>
<slider-edit (updateValue)="updateValue('strokeOpacity', $event)" [sliderValue]="pointStyle.strokeOpacity" title="Deckkraft"> </slider-edit>
<color-picker-edit (updateColor)="updateValue('strokeColor', $event)" [fillColor]="pointStyle.strokeColor" title="Strichfarbe">
</color-picker-edit>
<mat-divider class="divider"></mat-divider>
<h2>Füllung</h2>
<slider-edit (updateValue)="updateValue('fillOpacity', $event)" [sliderValue]="pointStyle.fillOpacity" title="Deckkraft"> </slider-edit>
<color-picker-edit (updateColor)="updateValue('fillColor', $event)" [fillColor]="pointStyle.fillColor" title="Füllfarbe">
</color-picker-edit>
<mat-divider class="divider"></mat-divider>

<h2>Größe</h2>
<slider-edit
  (updateValue)="updateValue('pointRadius', $event)"
  [sliderValue]="pointStyle.pointRadius"
  [min]="1"
  [max]="50"
  [step]="1"
  title="Radius"
>
</slider-edit>
