<h2>Umrandung</h2>
<slider-edit
  (updateValue)="updateSliderValue('strokeWidth', $event)"
  [sliderValue]="pointStyle.strokeWidth"
  [min]="1"
  [max]="12"
  [step]="1"
  title="Strichstärke"
>
</slider-edit>
<slider-edit (updateValue)="updateSliderValue('strokeOpacity', $event)" [sliderValue]="pointStyle.strokeOpacity" title="Deckkraft">
</slider-edit>
<color-picker-edit (updateColor)="updateColorValue('strokeColor', $event)" [fillColor]="pointStyle.strokeColor" title="Strichfarbe">
</color-picker-edit>

<h2>Füllung</h2>
<slider-edit (updateValue)="updateSliderValue('fillOpacity', $event)" [sliderValue]="pointStyle.fillOpacity" title="Deckkraft">
</slider-edit>
<color-picker-edit (updateColor)="updateColorValue('fillColor', $event)" [fillColor]="pointStyle.fillColor" title="Füllfarbe">
</color-picker-edit>

<h2>Größe</h2>
<slider-edit
  (updateValue)="updateSliderValue('pointRadius', $event)"
  [sliderValue]="pointStyle.pointRadius"
  [min]="1"
  [max]="50"
  [step]="1"
  title="Radius"
>
</slider-edit>
