@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

$search-height: 106px;
$search-height-compact: 60px;

.data-catalogue-overview__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - $search-height / 2);

  &--mobile {
    margin-top: calc(0px - $search-height-compact / 2);
  }

  .data-catalogue-overview__search__bar {
    @include mixins.map-element-box-shadow;
    width: ktzh-variables.$zh-layout-max-content-width;
    height: $search-height;
    background-color: ktzh-variables.$zh-background-color;
  }

  @media (max-width: calc(ktzh-variables.$zh-layout-max-content-width + 48px)) {
    .data-catalogue-overview__search__bar {
      width: calc(100vw - 62px);

      &--mobile {
        width: calc(100vw - 24px);
        height: $search-height-compact;
      }
    }
  }
}

.data-catalogue-overview {
  display: flex;
  justify-content: center;

  .data-catalogue-overview__content {
    max-width: ktzh-variables.$zh-layout-max-content-width;
    width: 100%;

    .data-catalogue-overview__content__active-filters {
      display: flex;
      align-items: center;
      gap: 8px;

      &--mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      .data-catalogue-overview__content__active-filters__result-size {
        display: flex;
        flex-shrink: 0;
      }
    }

    .cdk-table {
      display: flex;
      flex-flow: column;
    }
  }
}
