<start-page-section [background]="'primary'">
  <hero-header
    heroTitle="Datenkatalog"
    heroText="Der Datenkatalog listet Geodaten auf und lässt sich nach verschiedenen Kriterien sortieren. Die Geodaten bestehen aus Geodatensätzen, Geodiensten und GIS-Browser Karten sowie den eigentlichen Geometadaten."
  ></hero-header>
</start-page-section>
<div *ngIf="dataCatalogueFilters" style="display: flex">
  <div *ngFor="let filter of dataCatalogueFilters">
    <b>{{ filter.label }}</b>
    <li *ngFor="let filterValue of filter.filterValues" (click)="toggleFilter(filter.key, filterValue.value)">
      <span *ngIf="filterValue.isActive">X</span>{{ filterValue.value }}
    </li>
  </div>
</div>
<div class="data-catalogue-overview">
  <div class="data-catalogue-overview__content">
    <loading-and-process-bar [loadingState]="loadingState"></loading-and-process-bar>

    <ng-container *ngIf="loadingState === 'loaded'">
      <mat-paginator [pageSize]="20" hidePageSize showFirstLastButtons></mat-paginator>
      <cdk-table [dataSource]="dataCatalogueItems">
        <ng-container cdkColumnDef="data">
          <cdk-cell *cdkCellDef="let row">
            <data-catalogue-overview-item [item]="row"></data-catalogue-overview-item>
          </cdk-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <cdk-row *cdkRowDef="let row; columns: ['data']"></cdk-row>
      </cdk-table>
    </ng-container>
    <b *ngIf="loadingState === 'error'">Fehler beim Laden der Metadatenübersicht.</b>
  </div>
</div>
