<div class="map-tools-mobile">
  <button (click)="showShareLink()" class="map-tools-mobile__button" data-test-id="map-share" mat-icon-button>
    <mat-icon svgIcon="ktzh_share"></mat-icon>
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical></mat-divider>
  <button
    (click)="showLegend()"
    class="map-tools-mobile__button"
    data-test-id="map-legend"
    mat-icon-button
    [disabled]="numberOfQueryLegends === 0"
  >
    <mat-icon svgIcon="ktzh_legend_mobile"></mat-icon>
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical></mat-divider>
  <button
    (click)="locateClient()"
    class="map-tools-mobile__button"
    data-test-id="map-locate-me"
    mat-icon-button
    [disabled]="this.geolocationState.loadingState === 'loading'"
  >
    <mat-icon svgIcon="ktzh_locate_me"></mat-icon>
    <loading-and-process-bar [loadingState]="this.geolocationState.loadingState"></loading-and-process-bar>
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical></mat-divider>
  <button (click)="toggleBasemapSelection()" class="map-tools-mobile__button" data-test-id="map-background-map-mobile" mat-icon-button>
    <mat-icon svgIcon="ktzh_background_map_mobile"></mat-icon>
  </button>
</div>
