<div class="map-tools-mobile">
  <button (click)="showShareLink()" class="map-tools-mobile__button" data-test-id="map-share" mat-icon-button matTooltip="Teilen">
    <mat-icon svgIcon="ktzh_share" />
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical />
  <button
    (click)="showLegend()"
    class="map-tools-mobile__button"
    data-test-id="map-legend"
    mat-icon-button
    [disabled]="numberOfQueryLegends() === 0"
    matTooltip="Legende"
  >
    <mat-icon svgIcon="ktzh_legend_mobile" />
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical />
  <button
    (click)="locateClient()"
    class="map-tools-mobile__button"
    data-test-id="map-locate-me"
    mat-icon-button
    [disabled]="geolocationState().loadingState === 'loading'"
    [matTooltip]="
      geolocationState().loadingState === 'error'
        ? geolocationState().errorReason || 'Ein Fehler ist aufgetreten'
        : 'Deinen Standort anzeigen'
    "
  >
    <mat-icon svgIcon="ktzh_locate_me" />
    <loading-and-process-bar [loadingState]="geolocationState().loadingState" />
  </button>
  <mat-divider class="map-tools-mobile__divider" vertical />
  <button
    (click)="toggleBasemapSelection()"
    class="map-tools-mobile__button"
    data-test-id="map-background-map-mobile"
    mat-icon-button
    matTooltip="Hintergrundkarte wählen"
  >
    <mat-icon svgIcon="ktzh_background_map_mobile" />
  </button>
</div>
