<mat-card class="legend-widget" *ngIf="isVisible">
  <mat-card-header class="legend-widget__header">
    <button mat-icon-button>
      <mat-icon (click)="close()">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <h1>Legende</h1>
    <div *ngFor="let legendItem of legendItems">
      <h2>{{ legendItem.topic }}</h2>
      <ul>
        <li *ngFor="let layer of legendItem.layers">
          {{ layer.title }}
          <ul>
            <li *ngFor="let layerClass of layer.layer_classes">
              <img src="https://maps.zh.ch/{{ layerClass.image }}" />{{ layerClass.label }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
