@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.active-map-item-layer {
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .active-map-item-layer__drag-handle {
    min-width: 24px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &:disabled {
      cursor: inherit;
    }
  }

  .active-map-item-layer__drag-handle {
    min-width: 44px;
    height: 44px;
    display: grid;
    align-items: center;

    .active-map-item-layer__drag-handle__icon {
      justify-self: center;
      grid-column: 1;
      grid-row: 1;
    }
  }

  .active-map-item-layer__checkbox {
    @include mixins.mat-checkbox-override-color(ktzh-variables.$zh-active-blue, ktzh-variables.$zh-white);
  }

  .active-map-item-layer__title {
    @include mixins.single-line-text;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    &--inactive {
      color: ktzh-variables.$zh-black40;
    }
  }
}
