@use 'variables/ktzh-design-variables' as ktzh-variables;

.map-controls {
  display: grid;
  padding: 5px;

  :host ::ng-deep {
    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
      border-radius: ktzh-variables.$zh-border-radius;
    }
  }

  .map-controls__button {
    background-color: ktzh-variables.$zh-background-color;
    margin-top: 2px;
    border-radius: ktzh-variables.$zh-border-radius;
  }
}
