<div class="map-controls">
  <button mat-icon-button (click)="this.toggleMeasurement()" color="accent" class="map-controls__button" data-test-id="map-ruler">
    <mat-icon>straighten</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="this.locateClient()"
    color="accent"
    class="map-controls__button"
    data-test-id="map-locate-me"
    #tooltip="matTooltip"
    [matTooltip]="this.geolocationState.errorReason ?? ''"
    [matTooltipDisabled]="this.geolocationState.loadingState !== 'error'"
    [disabled]="this.geolocationState.loadingState === 'loading'"
  >
    <mat-icon>my_location</mat-icon>
    <loading-and-process-bar [loadingState]="this.geolocationState.loadingState"></loading-and-process-bar>
  </button>
  <button mat-icon-button (click)="this.goToInitialExtent()" color="accent" class="map-controls__button" data-test-id="map-home">
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="this.handleZoom('zoomIn')"
    color="accent"
    [disabled]="this.isMaxZoomedIn"
    class="map-controls__button"
    data-test-id="map-add"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="this.handleZoom('zoomOut')"
    color="accent"
    [disabled]="this.isMaxZoomedOut"
    class="map-controls__button"
    data-test-id="map-remove"
  >
    <mat-icon>remove</mat-icon>
  </button>
</div>
