<api-dialog-wrapper title="Daten beziehen" [savingState]="loadingState()" (closeEvent)="cancel()">
  <ng-container content>
    <div class="data-download-select-municipality-dialog">
      @if (municipalities()) {
        <mat-form-field class="data-download-select-municipality-dialog__content" appearance="fill">
          <mat-label>Gemeinde</mat-label>
          <input
            type="text"
            placeholder="Bitte auswählen"
            aria-label="Gemeinde"
            matInput
            (input)="filterValue.set($event.target.value)"
            [matAutocomplete]="municipalityAutocomplete"
          />
          <mat-autocomplete
            requireSelection
            #municipalityAutocomplete="matAutocomplete"
            [displayWith]="getMunicipalityName"
            (optionSelected)="municipalityForm.municipality().value.set($event.option.value)"
          >
            @for (municipality of filteredMunicipalities(); track municipality) {
              <mat-option [value]="municipality">
                {{ municipality.name }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      }
    </div>
  </ng-container>
  <ng-container actions>
    <button (click)="cancel()" mat-button>Abbrechen</button>
    <button (click)="continue()" mat-button [disabled]="loadingState() !== 'loaded' || !municipalityForm().valid()">Weiter</button>
  </ng-container>
</api-dialog-wrapper>
