<div class="map-management-mobile-header">
  @if (filterString() === undefined) {
    <div class="map-management-mobile-header__buttons">
      <button
        [class.map-management-mobile-header__buttons__button--selected]="activeTab() === 'activeMaps'"
        class="map-management-mobile-header__buttons__button"
        mat-flat-button
        (click)="changeTabs('activeMaps')"
      >
        <div class="map-management-mobile-header__buttons__button__inner">
          <span> Aktive Karten </span>
          <span
            class="map-management-mobile-header__badge"
            [class.map-management-mobile-header__badge--hidden]="activeMapItems().length === 0"
            [matBadge]="activeMapItems().length"
          ></span>
        </div>
      </button>
      <button
        [class.map-management-mobile-header__buttons__button--selected]="activeTab() === 'mapsCatalogue'"
        class="map-management-mobile-header__buttons__button"
        mat-flat-button
        (click)="changeTabs('mapsCatalogue')"
      >
        Kartenkatalog
      </button>
    </div>
  }
  <div class="map-management-mobile-header__tools">
    <search-input
      class="map-management-mobile-header__tools__filter"
      [class.map-management-mobile-header__tools__filter--hidden]="activeTab() !== 'mapsCatalogue'"
      mode="mobile"
      [showFilterButton]="false"
      [alwaysEnableClearButton]="true"
      placeholderText="Karten und Layer filtern"
      (focusEvent)="startFiltering()"
      (changeSearchTermEvent)="filterCatalog($event)"
      (clearSearchTermEvent)="clearInput()"
    />
    <div
      class="map-management-mobile-header__tools__buttons"
      [class.map-management-mobile-header__tools__buttons--hidden]="activeTab() !== 'activeMaps'"
    >
      <button
        class="map-management-mobile-header__tools__buttons__action map-management-mobile-header__tools__buttons__action--notices"
        (click)="showMapNotices()"
        [disabled]="numberOfNotices() === 0"
        mat-icon-button
      >
        @if (numberOfUnreadNotices() > 0) {
          <notification-indicator />
        }
        <mat-icon svgIcon="ktzh_notification" />
      </button>
      <mat-divider class="map-management-mobile-header__tools__buttons__divider" [vertical]="true" />
      <button
        (click)="removeAllActiveMapItems()"
        [disabled]="activeMapItems().length === 0"
        mat-icon-button
        class="map-management-mobile-header__tools__buttons__action"
      >
        <mat-icon svgIcon="ktzh_delete" />
      </button>
      <mat-divider class="map-management-mobile-header__tools__buttons__divider" [vertical]="true" />
      <span
        #tooltip="matTooltip"
        [matTooltipDisabled]="isAuthenticated() && activeMapItems().length > 0"
        [matTooltip]="
          isAuthenticated() && activeMapItems().length === 0
            ? favouriteHelperMessages.noMapsAdded
            : favouriteHelperMessages.notAuthenticated
        "
      >
        <button
          (click)="showFavouriteDialog()"
          [disabled]="activeMapItems().length === 0 || !isAuthenticated()"
          mat-icon-button
          class="map-management-mobile-header__tools__buttons__action"
        >
          <mat-icon svgIcon="ktzh_star" />
        </button>
      </span>
    </div>
  </div>
</div>
<div class="map-management-mobile-content" [class.map-management-mobile-content--filtering]="filterString() !== undefined">
  <div body>
    <active-map-items [class.map-management-mobile-content--hidden]="activeTab() !== 'activeMaps'" />
    <map-data-catalogue [class.map-management-mobile-content--hidden]="activeTab() !== 'mapsCatalogue'" />
  </div>
</div>
