<div class="map-management-mobile-header">
  <div class="map-management-mobile-header__buttons" *ngIf="!isSearching">
    <button
      [ngClass]="{'map-management-mobile-header__buttons__button--selected': activeTab === 'activeMaps'}"
      class="map-management-mobile-header__buttons__button"
      mat-flat-button
      (click)="changeTabs('activeMaps')"
    >
      <div class="map-management-mobile-header__buttons__button__inner">
        <span> Aktive Karten </span>
        <span
          class="map-management-mobile-header__badge"
          [ngClass]="{'map-management-mobile-header__badge--hidden': activeMapItems.length === 0}"
          [matBadge]="activeMapItems.length"
        ></span>
      </div>
    </button>
    <button
      [ngClass]="{'map-management-mobile-header__buttons__button--selected': activeTab === 'mapsCatalogue'}"
      class="map-management-mobile-header__buttons__button"
      mat-flat-button
      (click)="changeTabs('mapsCatalogue')"
    >
      Kartenkatalog
    </button>
  </div>
  <div class="map-management-mobile-header__tools">
    <div
      class="map-management-mobile-header__tools__filter"
      [ngClass]="{'map-management-mobile-header__tools__filter--hidden': activeTab !== 'mapsCatalogue'}"
    >
      <input
        #filterInput
        class="map-management-mobile-header__tools__filter__input"
        placeholder="Karten und Layer filtern"
        type="text"
        (focus)="setIsSearching()"
      />
      <span class="map-management-mobile-header__tools__filter__input-icon">
        <mat-icon svgIcon="ktzh_search"></mat-icon>
      </span>
      <button mat-button (click)="clearInput()" class="map-management-mobile-header__tools__filter__input-close-button">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div
      class="map-management-mobile-header__tools__buttons"
      [ngClass]="{'map-management-mobile-header__tools__buttons--hidden': activeTab !== 'activeMaps'}"
    >
      <button
        class="map-management-mobile-header__tools__buttons__action map-management-mobile-header__tools__buttons__action--notices"
        (click)="showMapNotices()"
        [disabled]="numberOfNotices === 0"
        [matBadge]="numberOfUnreadNotices"
        [matBadgeHidden]="numberOfUnreadNotices === 0"
        mat-icon-button
      >
        <mat-icon svgIcon="ktzh_notification"></mat-icon>
      </button>
      <mat-divider class="map-management-mobile-header__tools__buttons__divider" [vertical]="true"></mat-divider>
      <button
        (click)="removeAllActiveMapItems()"
        [disabled]="activeMapItems.length === 0"
        mat-icon-button
        class="map-management-mobile-header__tools__buttons__action"
      >
        <mat-icon svgIcon="ktzh_delete"></mat-icon>
      </button>
      <mat-divider class="map-management-mobile-header__tools__buttons__divider" [vertical]="true"></mat-divider>
      <span
        #tooltip="matTooltip"
        [matTooltipDisabled]="this.isAuthenticated && this.activeMapItems.length > 0"
        [matTooltip]="
          this.isAuthenticated && this.activeMapItems.length === 0
            ? this.favouriteHelperMessages.noMapsAdded
            : this.favouriteHelperMessages.notAuthenticated
        "
      >
        <button
          (click)="showFavouriteDialog()"
          [disabled]="activeMapItems.length === 0 || !this.isAuthenticated"
          mat-icon-button
          class="map-management-mobile-header__tools__buttons__action"
        >
          <mat-icon svgIcon="ktzh_star"></mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="map-management-mobile-content" [ngClass]="{'map-management-mobile-content--searching': isSearching}">
  <div [ngSwitch]="activeTab" body>
    <active-map-items *ngSwitchCase="'activeMaps'"></active-map-items>
    <map-data-catalogue *ngSwitchCase="'mapsCatalogue'"></map-data-catalogue>
  </div>
</div>
