@use 'functions/helper.function' as functions;
@use 'mixins/material.mixin' as mat-mixins;
@use 'mixins/helpers.mixin' as mixins;
@use 'variables/ktzh-design-variables' as ktzh-variables;

:host ::ng-deep {
  .map-management-mobile-header__tools__buttons__action--notices {
    .mat-badge-content.mat-badge-active {
      top: 12px;
      right: 16px;
      font-size: 0;
      width: 8px;
      height: 8px;
    }

    @include mat-mixins.mat-badge-override-color(ktzh-variables.$zh-red, ktzh-variables.$zh-white);
  }

  .map-management-mobile-header__tools__buttons__action {
    @include mixins.tool-button-mobile;
  }
}

.map-management-mobile-header {
  padding-bottom: 35px;
  background-color: ktzh-variables.$zh-darkblue;
  width: 100vw;
  left: 0;
  position: absolute;
  z-index: 100;

  .map-management-mobile-header__buttons {
    display: flex;
    border-width: 3px;
    border-style: solid;
    border-color: functions.get-color-from-palette(ktzh-variables.$zh-primary, 900);
    border-radius: ktzh-variables.$zh-border-radius;
    margin: 0 9px;

    .map-management-mobile-header__buttons__button {
      width: 100%;
      color: functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary);
      background-color: functions.get-color-from-palette(ktzh-variables.$zh-primary);
      height: 48px;

      &--selected {
        background-color: functions.get-color-from-palette(ktzh-variables.$zh-primary, 900);
      }

      &:disabled {
        color: ktzh-variables.$zh-disabled-foreground-color;
      }

      .map-management-mobile-header__buttons__button__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      .map-management-mobile-header__badge {
        margin-right: auto;
        margin-left: 12px;
        margin-bottom: 0;
        height: 24px;
        width: 24px;
        @include mat-mixins.mat-badge-inherit-size;
        @include mat-mixins.mat-badge-override-color(
          functions.get-contrast-color-from-palette(ktzh-variables.$zh-primary),
          functions.get-color-from-palette(ktzh-variables.$zh-primary)
        );

        &--hidden {
          display: none;
        }
      }
    }
  }

  .map-management-mobile-header__tools {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100vw;

    .map-management-mobile-header__tools__filter {
      @include mixins.map-element-box-shadow;
      width: calc(100vw - 24px);
      background-color: ktzh-variables.$zh-white;
      height: 46px;

      &--hidden {
        display: none;
      }
    }

    .map-management-mobile-header__tools__buttons {
      @include mixins.map-element-box-shadow;
      display: flex;
      justify-content: center;
      background-color: ktzh-variables.$zh-background-color;
      z-index: 1;
      border-radius: ktzh-variables.$zh-border-radius;

      &--hidden {
        display: none;
      }

      .map-management-mobile-header__tools__buttons__divider {
        height: 12px;
        align-self: center;
        color: ktzh-variables.$zh-disabled-foreground-color;
      }
    }
  }
}

.map-management-mobile-content {
  margin-top: 112px;

  &--filtering {
    margin-top: 58px;
  }
}
