.share-link-redirect {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  .share-link-redirect__header {
    display: flex;
    align-items: center;
    justify-content: center;

    .redirect__header__item {
      margin: 4px;
    }
  }
}
