@use 'functions/helper.function' as functions;
@use 'src/styles/variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;

.search-window__searchbar {
  @include mixins.map-element-box-shadow;
  background-color: ktzh-variables.$zh-background-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  pointer-events: all;
  align-items: center;
  border: 3px solid ktzh-variables.$zh-black50;

  &:focus-within {
    border: 3px solid ktzh-variables.$zh-cyan;
  }

  .search-window__searchbar__input {
    width: 413px;
    height: 40px;
    outline: none;
    border: none;
    margin: 3px 0 3px 0;
  }

  .search-window__searchbar__input-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 4px;
    color: ktzh-variables.$zh-black50;
  }

  .search-window__searchbar__close-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 4px;
    color: ktzh-variables.$zh-black100;

    &:hover {
      cursor: pointer;
    }
  }

  .search-window__searchbar__filter-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 4px;
    color: ktzh-variables.$zh-black100;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      color: ktzh-variables.$zh-cyan;
    }
  }

  .search-window__searchbar__divider {
    right: 45px;
    height: 20px;
    border-width: 1px;
    border-color: ktzh-variables.$zh-black100;
  }
}

.search-window__filter-menu {
  @include mixins.map-element-box-shadow;
  width: 300px;
  background-color: ktzh-variables.$zh-background-color;

  .search-window__filter-menu__filter-close-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 5px;
    position: absolute;
    color: ktzh-variables.$zh-black100;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .search-window__filter-menu__filter-content {
    .search-window__filter-menu__filter-content__filter-header {
      font-size: 15px;
      padding: 10px;
      margin: 0;
    }

    .search-window__filter-menu__filter-content__filter-entry {
      padding-left: 12px;

      // ':host ::ng-deep' is not working here as the context is within the overlay container
      ::ng-deep .search-window__filter-menu__filter-content__filter-entry__filter-checkbox {
        @include mat-mixins.mat-checkbox-override-color(
          functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent),
          functions.get-contrast-color-from-palette(ktzh-variables.$zh-secondary-accent)
        );

        &--unchecked {
          @include mat-mixins.mat-checkbox-override-label-color(ktzh-variables.$zh-black40);
        }
      }
    }
  }
}

.search-window__results_container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 56px;
}
