@use 'src/styles/variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.search-window__searchbar {
  background-color: ktzh-variables.$zh-white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  pointer-events: all;

  .search-window__input {
    width: 484px;
    height: 40px;
    padding: 0 5px 0 45px;
    border: 3px solid grey;
    margin: 5px;
    outline: none;
  }

  .search-window__input:focus {
    border: 3px solid ktzh-variables.$zh-cyan;

    & + .search-window__input-icon {
      color: ktzh-variables.$zh-black100;
    }
  }

  .search-window__input-icon {
    height: 30px;
    width: 30px;
    margin: 16px 5px 5px 16px;
    position: absolute;
    color: grey;
  }

  .search-window__x-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 11px;
    position: absolute;
    color: black;
    right: 0;
  }

  .search-window__x-icon:hover {
    cursor: pointer;
  }

  .search-window__filter-icon {
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 11px;
    position: absolute;
    right: 35px;
    color: ktzh-variables.$zh-black100
  }

  .search-window__filter-icon:hover {
    cursor: pointer;
  }


  .search-window__filter-icon.selected {
     color: ktzh-variables.$zh-cyan;
   }

  .search-window__filter-icon-selected:hover {
    cursor: pointer;
  }

  .search-window__divider {
    position: absolute;
    right: 45px;
    height: 20px;
    top: 18px;
    border-width: 1px;
    border-color: ktzh-variables.$zh-black100;
  }
}

::ng-deep  {
  .search-window__filter-menu {
    width: 300px;
    .search-window__filter-x-icon {
      height: 24px;
      width: 24px;
      padding: 5px;
      margin: 0 11px 11px 11px;
      position: absolute;
      color: ktzh-variables.$zh-black100;
      right: 0;
    }
    .search-window__filter-x-icon:hover {
      cursor: pointer;
    }
    .search-window__filter-content {
      .search-window__filter-header {
        font-size: 15px;
        padding: 10px;
        margin: 0;
      }
      .search-window__filter-entry {
        padding-left: 12px;
        .search-window__filter-checkbox {
          .mdc-checkbox__background {
            --mdc-checkbox-selected-focus-icon-color: #00797b;
            --mdc-checkbox-selected-hover-icon-color: #00797b;
            --mdc-checkbox-selected-icon-color: #00797b;
            --mdc-checkbox-selected-pressed-icon-color: #00797b;
            --mdc-checkbox-unselected-focus-icon-color: #00797b;
            --mdc-checkbox-unselected-hover-icon-color: #00797b;
            --mdc-checkbox-disabled-selected-icon-color: #00797b;
            --mdc-checkbox-disabled-unselected-icon-color: #00797b;
            --mdc-checkbox-unselected-icon-color: #00797b;
            --mdc-checkbox-unselected-pressed-icon-color: #00797b;
          }
        }
      }
    }
  }
}

.search-window__results_container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 56px;

  .search-window__results {
    display: flex;
    flex-direction: column;
    width: 475px;
    margin-left: 5px;
    height: 100%;

    .search-window__group {
      padding: 5px;
      max-height: 33%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: ktzh-variables.$zh-white;
      pointer-events: all;

      .search-window__header {
        padding: 4px;
        margin: 0;
        background-color: lightgrey;
        font-size: 15px;
      }

      .search-window__element-container {
        overflow-y: scroll;

        .search-window__element {
          box-shadow: none;
          font-size: 14px;


          .search-window__element-header {
            font-weight: bold;
            padding: 5px 5px 0 5px;
          }

          .search-window__element-content {
            padding: 5px;
          }

          .search-window__map-content {
            display: flex;
            padding: 5px;

            .search-window__map-image {
              height: 32px;
              width: 32px;
              align-self: center;
              margin-right: 8px;
              border-radius: 4px;
            }

            .search-window__map-title {
              @include mixins.single-line-text;
              margin-right: auto;
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }

        .search-window__element:hover {
          cursor: pointer;
          background-color: ktzh-variables.$zh-background-color;
        }
      }
    }
  }
}
