<div class="search-window">
  <div [ngClass]="screenMode === 'mobile' ? 'search-window__searchbar-mobile' : 'search-window__searchbar'">
    <search
      mode="compact"
      placeholderText="Suchen nach Adressen, Orten, Karten und mehr..."
      (changeSearchTermEvent)="searchForTerm($event)"
      (clearSearchTermEvent)="clearSearchTerm()"
      (openFilterEvent)="openFilterMenu()"
    ></search>
  </div>
  <div [ngClass]="screenMode === 'mobile' ? 'search-window__results-mobile' : 'search-window__results'">
    <result-groups></result-groups>
  </div>
</div>
