<div class="search-window">
  <div class="search-window__searchbar" [ngClass]="{'search-window__searchbar--mobile': screenMode === 'mobile'}">
    <search
      mode="compact"
      class="search-window__searchbar--mobile__box"
      placeholderText="Suchen nach Adressen, Orten, Karten und mehr..."
      (changeSearchTermEvent)="searchForTerm($event)"
      (clearSearchTermEvent)="clearSearchTerm()"
      (openFilterEvent)="openFilterMenu()"
      (focusEvent)="handleFocus()"
      [showClearButton]="screenMode !== 'mobile'"
      [showFilterButton]="screenMode !== 'mobile'"
    ></search>
  </div>
  <div class="search-window__results-container" *ngIf="screenMode !== 'mobile'">
    <result-groups></result-groups>
  </div>
</div>
