@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'variables/z-index-variables' as z-index-variables;
@use 'variables/map-layout-variables' as map-layout-variables;

.search-window {
  .search-window__searchbar {
    @include mixins.map-element-box-shadow;
    width: map-layout-variables.$search-window-width;
    background-color: ktzh-variables.$zh-background-color;
    pointer-events: all;
    overflow: hidden;
  }

  @media (max-width: calc(map-layout-variables.$map-overlay-width + map-layout-variables.$element-margin + map-layout-variables.$legend-button-width + map-layout-variables.$element-margin + map-layout-variables.$search-window-width)) {
    .search-window__searchbar {
      width: calc(
        100vw -
          (
            map-layout-variables.$map-overlay-width + map-layout-variables.$element-margin + map-layout-variables.$legend-button-width +
              map-layout-variables.$element-margin
          )
      );
    }
    .search-window__searchbar-mobile {
      width: auto;
    }
  }

  .search-window__results-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    width: map-layout-variables.$search-results-width;
    z-index: z-index-variables.$search-window-results;
  }

  @media (max-width: calc(map-layout-variables.$map-overlay-width + map-layout-variables.$element-margin + map-layout-variables.$legend-button-width + map-layout-variables.$element-margin + map-layout-variables.$search-window-width)) {
    .search-window__results-container {
      width: calc(
        100vw -
          (
            map-layout-variables.$map-overlay-width + map-layout-variables.$element-margin + map-layout-variables.$legend-button-width +
              map-layout-variables.$element-margin
          ) - (map-layout-variables.$search-window-width - map-layout-variables.$search-results-width)
      );
    }
  }

  .search-window__results-mobile {
    @include mixins.map-element-box-shadow;
    background-color: ktzh-variables.$zh-background-color;
    pointer-events: all;
    max-height: 60vh;
    overflow-y: scroll;
  }
}
