@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.mat-mdc-slide-toggle.mat-primary {
  .mdc-switch.mdc-switch--selected:enabled,
  .mdc-switch.mdc-switch--selected:enabled:focus,
  .mdc-switch.mdc-switch--selected:enabled:hover:not(:focus):not(:active) {
    .mdc-switch__track::after {
      background: functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent, 500);
    }

    .mdc-switch__handle::after {
      border-color: functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent, 500);
      background: none;
      border-width: 2px;
    }
  }

  .mdc-switch.mdc-switch--unselected:enabled,
  .mdc-switch.mdc-switch--unselected:enabled:focus,
  .mdc-switch.mdc-switch--unselected:enabled:hover:not(:focus):not(:active) {
    .mdc-switch__handle::after {
      border-color: functions.get-color-from-palette(ktzh-variables.$zh-accent, 100);
      background: none;
      border-width: 2px;
    }
  }

  .mdc-label {
    padding-left: 0px;
  }
}
