@use 'functions/helper.function' as functions;
@use 'variables/ktzh-design-variables' as ktzh-variables;

.mdc-switch:enabled {
  .mdc-switch__track::after {
    background: functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent, 300) !important;
  }
}

.mdc-switch.mdc-switch--selected:enabled {
  .mdc-switch__handle::after {
    background: functions.get-color-from-palette(ktzh-variables.$zh-secondary-accent, 900) !important;
  }
}

.mdc-label {
  padding-left: 0px !important;
}
