@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.oereb-detail-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.oereb-detail-list__link {
  @include mixins.external-link-decoration;
  display: block;
}

.oereb-detail-list__item {
  color: ktzh-variables.$zh-black60;
}
