@use 'variables/ktzh-design-variables' as ktzh-variables;

/// Prevents text in an element (e.g. a div) from becoming selectable
@mixin non-selectable-text {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin single-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin no-box-shadow {
  box-shadow: none;
}

@mixin map-element-box-shadow {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
}

@mixin multiline-ellipsis($number-of-lines) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@mixin center-absolute-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
