@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'functions/helper.function' as functions;

/**
* ======================
*  cdk-drag
* ======================
*/

@mixin cdk-drag-placeholder($height) {
  background: ktzh-variables.$zh-blue;
  border: dotted 3px ktzh-variables.$zh-darkblue;
  box-sizing: border-box;
  height: $height;
  width: 100%;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@mixin cdk-drag-handle-nested {
  width: 100%;
  height: 100%;
  z-index: ktzh-variables.$cdk-drag-handle;
  grid-column: 1;
  grid-row: 1;
  cursor: grab;
}

/**
* ======================
*  mat-badge
* ======================
*/

@mixin mat-badge-inherit-size {
  .mat-badge-content {
    height: inherit;
    width: inherit;
    display: grid;
    font-size: 100%;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    align-content: center;
  }
}

@mixin mat-badge-override-color($background-color, $foreground-color) {
  .mat-badge-content.mat-badge-active {
    background-color: $background-color !important;
    color: $foreground-color !important;
  }
}

/**
* ======================
*  mat-button
* ======================
*/

@mixin mat-button--align-icon-right {
  display: flex;
  flex-direction: row-reverse;

  .mat-icon {
    margin-left: 8px;
    margin-right: 0;
  }
}

/**
 * Creates a link button element in the Kt. ZH style.
 */
@mixin mat-button-ktzh-link {
  @include mat-button--align-icon-right;
  color: functions.convert-hex-to-rgba(ktzh-variables.$zh-black100, 0.6);
  font-family: ktzh-variables.$zh-font-family;
  letter-spacing: normal;
}

/**
* ======================
*  mat-icon-button
* ======================
*/

@mixin mat-icon-button-override-unthemed-color($background-color, $foreground-color) {
  &.mdc-icon-button.mat-unthemed {
    @include mat-icon-override-unthemed-color($background-color, $foreground-color);
  }
}

@mixin mat-icon-button-override-icon-size($size) {
  &.mdc-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mat-icon-override-size($size);
  }
}

@mixin mat-icon-button-override-border-radius($radius) {
  &.mat-mdc-icon-button {
    border-radius: $radius;

    .mat-mdc-button-persistent-ripple.mdc-icon-button__ripple {
      border-radius: $radius;
    }
  }
}

/**
* ======================
*  mat-checkbox
* ======================
*/

// overrides 'accent' theme as 'accent' is the default theme for material checkboxes (there is no 'unthemed' class)
@mixin mat-checkbox-override-accent-color($background-color, $foreground-color) {
  &.mat-mdc-checkbox.mat-accent .mdc-form-field .mdc-checkbox {
    .mdc-checkbox__native-control:not([disabled]) ~ .mdc-checkbox__background {
      background-color: $foreground-color !important;
      border-color: $background-color !important;

      .mdc-checkbox__checkmark {
        background-color: $background-color;

        .mdc-checkbox__checkmark-path {
          stroke: $foreground-color;
        }
      }
    }

    .mdc-checkbox__ripple {
      background: $background-color !important;
    }
  }
}

@mixin mat-checkbox-override-label-color($color) {
  &.mat-mdc-checkbox .mdc-form-field .mdc-checkbox ~ label {
    color: $color;
  }
}

/**
* ======================
*  mat-expansion-panel
* ======================
*/

@mixin mat-expansion-panel-remove-content-offset {
  &.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
  }
}

/**
* ======================
*  mat-icon
* ======================
*/

@mixin mat-icon-override-unthemed-color($background-color, $foreground-color) {
  .mat-icon.mat-icon-no-color {
    background-color: $background-color;
    color: $foreground-color;
  }
}

@mixin mat-icon-override-size($size) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

/**
* ======================
*  mat-progress-bar
* ======================
*/

@mixin mat-progress-bar-override-height($height) {
  mat-progress-bar {
    height: $height;

    .mdc-linear-progress__bar-inner {
      border-top-width: $height;
    }

    .mdc-linear-progress__buffer-dots {
      background-size: 10px $height;
    }
  }
}
