@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.result-window {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  width: 100%;
  height: 100%;

  .result-window__loading-bar {
    background-color: ktzh-variables.$zh-background-color;
  }

  .result-window__content {
    &--mobile {
      position: absolute;
      left: 0;
      width: 100vw;
      max-height: calc(100% - 112px);
      overflow: scroll;
    }

    .result-window__content__group {
      pointer-events: all;
    }
  }
}
