<cdk-accordion-item
  #accordionItem="cdkAccordionItem"
  [attr.aria-controls]="'media-contact-body-' + ariaIdentifier"
  [attr.aria-expanded]="accordionItem.expanded"
  [attr.id]="'media-contact-header-' + ariaIdentifier"
  class="accordion-item"
  role="button"
  tabindex="0"
  (keydown.space)="toggle($event)"
  (keydown.enter)="toggle($event)"
>
  <div class="accordion-item__content" [ngClass]="'accordion-item__content--' + variant">
    <div
      (click)="accordionItem.toggle()"
      class="accordion-item__content__header"
      [ngClass]="{
        'accordion-item__content__header--opened': accordionItem.expanded,
        'accordion-item__content__header--grey': variant === 'grey',
        'accordion-item__content__header--light': variant === 'light',
      }"
    >
      <h4
        class="ktzh-h4-bigger-regular"
        [ngClass]="{'accordion-item__content__header__text': screenMode === 'mobile' && !accordionItem.expanded}"
      >
        {{ header }}
      </h4>
      <span class="accordion-item__content__header__icon-wrapper">
        <mat-icon [svgIcon]="accordionItem.expanded ? 'ktzh_remove' : 'ktzh_add'"></mat-icon>
      </span>
    </div>
    <section
      [attr.aria-labelledby]="'media-contact-header-' + ariaIdentifier"
      [attr.id]="'media-contact-body-' + ariaIdentifier"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      class="accordion-item__content__body"
    >
      <ng-content></ng-content>
    </section>
  </div>
</cdk-accordion-item>
