<cdk-accordion-item
  #accordionItem="cdkAccordionItem"
  [aria-controls]="'media-contact-body-' + ariaIdentifier()"
  [aria-expanded]="accordionItem.expanded"
  [id]="'media-contact-header-' + ariaIdentifier()"
  class="accordion-item"
  role="button"
  tabindex="0"
  (keydown.space)="toggle($event)"
  (keydown.enter)="toggle($event)"
>
  <div
    class="accordion-item__content"
    [class.accordion-item__content--light]="variant() === 'light'"
    [class.accordion-item__content--dark]="variant() === 'dark'"
    [class.accordion-item__content--grey]="variant() === 'grey'"
  >
    <div
      (click)="accordionItem.toggle()"
      (keydown.space)="accordionItem.toggle()"
      tabindex=""
      class="accordion-item__content__header"
      [class.accordion-item__content__header--opened]="accordionItem.expanded"
      [class.accordion-item__content__header--grey]="variant() === 'grey'"
      [class.accordion-item__content__header--light]="variant() === 'light'"
    >
      <h4
        class="ktzh-h4-bigger-regular"
        [class.accordion-item__content__header__text]="screenMode() === 'mobile' && !accordionItem.expanded"
      >
        {{ header() }}
      </h4>
      <span class="accordion-item__content__header__icon-wrapper">
        <mat-icon [svgIcon]="accordionItem.expanded ? 'ktzh_remove' : 'ktzh_add'" />
      </span>
    </div>
    <section
      [aria-labelledby]="'media-contact-header-' + ariaIdentifier()"
      [id]="'media-contact-body-' + ariaIdentifier()"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      class="accordion-item__content__body"
    >
      <ng-content />
    </section>
  </div>
</cdk-accordion-item>
