@use 'variables/ktzh-design-variables' as ktzh-variables;

.faq {
  padding-bottom: 48px;

  .faq__header {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
  }

  .faq__content {
    font-size: 18px;
    color: ktzh-variables.$zh-black60;
  }
}
