<div class="faq" *ngFor="let faqCollection of this.faqCollections">
  <h3 class="ktzh-h3-small-big">{{ faqCollection.category }}</h3>
  <div>
    <cdk-accordion [multi]="true">
      <generic-list [listData]="faqCollection.items" [itemTemplate]="faqItem"></generic-list>
      <ng-template #faqItem let-faqItem>
        <accordion-item [header]="faqItem.question" variant="dark">
          <p [innerHTML]="faqItem.answer | formatContent" class="faq__content"></p>
        </accordion-item>
      </ng-template>
    </cdk-accordion>
  </div>
</div>
