@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;

.faq {
  padding-bottom: 48px;

  .faq__content {
    font-size: 18px;
    color: ktzh-variables.$zh-black60;

    a {
      @include mixins.external-link-decoration;
    }
  }
}
