<div class="faq" *ngFor="let faqCollection of this.faqCollections">
  <h3 class="ktzh-h3-small-big">{{ faqCollection.category }}</h3>
  <div>
    <cdk-accordion [multi]="true">
      <ul style="margin: 0; padding: 0">
        <li *ngFor="let item of faqCollection.items" style="list-style-type: none">
          <accordion-item [header]="item.question" variant="dark">
            <p [innerHTML]="item.answer | formatContent" class="faq__content"></p>
          </accordion-item>
        </li>
      </ul>
    </cdk-accordion>
  </div>
</div>
