<div class="search" [ngClass]="'search--' + mode">
  <div class="search__bar">
    <mat-icon class="search__bar__icon" svgIcon="ktzh_search"></mat-icon>
    <input
      #searchInput
      class="search__bar__input"
      [ngClass]="{'search__bar__input--mobile': screenMode === 'mobile'}"
      [placeholder]="placeholderText"
      type="text"
      (focus)="focusEvent.emit()"
      [disabled]="disabled"
    />
    @if (showFilterButton && (mode === 'compact' || mode === 'mobile')) {
      <button
        typedTourAnchor="map.search.filter"
        mat-icon-button
        (click)="openFilter()"
        [ngClass]="{'search__bar__filter-button--active': isAnyFilterActive}"
        matTooltip="Suchresultate verfeinern"
        aria-label="Suchresultate verfeinern"
        [disabled]="disabled"
      >
        <mat-icon svgIcon="ktzh_filter"></mat-icon>
      </button>
      <mat-divider [vertical]="true" class="search__bar__divider"></mat-divider>
    }

    @if (clearButtonLabel) {
      <button
        mat-button
        (click)="clearInput()"
        class="search__bar__close-button"
        [disabled]="(!alwaysEnableClearButton && searchInput.value.length === 0) || disabled"
        aria-label="Sucheingabe löschen"
      >
        {{ clearButtonLabel }}
        <mat-icon>close</mat-icon>
      </button>
    } @else {
      <button
        mat-icon-button
        (click)="clearInput()"
        class="search__bar__close-icon-button"
        [disabled]="(!alwaysEnableClearButton && searchInput.value.length === 0) || disabled"
        aria-label="Sucheingabe löschen"
      >
        @if (screenMode === 'mobile') {
          <mat-icon>cancel</mat-icon>
        } @else {
          <mat-icon>close</mat-icon>
        }
      </button>
    }
  </div>
  @if (showFilterButton && mode === 'normal') {
    <button
      class="search__filter-button"
      mat-button
      (click)="openFilter()"
      [ngClass]="{'search__filter-button--active': isAnyFilterActive}"
      [disabled]="disabled"
    >
      Filter
    </button>
  }
</div>
