<div class="search" [ngClass]="'search--' + mode">
  <div class="search__bar">
    <mat-icon class="search__bar__icon" svgIcon="ktzh_search"></mat-icon>
    <input
      #searchInput
      class="search__bar__input"
      [ngClass]="{'search__bar__input--mobile': screenMode === 'mobile'}"
      [placeholder]="placeholderText"
      type="text"
      (focus)="focusEvent.emit()"
      [disabled]="disabled"
    />
    <ng-container *ngIf="showFilterButton && (mode === 'compact' || mode === 'mobile')">
      <button
        typedTourAnchor="map.search.filter"
        mat-icon-button
        (click)="openFilter()"
        [ngClass]="{'search__bar__filter-button--active': isAnyFilterActive}"
        matTooltip="Suchresultate verfeinern"
        [disabled]="disabled"
      >
        <mat-icon svgIcon="ktzh_filter"></mat-icon>
      </button>
      <mat-divider [vertical]="true" class="search__bar__divider"></mat-divider>
    </ng-container>

    <button
      *ngIf="clearButtonLabel; else noClearLabel"
      mat-button
      (click)="clearInput()"
      class="search__bar__close-button"
      [disabled]="(!alwaysEnableClearButton && searchInput.value.length === 0) || disabled"
    >
      {{ clearButtonLabel }}
      <mat-icon>close</mat-icon>
    </button>
    <ng-template #noClearLabel>
      <button
        mat-icon-button
        (click)="clearInput()"
        class="search__bar__close-icon-button"
        [disabled]="(!alwaysEnableClearButton && searchInput.value.length === 0) || disabled"
      >
        <mat-icon *ngIf="screenMode === 'mobile'; else close">cancel</mat-icon>
        <ng-template #close>
          <mat-icon>close</mat-icon>
        </ng-template>
      </button>
    </ng-template>
  </div>
  <button
    class="search__filter-button"
    mat-button
    *ngIf="showFilterButton && mode === 'normal'"
    (click)="openFilter()"
    [ngClass]="{'search__filter-button--active': isAnyFilterActive}"
    [disabled]="disabled"
  >
    Filter
  </button>
</div>
