<h2>Ihre Fragen</h2>
<p>
  Haben Sie Fragen oder Anregungen zu unserer Applikation? Kommen Sie gerne auf uns zu.
  <br />Falls Sie detailliertere Informationen zu Geodaten oder Karten benötigen, wenden Sie sich bitte an die im Geodatenkatalog
  <a href="https://geo.zh.ch/data">Geodatenkatalog</a> angegebene Fachperson.
</p>
<h2>So erreichen Sie uns</h2>
<p>
  Schreiben Sie uns für Ihre Anfragen eine E-Mail an <a [href]="email.href">{{ email.title }}</a
  >.
</p>
<h2>Wie geht es weiter?</h2>
<p>An Arbeitstagen dürfen Sie mit einer ersten Antwort innert 48 Stunden rechnen.</p>
<h2>Immer auf dem neusten Stand sein</h2>
<p>
  Melden Sie sich für unseren Newsletter an und erhalten Sie Aktuelles und Wissenswertes rund um die Karten und Geodaten des GIS-ZH per
  E-Mail. Hier geht es zur <a href="https://www.zh.ch/de/planen-bauen/geoinformation.html#main_editorialnewsletterr">Anmeldung</a>
</p>
