name: GB3 Frontend

# This workflow uses the runner specified in the repository variables, using "vars.RUNNER_VERSION"

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  quality-checks:
    name: Quality Checks
    uses: ./.github/workflows/node-quality-checks.yml
    with:
      cache_key: node-coverage-report-${{ github.sha }}-${{ github.run_id }}
      runner_version: ${{ vars.RUNNER_VERSION }}
  builds:
    name: Test Builds
    uses: ./.github/workflows/node-builds.yml
    with:
      runner_version: ${{ vars.RUNNER_VERSION }}
  docker:
    name: Docker Dry Run
    needs: builds
    runs-on: ${{ vars.RUNNER_VERSION }}
    steps:
      - uses: actions/checkout@v6
      - uses: gisktzh/github-actions/docker-dry-run@main
        with:
          image: gb3-frontend
  sonarcloud:
    name: SonarCloud
    needs: quality-checks
    runs-on: ${{ vars.RUNNER_VERSION }}
    steps:
      - uses: actions/checkout@v6
      - uses: gisktzh/github-actions/sonarcloud-analysis@main
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          coverage_file_path: './coverage/gb3-frontend/lcov.info'
          coverage_cache_key: node-coverage-report-${{ github.sha }}-${{ github.run_id }}
  deploy-dev:
    name: Deploy dev environment
    if: github.ref == 'refs/heads/develop'
    needs:
      - quality-checks
      - builds
      - sonarcloud
      - docker
    uses: ./.github/workflows/node-deploy.yml
    with:
      runner_version: ${{ vars.RUNNER_VERSION }}
