name: Run Quality Checks

on:
  workflow_call:
    inputs:
      cache_key:
        description: 'Cache key for coverage report'
        required: true
        type: string
      runner_version:
        required: true
        type: string
        description: 'Runner version to use for the job'

env:
  NODE_VERSION: '24'

jobs:
  lint:
    name: Run lint
    runs-on: ${{ inputs.runner_version }}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies and run linter
        run: |
          npm ci --ignore-scripts
          npm run lint

  tests:
    name: Run tests
    runs-on: ${{ inputs.runner_version }}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache coverage report
        uses: actions/cache@v5
        with:
          path: './coverage/gb3-frontend/lcov.info'
          key: ${{ inputs.cache_key }}

      - name: Install dependencies and run tests
        run: |
          npm ci --ignore-scripts
          node ./node_modules/.bin/puppeteer browsers install
          npm run test-ci
        env:
          # note: this is required with @arcgis/core >=4.32 due to increased memory usage for type checking
          NODE_OPTIONS: '--max-old-space-size=8192'
