name: Deploy to GH Pages

on:
  workflow_call:
    inputs:
      runner_version:
        required: true
        type: string
        description: 'Runner version to use for the job'
  workflow_dispatch:
    inputs:
      runner_version:
        required: true
        type: choice
        description: 'Runner version to use for the job'
        options:
          - ubuntu-22.04
          - ubuntu-latest

env:
  NODE_VERSION: '22'

jobs:
  build:
    name: Build app
    runs-on: ${{ inputs.runner_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install dependencies and build
        env:
          APP_RELEASE: 'EBP Dev Release'
        run: |
          npm ci --ignore-scripts
          npm run build-dev-ebp
          cp ./dist/browser/index.html ./dist/browser/404.html

      - name: Create CNAME file for custom domain
        run: echo 'dev.geo.zh.ch' > ./dist/browser/CNAME

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist/browser
  deploy:
    name: Deploy to GH pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ${{ inputs.runner_version }}
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
