<mat-card appearance="outlined" class="active-map-items-widget">
  <mat-card-header class="active-map-items__header">
    <div class="active-map-items__header__title">
      <mat-card-title>Aktive Karten/Layer</mat-card-title>
    </div>
    <button
      class="active-map-items__header__buttons"
      mat-raised-button
      color="warn"
      (click)="removeAllActiveMapItems()"
      [disabled]="activeMapItems.length === 0"
    >
      Clear
    </button>
    <button
      class="active-map-items__header__buttons"
      mat-raised-button
      (click)="this.toggleLegend()"
      [disabled]="activeMapItems.length === 0"
    >
      Legende
    </button>
  </mat-card-header>
  <mat-accordion class="active-map-items__content" multi="true" displayMode="flat" cdkDropList (cdkDropListDropped)="dropMapItem($event)">
    <ng-container *ngFor="let activeMapItem of activeMapItems; trackBy: trackByMapItemId">
      <mat-expansion-panel cdkDrag hideToggle="true" #activeMapItemExpansionPanel [@slideInOut]>
        <mat-expansion-panel-header (click)="activeMapItemExpansionPanel.toggle()" class="active-map-item">
          <div class="active-map-item__container">
            <mat-icon class="active-map-item__drag-handle" cdkDragHandle>drag_indicator</mat-icon>
            <button mat-icon-button *ngIf="!activeMapItemExpansionPanel.expanded" (click)="activeMapItemExpansionPanel.open()">
              <mat-icon>arrow_right</mat-icon>
            </button>
            <button mat-icon-button *ngIf="activeMapItemExpansionPanel.expanded" (click)="activeMapItemExpansionPanel.close()">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleMapItemVisibility(activeMapItem)">
              <div class="active-map-item__image-container">
                <img [src]="activeMapItem.topicImageUrl" [alt]="activeMapItem.title" />
                <mat-icon
                  class="active-map-item__image-container__visibility"
                  [fontIcon]="activeMapItem.visible ? 'visibility' : 'visibility_off'"
                ></mat-icon>
              </div>
            </button>
            <p class="active-map-item__title" matTooltip="{{ activeMapItem.title }}">{{ activeMapItem.title }}</p>
            <button mat-icon-button (click)="removeActiveMapItem(activeMapItem)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="active-map-item__menu">
              <button mat-icon-button class="active-map-item__menu__handle" (click)="activeMapItemMenuTrigger.openMenu()">
                <mat-icon>more_horiz</mat-icon>
                <div #activeMapItemMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="activeMapItemMenu"></div>
              </button>
              <mat-menu #activeMapItemMenu="matMenu">
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 1</button>
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 2</button>
              </mat-menu>
            </div>
          </div>
          <loading-and-process-bar
            [loadingState]="activeMapItem.loadingState"
            [viewProcessState]="activeMapItem.viewProcessState"
            class="active-map-item__progress-bar"
          ></loading-and-process-bar>
        </mat-expansion-panel-header>
        <!-- Expansion panel content -->
        <ng-template matExpansionPanelContent>
          <active-map-item [activeMapItem]="activeMapItem"></active-map-item>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</mat-card>
