<mat-card class="active-layer-widget">
  <mat-card-header>
    <p class="last-left-aligned-element">Aktive Topics</p>
    <button
      class="clear-topics-button"
      mat-raised-button
      color="warn"
      (click)="removeAllActiveMapItems()"
      [disabled]="activeMapItems.length === 0"
    >
      Clear
    </button>
    <button class="clear-topics-button" mat-raised-button (click)="this.toggleLegend()" [disabled]="activeMapItems.length === 0">
      Legende
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion multi="true" displayMode="flat" cdkDropList (cdkDropListDropped)="dropMapItem($event)">
      <div *ngFor="let activeMapItem of activeMapItems; trackBy: trackByMapItemId" class="panel">
        <mat-expansion-panel cdkDrag hideToggle="true" #layerExpansionPanel>
          <mat-expansion-panel-header (click)="layerExpansionPanel.toggle()" class="expansion-panel-header">
            <mat-icon class="layer__drag-handle" cdkDragHandle>drag_indicator</mat-icon>
            <button mat-button *ngIf="!layerExpansionPanel.expanded" (click)="layerExpansionPanel.open()">
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button mat-button *ngIf="layerExpansionPanel.expanded" (click)="layerExpansionPanel.close()">
              <mat-icon>expand_more</mat-icon>
            </button>
            <button mat-button (click)="toggleMapItemVisibility(activeMapItem)">
              <div class="layer-image-box">
                <mat-icon class="layer-image">image</mat-icon>
                <mat-icon class="layer-visibility-image" [fontIcon]="activeMapItem.visible ? 'visibility' : 'visibility_off'"></mat-icon>
              </div>
            </button>
            <p class="last-left-aligned-element">{{ activeMapItem.title }}</p>
            <button mat-button (click)="removeActiveMapItem(activeMapItem)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="layer-menu">
              <button class="layer-menu-handle" mat-button (click)="layerMenuTrigger.openMenu()">
                <mat-icon>more_horiz</mat-icon>
                <div #layerMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="layerMenu"></div>
              </button>
              <mat-menu #layerMenu="matMenu">
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 1</button>
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 2</button>
              </mat-menu>
            </div>
            <mat-progress-bar
              *ngIf="activeMapItem.loadingState === 'loading'"
              class="layer-updating-progress"
              mode="query"
            ></mat-progress-bar>
            <mat-progress-bar
              *ngIf="activeMapItem.loadingState === 'error'"
              class="layer-updating-progress"
              color="warn"
              mode="determinate"
              value="100"
            ></mat-progress-bar>
          </mat-expansion-panel-header>
          <!-- Expansion panel content -->
          <ng-template matExpansionPanelContent>
            <!-- Opacity and special filter settings -->
            <div class="layer-settings">
              <mat-card class="no-shadow">
                <p class="layer-settings__title">Transparenz</p>
                <mat-slider
                  class="layer-settings__slider"
                  min="0"
                  max="1"
                  step="0.01"
                  [thumbLabel]="true"
                  [value]="activeMapItem.opacity"
                  (input)="onOpacitySliderChange($event, activeMapItem)"
                ></mat-slider>
              </mat-card>
            </div>

            <ng-container *ngIf="!activeMapItem.isSingleLayer">
              <mat-divider></mat-divider>

              <!-- Layer tree -->
              <div cdkDropList (cdkDropListDropped)="dropSublayer($event, activeMapItem)">
                <ng-container *ngFor="let sublayer of activeMapItem.layers; trackBy: trackByLayerId">
                  <mat-card class="sublayer no-shadow" cdkDrag>
                    <mat-icon class="sublayer__drag-handle" cdkDragHandle>drag_indicator</mat-icon>
                    <button mat-button (click)="toggleSublayerVisibility(activeMapItem, sublayer.id)" [disabled]="!activeMapItem.visible">
                      <div class="layer-image-box">
                        <mat-icon class="layer-image">layers</mat-icon>
                        <mat-icon class="layer-visibility-image" [fontIcon]="sublayer.visible ? 'visibility' : 'visibility_off'"></mat-icon>
                      </div>
                    </button>
                    <p>{{ sublayer.title }}</p>
                  </mat-card>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-card-content>
</mat-card>
