<mat-card appearance="outlined" class="active-map-items-widget">
  <mat-card-header class="active-map-items__header">
    <div class="active-map-items__header__title">
      <mat-card-title>Aktive Karten/Layer</mat-card-title>
    </div>
    <div class="active-map-items__header__buttons">
      <button (click)="removeAllActiveMapItems()" [disabled]="activeMapItems.length === 0" mat-icon-button>
        <mat-icon>delete_outlined</mat-icon>
      </button>
      <span
        #tooltip="matTooltip"
        [matTooltipDisabled]="this.isAuthenticated && this.activeMapItems.length > 0"
        [matTooltip]="
          this.isAuthenticated && this.activeMapItems.length === 0
            ? this.favouriteHelperMessages.noMapsAdded
            : this.favouriteHelperMessages.notAuthenticated
        "
      >
        <button (click)="createFavourite()" [disabled]="activeMapItems.length === 0 || !this.isAuthenticated" mat-icon-button>
          <mat-icon>star_outlined</mat-icon>
        </button>
      </span>
    </div>
  </mat-card-header>
  <mat-accordion (cdkDropListDropped)="dropMapItem($event)" cdkDropList class="active-map-items__content" displayMode="flat" multi="true">
    <ng-container *ngFor="let activeMapItem of activeMapItems; trackBy: trackByMapItemId">
      <mat-expansion-panel #activeMapItemExpansionPanel [@slideInOut] cdkDrag hideToggle="true">
        <mat-expansion-panel-header (click)="activeMapItemExpansionPanel.toggle()" class="active-map-item">
          <div class="active-map-item__container">
            <mat-icon cdkDragHandle class="active-map-item__drag-handle">drag_indicator</mat-icon>
            <button (click)="activeMapItemExpansionPanel.open()" *ngIf="!activeMapItemExpansionPanel.expanded" mat-icon-button>
              <mat-icon>arrow_right</mat-icon>
            </button>
            <button (click)="activeMapItemExpansionPanel.close()" *ngIf="activeMapItemExpansionPanel.expanded" mat-icon-button>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button (click)="toggleMapItemVisibility(activeMapItem)" mat-icon-button>
              <div class="active-map-item__image-container">
                <img [alt]="activeMapItem.title" [src]="activeMapItem.mapImageUrl" />
                <mat-icon
                  [fontIcon]="activeMapItem.visible ? 'visibility' : 'visibility_off'"
                  class="active-map-item__image-container__visibility"
                ></mat-icon>
              </div>
            </button>
            <p class="active-map-item__title" matTooltip="{{ activeMapItem.title }}">{{ activeMapItem.title }}</p>
            <button (click)="removeActiveMapItem(activeMapItem)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <div class="active-map-item__menu">
              <button (click)="activeMapItemMenuTrigger.openMenu()" class="active-map-item__menu__handle" mat-icon-button>
                <mat-icon>more_horiz</mat-icon>
                <div #activeMapItemMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="activeMapItemMenu"></div>
              </button>
              <mat-menu #activeMapItemMenu="matMenu">
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 1</button>
                <!-- TODO: replace this placeholder -->
                <button mat-menu-item>Option 2</button>
              </mat-menu>
            </div>
          </div>
          <loading-and-process-bar
            [loadingState]="activeMapItem.loadingState"
            [viewProcessState]="activeMapItem.viewProcessState"
            class="active-map-item__progress-bar"
          ></loading-and-process-bar>
        </mat-expansion-panel-header>
        <!-- Expansion panel content -->
        <ng-template matExpansionPanelContent>
          <active-map-item [activeMapItem]="activeMapItem"></active-map-item>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
    <button
      (click)="this.toggleLegend()"
      *ngIf="activeMapItems.length !== 0"
      class="active-map-items__content__legend"
      color="primary"
      mat-raised-button
    >
      Legende
    </button>
  </mat-accordion>
</mat-card>
