@use 'functions/helper.functions' as helper;
@import 'gb3-theme';

.active-layer-widget {
  min-width: 350px;
  padding: 0;

  .active-layer__header {
    background-color: helper.get-color-from-theme($theme);
    color: helper.get-contrast-color-from-theme($theme);
    font-family: helper.get-font-family-from-theme($theme);
  }

  .mat-button {
    min-width: 24px;
    padding: 0 8px;
  }

  .clear-active-map-items-button {
    height: 48px;
  }

  .active-map-item-updating-progress {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .expansion-panel-header:hover {
    .active-map-item__drag-handle {
      visibility: visible;
    }

    .active-map-item-image {
      opacity: 0.3;
    }

    .active-map-item-visibility-image {
      display: inline-block;
    }

    .active-map-item-menu .active-map-item-menu-handle {
      visibility: visible;
    }
  }

  .sublayer:hover {
    .active-map-item-image {
      visibility: hidden;
    }

    .active-map-item-visibility-image {
      display: inline-block;
    }

    .sublayer__drag-handle {
      visibility: visible;
    }
  }

  .active-map-item__drag-handle {
    visibility: hidden;
    margin-top: 8px;
  }

  .active-map-item-image-box {
    position: relative;
    float: left;
    margin-top: 8px;

    .active-map-item-visibility-image {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
  }

  .last-left-aligned-element {
    margin-right: auto;
  }

  .active-map-item-menu {
    .active-map-item-menu-handle {
      margin-top: 8px;
      visibility: hidden;
    }

    .mat-button {
      .mat-menu-trigger {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .sublayer {
    display: flex;
    margin-left: 56px;
    padding: 0 8px;
  }

  .sublayer__drag-handle {
    visibility: hidden;
    margin-top: 8px;
  }

  .active-map-item-settings {
    .active-map-item-settings__title {
      margin: 0;
    }

    .active-map-item-settings__slider {
      width: 100%;
    }
  }
}

.no-shadow {
  box-shadow: none;
}
