<api-dialog-wrapper title="Hinweis">
  <ng-container content>
    <div class="data-download-email-confirmation-dialog">
      <p>Die Daten werden Ihnen per Mail zugeschickt, sobald sie bereit sind.</p>
      <div class="data-download-email-confirmation-dialog__check-mark">
        <mat-icon class="data-download-email-confirmation-dialog__check-mark__icon">check</mat-icon>
      </div>
    </div>
  </ng-container>
  <ng-container actions>
    <button (click)="close()" mat-button>Schliessen</button>
  </ng-container>
</api-dialog-wrapper>
