@use 'variables/ktzh-design-variables' as ktzh-variables;
@use 'mixins/helpers.mixin' as mixins;
@use 'mixins/material.mixin' as mat-mixins;
@use 'functions/helper.function' as functions;

:host ::ng-deep .map-data-catalogue__content__items__item {
  @include mat-mixins.mat-expansion-panel-remove-content-indent;
}

.result-group {
  .result-group__container {
    overflow-y: auto;
    max-height: 20vh;

    &--mobile {
      max-height: unset;
    }

    .result-group__container__element {
      box-shadow: none;
      font-size: 14px;

      .result-group__container__element__header {
        font-weight: bold;
        padding: 5px 5px 0 5px;
      }

      .result-group__container__element__content {
        padding: 5px;
      }

      .result-group__container__element__map-content {
        display: flex;
        padding: 5px;

        .result-group__container__element__map-content__image {
          height: 32px;
          width: 32px;
          align-self: center;
          margin-right: 8px;
          border-radius: 4px;
        }

        .result-group__container__element__map-content__title {
          @include mixins.single-line-text;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      &:hover.search-result-group__container__element--interactive {
        cursor: pointer;
        background-color: ktzh-variables.$zh-background-color;
      }
    }
  }
}
