<api-dialog-wrapper title="Kartenhinweise" (closeEvent)="close()">
  <ng-container content>
    <mat-divider />
    @for (activeMapItemWithNotice of activeMapItemsWithNotices; track activeMapItemWithNotice) {
      <div class="map-notice">
        @if (!activeMapItemWithNotice.isSingleLayer && activeMapItemWithNotice.mapImageUrl) {
          <img class="map-notice__image" [alt]="activeMapItemWithNotice.title" [src]="activeMapItemWithNotice.mapImageUrl" />
        }
        <section class="map-notice__text-section">
          <p class="map-notice__text-section__title map-notice__text-section__text">{{ activeMapItemWithNotice.title }}</p>
          <p class="mat-body map-notice__text-section__text">{{ activeMapItemWithNotice.settings.notice }}</p>
        </section>
      </div>
      <mat-divider />
    }
  </ng-container>
  <ng-container actions>
    <div>
      @if (mapNoticesService.skipAutoOpeningOfMapNotices() === '1') {
        <button (click)="enableAutoOpening()" mat-button class="mdc-button--auto-width">Automatisch anzeigen</button>
      } @else {
        <button (click)="closeAndDisableAutoOpening()" mat-button class="mdc-button--auto-width">Nicht mehr automatisch anzeigen</button>
      }
      <button (click)="close()" mat-button>Schliessen</button>
    </div>
  </ng-container>
</api-dialog-wrapper>
